wi-workflow{
    display: flex;
    flex-direction:column;
    width:100%;
    height: 100%;
    overflow: hidden;
    // .workflow-toolbar-wrapper{
    //     display: inline-block;
    //     border: none;
    // }
    .workflow-main-content{
        flex:1;
        display: flex;
        flex-direction: column;
        background-color: #f7f7f7;
        wi-workflow-player{
            flex:1;
            display: flex;
        }
    }
}
