<div ng-if="wiLogplot.showToolbar" class="logplot-toolbar-wrapper" ng-class="{'crop-display':wiLogplot.cropDisplay}">
    @@include('./toolbar/index.html')
</div>
<!-- <div class="logplot-header" style="display: none;"> -->
<div class="logplot-header">
    <div class="well-name-container" style="display: none;">
        <!-- <div class="well-name" ng-bind="wiLogplot.wellModel.properties.name"></div> -->
        <div class="well-name" ng-repeat="well in wiLogplot.getwiD3Ctrl().getListWells() track by $index" ng-style="{'background-color': well.color}">
            {{ well.properties.name }}
        </div>
    </div>
    <div class="scale-container">
        <div ng-if="wiLogplot.currentView">Current View [{{wiLogplot.currentView[0]}},{{wiLogplot.currentView[1]}}]</div>
        &nbsp;
        <div ng-if="wiLogplot.displayView">Display View [{{wiLogplot.displayView[0]}},{{wiLogplot.displayView[1]}}]</div>
    </div>
</div>
<div class="logplot-main-content">
    <div class='slidingbar'>
        <wi-slidingbar
            name="{{wiLogplot.slidingbarName}}"
            container-name="{{wiLogplot.containerName}}"
            ng-init="wiLogplot.getSlidingbarCtrl()">
        </wi-slidingbar>
    </div>
    <div class="track-area">
        <wi-d3 style="width: 100%; flex: 1; display: flex;flex-direction:column;"
               name='{{wiLogplot.wiD3AreaName}}'
               container-name='{{wiLogplot.containerName}}'
               selections='$parent.selections'
               wi-logplot-ctrl='wiLogplot'>
        </wi-d3>
    </div>
</div>
<div class="logplot-footer" wi-element-ready="wiLogplot.onFooterReady()">
    <div class="well-name-container" ng-if="wiLogplot.showFooter">
        <!-- <div class="well-name" ng-bind="wiLogplot.wellModel.properties.name"></div> -->
        <div style="font-size:14px; font-weight: bold;">List Wells</div>
        <div class="well-name" ng-repeat="well in wiLogplot.getwiD3Ctrl().getListWells() track by $index" ng-style="{'background-color': well.wellAttrs.color}">
            {{ well.properties.name }}
        </div>
    </div>
    <div class="footer-icon">
        <span class="info-frp-32x32 font-size-16" style="display: absolute" ng-click="wiLogplot.showFooter = !wiLogplot.showFooter" ng-if="!wiLogplot.showFooter"></span>
        <span class="close-32x32 font-size-16" style="display: absolute" ng-click="wiLogplot.showFooter = !wiLogplot.showFooter" ng-if="wiLogplot.showFooter"></span>
    </div>
</div>
