<div class="logplot-toolbar-wrapper" ng-class="{'crop-display':wiLogplot.cropDisplay}">
    @@include('./toolbar/index.html')
</div>
<div class="logplot-well-name" ng-bind="wiLogplot.wellName"></div>
<div class="logplot-main-content">
    <div class='slidingbar'>
        <wi-slidingbar
            name="{{wiLogplot.slidingbarName}}"
            ng-init="wiLogplot.getSlidingbarCtrl()">
        </wi-slidingbar>
    </div>
    <div class="track-area">
        <wi-d3 style="width: 100%; flex: 1; display: flex;flex-direction:column;"
               name='{{wiLogplot.wiD3AreaName}}'
               wi-logplot-ctrl='wiLogplot'>
        </wi-d3>
    </div>
</div>
