<div class="logplot-toolbar-wrapper" ng-class="{'crop-display':wiLogplot.cropDisplay}">
    @@include('./toolbar/index.html')
    <label style="display: inline-block; vertical-align: bottom;">
        <input type="checkbox" checked="wiLogplot.getwiD3Ctrl().referenceLine()"
            ng-click="wiLogplot.getwiD3Ctrl().toggleReferenceLine()"/>
        Reference Line
    </label>
    &nbsp;
    <label style="display: inline-block; vertical-align: bottom;">
        <input type="checkbox" checked="wiLogplot.getwiD3Ctrl().tooltip()"
            ng-click="wiLogplot.getwiD3Ctrl().toggleTooltip()"/>
        Tooltip
    </label>
</div>
<div class="logplot-well-name" ng-bind="wiLogplot.wellModel.properties.name"></div>
<div class="logplot-main-content">
    <div class='slidingbar'>
        <wi-slidingbar
            name="{{wiLogplot.slidingbarName}}"
            ng-init="wiLogplot.getSlidingbarCtrl()">
        </wi-slidingbar>
    </div>
    <div class="track-area">
        <wi-d3 style="width: 100%; flex: 1; display: flex;flex-direction:column;"
               name='{{wiLogplot.wiD3AreaName}}'
               wi-logplot-ctrl='wiLogplot'>
        </wi-d3>
    </div>
</div>
