exports.SaveFormatButtonClicked = function() {
    console.log('SaveFormatButton is clicked');
}

exports.PrintButtonClicked = function() {
    console.log('PrintButton is clicked');
}

exports.EditFormatButtonClicked = function() {
    console.log('EditFormatButton is clicked');
}

exports.ActiveZoneButtonClicked = function() {
    console.log('ActiveZoneButton is clicked');
}

exports.FrequencyInfoButtonClicked = function() {
    console.log('FrequencyInfoButton is clicked');
}

exports.FrequencyButtonClicked = function() {
    console.log('FrequencyButton is clicked');
}

exports.PercentButtonClicked = function() {
    console.log('PercentButton is clicked');
}

exports.ColorByZoneButtonClicked = function() {
    console.log('ColorByZoneButton is clicked');
}

exports.ColorByInputCurveButtonClicked = function() {
    console.log('ColorByInputCurveButton is clicked');
}

