<form class="form-horizontal">
    <div class='col-sm-offset-1 col-sm-10 {{animateClass}}' style="padding-top:1em;padding-bottom:0.5em;color:red;font-style:italic;">{{message}}</div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-8">
            <ui-select class='height34px' ng-model="selected.zipArchive" 
                ng-change="onSelectZipArchive()" ng-disabled='isDisabled'>
                <ui-select-match placeholder='Select a zip archive'>{{selected.zipArchive.workflowName}}</ui-select-match>
                <ui-select-choices repeat='zip in zipArchives'>
                    <div>{{zip.workflowName}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-sm-2">
            <button ng-click='startImport();'><span style='vertical-align:middle;' class='run-32x32'></span>Run import</button>
        </div>
    </div>
</form>
<div style='flex: 1;overflow:auto;' class="col-sm-offset-1 col-sm-10 console"> 
    <ul style="padding-left:0px;list-style:none;">
        <li style='display:flex' ng-repeat='line in msgQueue'>
            <div style='color:#888;flex-basis:7em;'>[{{line.ts | timeFormat}}]</div>
            <div style='user-select: text;flex:1'>{{line.content}}</div>
        </li>
    </ul>
</div>
