<div class='modal fade'>
    <div class='modal-dialog'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">&times;</button>
                <h4><span class="well-insight-16x16"></span>&nbsp;Curve Average</h4>
            </div>
            <div class="modal-body dialog-style">
                <form class="form-horizontal" action="" name="modalCurveAverage">
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            <span class="well-16x16"></span> Well
                        </label>
                        <div class="col-sm-10">
                            <select ng-model="wiModal.idWell"
                                    class="form-control wi-form-control"
                                    ng-options="well.id as well.properties.name for well in wiModal.wells"
                                    ng-change="wiModal.selectWell(wiModal.idWell)">
                            </select>
                        </div>
                    </div>
                    <h5><span class="depth-blank-16x16"></span>&nbsp;Depth Interval</h5>
                    <div class="form-group">
                        <label class="control-label col-sm-1">
                            Top
                        </label>
                        <div class="col-sm-4">
                            <input ng-model="wiModal.topDepth"
                                    type="number" class="form-control wi-form-control" step="any">
                        </div>
                        <label for="" class="control-label col-sm-1 padding-left-0">Bottom</label>
                        <div class="col-sm-4">
                            <input ng-model="wiModal.bottomDepth"
                                   type="number" class="form-control wi-form-control" step="any">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-default small-button" 
                                    ng-click="wiModal.defaultDepth()">Default</button>
                        </div>
                    </div>
                    <h5>
                        <span class="curve-input-16x16"></span>&nbsp;
                        Input
                    </h5>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-4">Calculation method </label>
                        <div class="col-sm-4">
                            <label>
                                <input ng-model="wiModal.calcMethod"
                                        type="radio" value="lateral" class="wi-form-control"> Lateral Average
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <label>
                                <input ng-model="wiModal.calcMethod"
                                        type="radio" value="arithmetic" class="wi-form-control"> Arithmetic Average
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Curve search mask </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control wi-form-control" ng-model="filterCurve">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Available curves</label>
                        <div class="col-sm-8">
                            <table class="table availableCurve">
                                <thead style="display: block">
                                    <tr>
                                        <th style="width: 15%"></th>
                                        <th style="width: 42%">Curve</th>
                                        <th style="width: 43%">Dataset</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody style="display: block;height: 10em; overflow-y: auto">
                                    <tr ng-repeat="curve in wiModal.availableCurves | filter:{name: filterCurve}"
                                        ng-class="{'selected': curve.flag}">
                                        <td style="width: 15%;"><a ng-click="wiModal.select(curve); wiModal.focus()">
                                            <i class='glyphicon glyphicon-ok' ng-class="{'color-black': curve.flag, 'color-lightgray': !curve.flag}"></i></a>
                                        </td>
                                        <td style="width:42%;">{{curve.name}}</td>
                                        <td style="width: 43%">{{curve.properties.dataset}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h5 class="modal-infomation-title"><span class="save-result-16x16"></span>Output</h5>
                    <div class="form-group">
                        <label for="" class="col-sm-2">Dataset</label>
                        <div class="col-sm-4">
                            <select ng-model="wiModal.idSelectedDataset"
                                    ng-options="dataset.id as dataset.properties.name for dataset in wiModal.datasets"
                                    ng-change="wiModal.onChangeDataset(wiModal.idSelectedDataset)"
                                    class="form-control wi-form-control">
                            </select>
                        </div>
                        <label for="" class="col-sm-2 padding-right-0">Output Curve</label>
                        <div class="col-sm-4">
                            <select ng-model="wiModal.idDesCurve"
                                    ng-options="curve.id as curve.properties.name for curve in wiModal.curvesOnDataset"
                                    class="form-control wi-form-control">
                            </select>
                            <!-- <wi-custom-input model='wiModal.idDesCurve' 
                                            options='wiModal.curvesOnDataset'></wi-custom-input> -->
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class='btn btn-default' ng-click='wiModal.onRunButtonClicked()'><span class="run-16x16"></span>Run</button>
                <button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()'><span class="close-16x16"></span>Cancel</button>
            </div>
        </div>
    </div>
</div>