<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title">MarkerSet</h4>
            </div>
            <div class="modal-body">
                <form action="" class="form-horizontal">
                    <div class="marker-set-edit" style="display: flex">
                        <style>
                            .col-body {
                                display: flex;
                                flex-direction: column;
                                padding: 5px;
                                height: 70%;
                            }
                            .marker-set-edit canvas{
                                width: 100%;
                                height: 26px;
                            }  
                            .left-side {
                                border: 1px solid #eee;
                                border-radius: 5px;
                            }  
                            .mks-heading {
                                height: 30px;
                                border: 1px solid #ccc;
                                border-bottom: none;
                                border-top-right-radius: 5px;
                                border-top-left-radius: 5px;
                                background: #eee;
                            }
                            .marker-area table td {
                                vertical-align: middle;
                            }
                            .mks-search {
                                background-color:white;
                                display: flex;
                                padding-left: 7px; 
                                border: 1px solid #ccc;
                            }
                            .mks-search ::-webkit-input-placeholder {
                               color: #ccc;
                               font-style: italic;
                            }
                        </style>
                        <div class="col-body" style="width: 40%">
                            <div class="mks-heading" style="padding: 0">
                                <p class="text-heading" style="float: left; padding-left: 15px; padding-top: 3px">Markersets</p>
                            </div>
                            <div style='' class="mks-search">
                                <i style="font-size: 16px; line-height:28px;z-index:1;color:#aaa;float: left;" class="fa fa-search"></i>
                                <input type='text' id="focus" style='flex:1; margin-left: -22px; padding-left: 32px;color:steelblue;border: none'        
                                    ng-model="wiModal.filter"
                                    placeholder="[Search]">
                            </div>
                            <wi-scroll id-scroll="'mksdit'" style='flex:1;display:flex;flex-direction:column;height: 60%;border:1px solid #ccc; border-top:none;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;' 
                                        up-trigger='wiModal.upTrigger'
                                        down-trigger='wiModal.downTrigger'>
                                <wi-base-treeview name="markerSetEditTreeview" config="wiModal.markerSetConfig" container="wiModal"
                                    on-click-function="wiModal.clickFunction" filter="{{wiModal.filter}}" show-context-menu-function="wiModal.showTreeContextMenuFunction">
                                </wi-base-treeview>
                            </wi-scroll>
                        </div>
                        <div class='col-body' style="width: 70%">
                            <div class="mks-heading" style="padding: 0">
                                <p class="text-heading" style="float: left; padding-left: 15px; padding-top: 3px">Markers</p>
                                <div class="button-area" style="float: right;">
                                    <label class='btn' ng-click="wiModal.refreshMarkerList()" ng-disabled="wiModal.newMarkerSet || !wiModal.lastSelectedMarkerSet">
                                        <i class="ti-reload" ng-class="{'color-blue': wiModal.lastSelectedMarkerSet, 'color-lightgray': !wiModal.lastSelectedMarkerSet}"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="content-area">
                                <div class="marker-area">
                                    <table class="text-on-table table table-bordered" ng-show="wiModal.markers.length!==0">
                                        <thead>
                                            <tr>
                                                <th width="10%"></th>
                                                <th width="20%">Marker name</th>
                                                <th width="20%">Depth</th>
                                                <th width="20%">Color</th>
                                                <th width="30%">Description</th>
                                            </tr>
                                        </thead>
                                        <tbody style="border:1px solid #ccc; border-top:none;border-radius:5px;">
                                            <tr ng-repeat="marker in wiModal.markers | orderBy: wiModal.markerOrder" ng-init="marker.flag = false" ng-class="{'selected': marker.flag}">
                                                <td style="width: 10%; text-align: center;" class="border-right-gray" ng-click="wiModal.selectMarkerToggle(marker)">
                                                    <i class='glyphicon glyphicon-ok' ng-class="{'color-black': marker.showOnTrack, 'color-lightgray': !marker.showOnTrack}"></i>
                                                </td>
                                                <td width="20%">
                                                    {{marker.marker_template.name}}
                                                </td>
                                                <td width="20%">
                                                    <input type="number" step="any" ng-model="marker.depth" class="form-control" ng-change="wiModal.onMarkerChanged(marker);" readonly 
                                                        style="height: auto;">
                                                </td>
                                                <td width="20%">
                                                    <button type="button"
                                                            ng-style="{'background-color':marker.marker_template.color}"
                                                            class="form-control wi-form-control width-80px thick-border">
                                                    </button>
                                                </td>
                                                <td width="30%">
                                                    <input type="text" 
                                                            ng-model="marker.marker_template.description" 
                                                            class="form-control" readonly 
                                                            style="height: auto;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onOkButtonClicked()" class="btn btn-default"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked()" class="btn btn-default"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>