<div class='modal fade' data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog modal-1000'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">&times;</button>
                <h4><span class=""></span>&nbsp;RegressionLines</h4>
            </div>
            <div class="modal-body text-center">
                <div class="container-fluid padding-0">
                    <!-- <div class="col-sm-11 padding-right-0"> -->
                        <form class="form-horizontal">
                            <table class="font-size-10px table table-bordered regressionLineTable availableCurve">
                            <thead>
                                <tr>
                                    <th style="width: 3%">#</th>
                                    <th style="width: 7%">Display Line</th>
                                    <th style="width: 7%">Display Equation</th>
                                    <th style="width: 14%">Line Style</th>
                                    <th style="width: 14%">Reg type</th>
                                    <th style="width: 7%">Inverse Reg</th>
                                    <th style="width: 14%">Include/Exclude</th>
                                    <th>Polygons</th>
                                    <th style="width: 7%">FitX</th>
                                    <th style="width: 7%">FitY</th>
                                    <th style="width: 7%">
                                        <button class="btn btn-default" ng-click="wiModal.addRow();">
                                            <span class="plus-16x16"></span>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="regLine in wiModal.getRegressionLines() track by $index" ng-class="{'selected':$index == selectedRow}" ng-click="wiModal.setClickedRow($index)">
                                    <td style="width: 3%">{{$index+1}}</td>
                                    <td style="width: 7%">
                                        <input type="checkbox" ng-model="regLine.displayLine" ng-change="wiModal.onChange(regLine.index)">
                                    </td>
                                    <td style="width: 7%">
                                        <input type="checkbox" ng-model="regLine.displayEquation" ng-change="wiModal.onChange(regLine.index)">
                                    </td>
                                    <td style="width: 14%">
                                        <div ng-model="regLine.lineStyle" id="lineStyleSvg" ng-change="wiModal.onChange(regLine.index)" ng-click="wiModal.onEditLineStyleButtonClicked(regLine.index); wiModal.onChange(regLine.index)">
                                            <svg height="20" width="75">
                                                <line x1="0" y1="10" x2="75" y2="10" stroke-dasharray="{{regLine.lineStyle.lineStyle.join(',')}}" style="stroke:{{regLine.lineStyle.lineColor}};stroke-width:{{regLine.lineStyle.lineWidth}}"
                                                />
                                            </svg>
                                        </div>
                                    </td>
                                    <td style="width: 14%">
                                        <select ng-model="regLine.regType" class="form-control wi-form-control" ng-change="wiModal.onChange(regLine.index)">
                                            <option value="Linear">Linear</option>
                                            <option value="Exponent">Exponent</option>
                                            <option value="Power">Power</option>
                                        </select>
                                    </td>
                                    <td style="width: 7%">
                                        <input ng-model="regLine.inverseReg" type="checkbox" ng-change="wiModal.onChange(regLine.index)">
                                    </td>
                                    <td style="width: 14%">
                                        <select ng-model="regLine.exclude" class="form-control wi-form-control" ng-change="wiModal.onChange(regLine.index)" ng-options="(item?'Exclude':'Include') for item in [true, false]">
                                        </select>
                                    </td>
                                    <td>
                                        <multiselect class="input-xlarge" multiple="true" ng-model="regLine.polygons" options="p for p in wiModal.polygonList" change="selected()"
                                            ng-change="wiModal.onChange(regLine.index);">
                                        </multiselect>
                                    </td>
                                    <td style="width: 7%">
                                        <input type="number" ng-model="regLine.fitX" class="form-control wi-form-control" ng-change="wiModal.onChange(regLine.index)" step="any">
                                    </td>
                                    <td style="width: 7%">
                                        <input type="number" ng-model="regLine.fitY" class="form-control wi-form-control" ng-change="wiModal.onChange(regLine.index)" step="any">
                                    </td>
                                    <td style="width: 7%">
                                        <button class="btn btn-default" ng-click="wiModal.removeRow(regLine.index);">
                                            <span class="delete-16x16"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </form>
                    <!-- </div> -->
                </div>

            </div>

            <div class="modal-footer">
                 <button ng-click="wiModal.onApplyButtonClicked()" class="btn btn-default">
                    <span class="ok-16x16"></span>&nbsp;Apply
                </button>
                <button ng-click="wiModal.onOkButtonClicked()" class="btn btn-default">
                    <span class="ok-16x16"></span>&nbsp;Ok
                </button>
                <button class="btn btn-default" ng-click="wiModal.onCancelButtonClicked()">
                    <span class="cancel-16x16"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>
