wi-toolbar {
    display:inline-block;
    margin: 1px;
    & > div {
        padding: 2px;
        background-color: #f0f0f0;
    }
    & > .wi-toolbar-label {
        margin: 0.2em;
        padding: 0.2em;
        text-align: center;
        width: 100%;
        background-color: darkgray ;
    }
}

.toolbar-vertical {

}

.toolbar-horizontal {
    & > wi-button {
        display: block;
    }
}