<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Object Track Properties - {{wiModal.title}}</h4>
            </div>
            <div class="modal-body">
                <form action="" class="form-horizontal dialog-style">
                    <div class="container-fluid">
                        <div id="header">
                            <h5 class="normal-text">Header</h5>
                            <div class="form-group">
                                <div class="col-sm-7">
                                    <label for="isShowTitle" class="padding-left-2em">
                                        <input type="checkbox" id="isShowTitle" ng-model="wiModal.isShowTitle">Show title
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-5 padding-left-3em" for="title">Title</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control wi-form-control" value="" name="title" id="title" ng-model="wiModal.title" ng-disabled="!wiModal.isShowTitle">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="topJust" class="control-label col-sm-5 padding-left-3em">Top Justification</label>
                                <div class="col-sm-7">
                                    <select ng-model="wiModal.topJustification" name="topJust" value="" class="form-control wi-form-control" id="topJust" ng-disabled="!wiModal.isShowTitle">
                                        <option value="left">Left</option>
                                        <option value="center">Center</option>
                                        <option value="right">Right</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="geometry">
                            <h5 class="normal-text">Geometry</h5>
                            <div class="form-group">
                                <label class="control-label col-sm-5 padding-left-3em" for="width">Width (inchs)</label>
                                <div class="col-sm-7">
                                    <input type="number" min="0" step="0.001" class="form-control wi-form-control" id="width" ng-model="wiModal.width">
                                </div>
                            </div>
                        </div>
                        <p class="dialog-error" ng-if="wiModal.error">Error: {{wiModal.error}}</p>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onOkButtonClicked()" class="btn btn-default"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked()" class="btn btn-default"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
