node_modules
package-lock.json
build
.idea
wi-angular.iml
.publish
data-analysis-tab.json
data-processing-tab.json
help-tab.json
petrophysics-tab.json
project-tab.json
source/html/ribbon-block/data-analysis-tab/
source/html/ribbon-block/data-processing-tab/
source/html/ribbon-block/help-tab/
source/html/ribbon-block/petrophysics-tab/
source/html/ribbon-block/project-tab/
source/html/ribbon-block/well-tab
well-tab.json
source/js/handlers.js.tmpl
source/js/wi-logplot-handlers.js.tmpl
source/js/wi-explorer-handlers.js.tmpl
source/js/wi-histogram-handlers.js.tmpl
source/js/wi-crossplot-handlers.js.tmpl
wi-logplot.json
wi-crossplot.json
wi-histogram.json
wi-explorer.json
source/js/configFile.json
.DS_Store

# Logplot generate
source/app/components/wi-logplot/wi-logplot.html
source/app/components/wi-logplot/template/toolbar/*

# Crossplot generate
source/app/components/wi-crossplot/wi-crossplot.html
source/app/components/wi-crossplot/template/toolbar/*

# Histogram generate
source/app/components/wi-histogram/wi-histogram.html
source/app/components/wi-histogram/template/toolbar/*

# Explorer generate
source/app/components/wi-explorer/wi-explorer.html
source/app/components/wi-explorer/template/toolbar/*

# workflow-machine-learning
source/app/components/wi-workflow-machine-learning/wi-workflow-machine-learning.html

# workflow-player
source/app/components/wi-workflow-player/wi-workflow-player.html

# VSCode
.vscode
.vs
.eslintrc.json
.eslintrc.js

# Yarn
yarn.lock
