node_modules
build
.idea
.publish
data-analysis-tab.json
data-processing-tab.json
help-tab.json
petrophysics-tab.json
project-tab.json
source/html/ribbon-block/data-analysis-tab/
source/html/ribbon-block/data-processing-tab/
source/html/ribbon-block/help-tab/
source/html/ribbon-block/petrophysics-tab/
source/html/ribbon-block/project-tab/
source/html/ribbon-block/well-tab
well-tab.json
source/js/handlers.js.tmpl
source/js/wi-logplot-handlers.js.tmpl
source/js/wi-explorer-handlers.js.tmpl
wi-logplot.json
wi-explorer.json
.DS_Store

# Logplot generate
source/app/components/wi-logplot/wi-logplot.html
source/app/components/wi-logplot/template/toolbar/*

# Explorer generate
source/app/components/wi-explorer/wi-explorer.html
source/app/components/wi-explorer/template/toolbar/*