<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header container-fluid">
        <button type="button" class="close" ng-click="wiModal.close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="project-new-16x16"></span>&nbsp;Well Header</h4>

      </div>
      <div class="modal-body container-fluid">
        <form class="form-horizontal" action="" name="modalWellHeader">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label col-sm-5 small-text" for="well">Well</label>
                <div class="col-sm-7">
                  <select ng-model="wiModal.well" name="well" ng-options="item for item in wiModal.wellHeader track by item" class="form-control  wi-form-control"></select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-5 small-text" for="author">Author</label>
                <div class="col-sm-7">
                  <input class="form-control wi-form-control" type="text" name="author" ng-model="wiModal.author">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-5 small-text" for="date">Date</label>
                <div class="col-sm-7">
                  <input type="text" name="date" class="form-control wi-form-control" ng-model="wiModal.date">
                </div>
              </div>
              <div class="form-group">
                <label for="serviceCompany" class="control-label col-sm-5 small-text">Service Company</label>
                <div class="col-sm-7">
                  <input type="text" name="serviceCompany" class="form-control wi-form-control" ng-model="wiModal.serviceCompany">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-5 small-text" for="company">Company</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control wi-form-control" value="" id="company" name="company" ng-model="company">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-5 small-text" for="companyLogo">Company Logo</label>
                <div class="col-sm-7">
                  <div class="area text-center padding-tb-small">Browser company logo</div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-5 small-text" for="field">Field</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control wi-form-control" value="" id="field" name="field" ng-model="field">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-5 small-text" for="state">State</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control wi-form-control" value="" id="state" name="state" ng-model="state">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-5 small-text" for="country">Country</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control wi-form-control" value="" id="country" name="country" ng-model="country">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-5 tiny-text">Unique Well Identifier (UWI)</label>
                <div class="col-sm-7">
                  <input type="text" name="serviceCompany" class="form-control wi-form-control" ng-model="wiModal.uwi">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-5 tiny-text" for="coordinateSystem">Coordinate System</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control wi-form-control" value="" id="coordinateSystem" name="coordinateSystem" ng-model="coordinateSystem">
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label col-sm-5 small-text">SPUD Day</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control wi-form-control" ng-model="wiModal.spudDay">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-5 small-text">Completion Day</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control wi-form-control" ng-model="wiModal.completionDay">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-5 small-text">Elevation</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control wi-form-control" ng-model="wiModal.elevation">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-5 small-text">Elevation Datum</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control wi-form-control" ng-model="wiModal.elevationDatum">
                </div>
              </div>
              <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="status">Status</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="status" name="status" ng-model="status">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="operator">Operator</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="operator" name="operator" ng-model="operator">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="longitude">Longitude</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="longitude" name="longitude" ng-model="longitude">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="latitude">Latitude</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="latitude" name="latitude" ng-model="latitude">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="northings">Northings (Y)</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="northings" name="northings" ng-model="northings">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="eastings">Eastings (X)</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="eastings" name="eastings" ng-model="eastings">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="zone">Zone</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="zone" name="zone" ng-model="zone">
              </div>
            </div>
            </div>
            
            <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="totalDepth">Total Depth</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="totalDepth" name="totalDepth" ng-model="totalDepth">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="license">License</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="license" name="license" ng-model="license">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="unit">Unit</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="unit" name="unit" ng-model="unit">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="county">County</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="county" name="county" ng-model="county">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="province">Province</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="province" name="province" ng-model="province">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="project">Project</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="project" name="project" ng-model="project">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="gen1">Gen 1</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="gen1" name="gen1" ng-model="gen1">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="gen2">Gen 2</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="gen2" name="gen2" ng-model="gen2">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="gen3">Gen 3</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="gen3" name="gen3" ng-model="gen3">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5 small-text" for="gen4">Gen 4</label>
              <div class="col-sm-7">
                <input type="text" class="form-control wi-form-control" value="" id="gen4" name="gen4" ng-model="gen4">
              </div>
            </div>
          </div>
          </div>
        </form>
      </div>
      <div class="modal-footer container-fluid">
        <div class="row">
          <button type="button" ng-click="wiModal.close(wiModal.onOK())" class="btn btn-default" data-dismiss="modal"><span class="ok-16x16"></span>&nbsp;OK</button>
          <button type="button" ng-click="wiModal.close('Cancel')" class="btn btn-default" data-dismiss="modal"><span class="close-16x16"></span>&nbsp;Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>