<form name="uploadForm">

    <br>File:
    <input type="file" name="file"
           ngf-select
           ng-model="wiFileUpload.picFile"
           ngf-max-size="2MB" required
           ngf-model-invalid="errorFile">

    <div>
        <p class="file-error-message" ng-show="uploadForm.file.$error.maxSize">File too large
            {{errorFile.size / 1000000|number:1}}MB: max 2M</p>

        <button ng-disabled="!uploadForm.$valid"
                ng-click="wiFileUpload.uploadPic(wiFileUpload.picFile)">Submit
        </button>
    </div>

    <span class="progress" ng-show="wiFileUpload.picFile.progress >= 0">
        <div style="width:{{wiFileUpload.picFile.progress}}%"
             ng-bind="wiFileUpload.picFile.progress + '%'"></div>
      </span>
    <span ng-show="wiFileUpload.picFile.result">Upload Successful</span>
    <span class="err" ng-show="wiFileUpload.errorMsg">{{wiFileUpload.errorMsg}}</span>

</form>