<!-- <wi-toolbar name="ComboviewToolbar1">
	<wi-button name="SaveFormatButton" icon="save-16x16" type="small" tooltip="Save Format" handler="handlers.SaveFormatButtonClicked">      
    </wi-button>

	<wi-button name="PrintButton" icon="print-16x16" type="small" tooltip="Print" handler="handlers.PrintButtonClicked"></wi-button>
    
	<wi-button name="EditFormatButton" icon="properties-16x16" type="small" tooltip="Edit Format" handler="handlers.EditFormatButtonClicked">
	</wi-button>

</wi-toolbar> -->