wi-logplot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .logplot-toolbar-wrapper {
        border: none;
        .toolbar-vertical{
            border: none;
            padding: 4px 0 0 0;
        }
    }

    .logplot-main-content {
        flex: 1;
        display: flex;
        flex-direction: row;

        .slidingbar {
            width: 100px;
            display: flex;
        }

        .track-area {
            background-color: #fff;
            margin: 4px;
            padding: 4px;
            flex: 1;
            display: flex;
            flex-direction: row;

            wi-d3 {
                width: 100%; flex: 1; display: flex;
            }
        }
    }
}
