<html>
<head>
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/css/jquery-ui.css" rel="stylesheet">
    <link href="vendor/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/css/themify-icons.css" rel="stylesheet">

    <link href='css/main.css' rel='stylesheet'>
    <link href='css/wi-button.css' rel='stylesheet'>
    <link href='css/wi-toolbar.css' rel='stylesheet'>
    <link href='css/wi-slidingbar.css' rel='stylesheet'>
    <link href='css/wi-context-menu.css' rel='stylesheet'>
    <link href='css/wi-logplot.css' rel='stylesheet'>
    <link href='css/wi-context-menu.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/wi-d3.css">
    <link rel="stylesheet" href="css/graph.css">

    <link rel="stylesheet" href="css/sprite_32.css">
    <link rel="stylesheet" href="css/sprite_16.css">

    <script src="vendor/js/jquery.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <script src="vendor/js/angular.min.js"></script>
    <script src="vendor/js/angular-modal-service.min.js"></script>
    <script src="vendor/js/jquery-ui.js"></script>
    <script src="vendor/js/d3.min.js"></script>
    <script src="vendor/js/ResizeSensor.js"></script>
    <script src="vendor/js/jquery.mousewheel.min.js"></script>
    <script src="vendor/js/ng-file-upload.min.js"></script>

    <script src="js/main-logplot.js.bundle.js"></script>

    <title>Test</title>
</head>

<body ng-app='helloapp'>

<div ng-controller="WiDummy">
    <div style="width: 1000px; height: 500px; border: 1px solid green; display: flex">
        <wi-logplot name="myPlot" style="flex: 1"></wi-logplot>
    </div>
    <button ng-click='depthTrackButtonClick()'>depth</button>
    <button ng-click='trackButtonClick()'>log</button>
    <button ng-click='addData1ButtonClick()'>data 1</button>
    <button ng-click='addData2ButtonClick()'>data 2</button>
    <div class='form-group'>
        <label> Color: </label>
        <input type='text' ng-model='color'>
        <button ng-click='changeColor()'>change color</button>
    </div>
    <button ng-click='removeCurveButtonClick()'>remove curve</button>
    <button ng-click='removeTrackButtonClick()'>remove track</button>
    <button ng-click='addLeftShadingButtonClick()'>add left shading</button>
    <button ng-click='addRightShadingButtonClick()'>add right shading</button>
    <button ng-click='addCustomShadingButtonClick()'>add custom shading</button>
    <button ng-click='removeShadingButtonClick()'>remove-shading</button>
</div>
</body>
</html>
