wi-logplot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .logplot-toolbar-wrapper {
        border: none;
        .toolbar-vertical{
            border: none;
            padding: 4px 0 0 0;
        }
    }

    .logplot-well-name {
        margin: 0px 4px;
        padding: 2px;
        background-color: rgb(136, 204, 136);
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }

    .logplot-main-content {
        flex: 1;
        display: flex;
        flex-direction: row;

        .slidingbar {
            width: 80px;
            min-width:80px;
            display: flex;
            padding: 4px;
        }

        .track-area {
            background-color: #fff;
            margin: 4px;
            flex: 1;
            display: flex;
            flex-direction: row;

            wi-d3 {
                width: 100%; flex: 1; display: flex;
            }
        }
    }
    .crop-display {
        wi-button[name="CropDisplayButton"] {
            border: 1px solid gray;
        }
        wi-button[name="ViewWholeWellButton"] {
            border: none;
        }
    }
    wi-button[name="CropDisplayButton"] {
        border: none;
    }
    wi-button[name="ViewWholeWellButton"] {
        border: 1px solid gray;
    }
}
