<div class="logplot-toolbar-wrapper">
    <wi-toolbal>
        <wi-button layout="icon-left"></wi-button>
        <wi-button layout="icon-left"></wi-button>
    </wi-toolbal>
    <wi-toolbar>
        <wi-button layout="icon-left"></wi-button>
        <wi-button layout="icon-left"></wi-button>
    </wi-toolbar>
</div>
<div class="logplot-main-content">
    <wi-slidingbar>
        <p>Some thing like curve</p>
    </wi-slidingbar>
    <div class="logplot-sub-content">Some tracks: {{wiLogplot.wiSlidingbar.top}} -- {{wiLogplot.wiSlidingbar.range}}</div>
</div>