<div class='modal fade'>
    <div class='modal-dialog modal-sm'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCloseButtonClicked()" aria-hidden="true">&times;</button>
                <h4>Error</h4>
            </div>
            <div class="modal-body text-center padding-2em">
                <span class="cancel-32x32-edit valign-middle"></span>
                <span class="margin-left-0_5em color-error"><i>{{wiModal.error}}</i></span>
            </div>
            <div class="modal-footer">
                <button class='btn btn-default' ng-click='wiModal.onCloseButtonClicked()'>Close</button>
            </div>
        </div>
    </div>
</div>
