wi-base-treeview {
    display: block;
    background: #fff;
    font-size: 13px;
    .wi-treeview-container {
        display: block;
        cursor: pointer;
        padding: 3px 0 3px 10px;
        wi-base-treeview{
            border: none;
        }
        .wi-parent-node {
            position: relative;
            
            .wi-parent-unit {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100px; // use fixed width here!
                overflow:hidden;
                padding-right: 0.5em;
                line-height: 22px;
                //border-left: 1px dotted #ddd;
            }
            .icon-expanded {
                width: 20px;
                height: 22px;
            }

            .wi-parent-content {
                display: flex;

                &>div>i {
                    color: #333;
                    margin-top: 4px;
                }

                &>div:nth-child(2) {
                    flex: 1;
                    span{
                        vertical-align: -webkit-baseline-middle;
                    }
                }
            }
        }

        .item-active {
            color: #000;
            font-weight: bold;
            .wi-parent-content{
                & > div{
                    background: #f0f0f0;
                }
            }
        }
    }

    .rootview {
        padding-left: 0;
    }
}
