wi-base-treeview {
    display: block;
    background: #fff;
    font-size: 13px;
    .wi-treeview-container {
        display: block;
        cursor: pointer;
        padding: 3px 0 3px 10px;
        wi-base-treeview{
            border: none;
        }
        .wi-parent-node {
            // position: relative;
            display: flex;
            
            .wi-parent-unit {
                // position: absolute;
                // right: 0;
                // top: 0;
                // bottom: 0;
                // width: 100px; // use fixed width here!
                overflow:hidden;
                // padding-right: 1.5em;
                line-height: 22px;
                //border-left: 1px dotted #ddd;
                flex: 1;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .icon-expanded {
                width: 20px;
                height: 22px;
            }

            .wi-parent-content {
                display: flex;
                flex: 3;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                &>div>i {
                    color: #333;
                    margin-top: 4px;
                }

                &>div:nth-child(2) {
                    flex: 1;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    span{
                        vertical-align: -webkit-baseline-middle;
                        white-space: nowrap;
                    }
                }

                .actions>wi-button>div>button {
                    height: 22px;
                }
            }
        }

        .item-active {
            color: #000;
            font-weight: bold;
            .wi-parent-content{
                & > div{
                    background: #f0f0f0;
                }
            }
        }
    }

    .rootview {
        padding-left: 0;
    }
}
