<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="images-properties-16x16"></span>&nbsp;Image Properties</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div>
                        <h5>Image</h5>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="selected" class="btn btn-default">Select</label>
                            </div>
                            <div class="col-sm-7">
                                <input id="selected" class="display-none" type="file" ngf-select ng-model="wiModal.imageFile" required/>
                                <input type="text" class="form-control" value="{{wiModal.imageFile.name}}" disabled>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default" ng-disabled="!wiModal.imageFile" ng-click="wiModal.onUploadButtonClicked()">
                                    Upload
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 normal-text">Image URL</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="wiModal.src" ng-change="wiModal.onImageUrlChange()">
                            </div>
                        </div>
                    </div>
                    <div>
                        <h5>Boundaries</h5>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="top" class="control-label col-sm-4 normal-text">Top</label>
                                <div class="col-sm-8">
                                    <input type="number" id="top" step="0.01" class="form-control" ng-model="wiModal.top">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="bottom" class="control-label col-sm-4 normal-text">Bottom</label>
                                <div class="col-sm-8">
                                    <input type="number" id="bottom" step="0.01" class="col-sm-8 form-control" ng-model="wiModal.bottom">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="left" class="control-label col-sm-4 normal-text">Left(%)</label>
                                <div class="col-sm-8">
                                    <input type="number" id="left" step="0.01" class="col-sm-8 form-control" ng-model="wiModal.left">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="width" class="control-label col-sm-4 normal-text">Width(%)</label>
                                <div class="col-sm-8">
                                    <input type="number" id="width" step="0.01" min="1" class="col-sm-8 form-control" ng-model="wiModal.width">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <p class="dialog-error" ng-if="wiModal.error">Error: {{wiModal.error}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onOkButtonClicked();" class="btn btn-default" ng-disabled="!wiModal.done"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>