<div ng-show="wiContextMenu.shown" ng-click="wiContextMenu.dismiss()" wi-right-click="wiContextMenu.dismiss()" class="context-menu-backdrop">
    <div ng-repeat="contextMenu in wiContextMenu.contextMenus"
         wi-element-ready="wiContextMenu.ngRepeatFinished()"
         class="context-menu-wrapper fade-in"
         style="top:{{contextMenu.top}}px; left:{{contextMenu.left}}px;min-width: 200px">
        <wi-button ng-repeat='button in contextMenu.buttons track by $index'
                   name='{{contextMenu.name + "." + button.name}}'
                   index='$index'
                   icon='{{button.icon}}'
                   class='{{button.class}}'
                   layout='icon-left'
                   label='{{button.label}}'
                   type='small'
                   is-check-type='button.isCheckType'
                   checked='button.checked'
                   handler="button.handler"
                   separator='{{button.separator}}'
                   disabled='button.disabled'
                   ng-mouseenter='wiContextMenu.onMouseEnterButton(button, $event, $index)'
                   ng-mouseleave='wiContextMenu.onMouseLeaveButton(button)'
                   ng-click="wiContextMenu.dismiss($event, button)">
        </wi-button>
    </div>
</div>
