<div ng-if="wiContextMenu.shown" ng-click="wiContextMenu.dismiss();" class="context-menu-backdrop">
    <div class="context-menu-wrapper" style="top:{{wiContextMenu.top}}px; left:{{wiContextMenu.left}}px">
        <wi-button ng-repeat='button in wiContextMenu.buttons'
                   name='{{wiContextMenu.name + "." + button.name}}'
                   icon='{{button.icon}}'
                   layout='icon-left'
                   label='{{button.label}}'
                   type='small'
                   handler="button.handler"
                   separator='{{button.separator}}'>
        </wi-button>
    </div>
</div>
