wi-context-menu {
    & > .context-menu-backdrop {
        z-index: 99;
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        border: 1px solid green;
        & > .context-menu-wrapper {
            background-color: #fff;
            display: inline-block;
            border: 1px solid black;
            padding: 3px;
            position: absolute;
            transition: top 0.2s, left 0.2s;
            -moz-transition: top 0.2s, left 0.2s;
            -webkit-transition:top 0.2s, left 0.2s;
            -o-transition: top 0.2s, left 0.2s;
            & > wi-button {
                float:none;
                width: 100%;
                button {
                    width: 100%;
                    text-align: left;
                    padding:0 1em;
                }
            }
        }
    }
    .separator {
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #888 49%, rgba(255, 255, 255, 0) 100%);
        border-image-slice: 1;
        width: 100%;
        margin: 1px 0;
    }
}
