<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="group-32x32"></span>&nbsp;Group Manager</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <button class="btn btn-default" ng-click="wiModal.onAddButtonClicked()"><span class="plus-16x16"></span>&nbsp;Add</button>
                    <button class="btn btn-default" ng-click="wiModal.onRemoveButtonClicked()"><span class="close-16x16-edit"></span>&nbsp;Remove</button>
                </div>
                <div class="row">
                    <!-- <wi-treeview name="groupManagerTreeView" config="wiModal.treeConfig"
                        container="wiModal" on-click="wiModal.onSelectGroup"></wi-treeview> -->
                    <wi-base-treeview
                        name="groupManagerTreeView"
                        container='wiModal'
                        config="wiModal.treeConfig"
                        on-click-function='wiModal.onSelectGroup'
                        show-context-menu-function='wiModal.showContextMenu'>
                    </wi-base-treeview>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onOkButtonClicked();" class="btn btn-default"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
