<div class='modal fade'>
	<div class='modal-dialog modal-sm'>
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="wiModal.close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>{{wiModal.title}}</h4>
			</div>
			<div class="modal-body text-center">
				<span>{{wiModal.confirmMsg}}</span>
			</div>
			<div class="modal-footer">
				<button class='btn btn-default' ng-click='wiModal.close(true)'>Ok</button>
				<button class='btn btn-default' ng-click='wiModal.close(false)'>Cancel</button>
			</div>
		</div>
	</div>
</div>
