<div class="container-fluid" id="pm">
    <h3 class='content-heading' style="text-align:left; font-style: italic">WIPM</h3>
    <div class="row">
        <div class="col-sm-3" id="left">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#create" ng-click="wipmCtrl.create=true;wipmCtrl.retrain=wipmCtrl.predict=wipmCtrl.list=wipmCtrl.result=false;">Create Model</a></li>
                <li><a data-toggle="pill" href="#retrain" ng-click="wipmCtrl.retrain=true;wipmCtrl.create=wipmCtrl.predict=wipmCtrl.list=wipmCtrl.result=false;">Retrain model</a></li>
                <li><a data-toggle="pill" href="#predict" ng-click="wipmCtrl.predict=true;wipmCtrl.retrain=wipmCtrl.create=wipmCtrl.list=wipmCtrl.result=false;">Predict</a></li>
                <li><a data-toggle="pill" href="#list" ng-click="wipmCtrl.list=true;wipmCtrl.retrain=wipmCtrl.predict=wipmCtrl.create=wipmCtrl.result=false;">List model</a></li>
            </ul>
        </div>
        <div class="col-sm-9" id="right">
            <create-model ng-if="wipmCtrl.create"></create-model>
            <retrain-model ng-if="wipmCtrl.retrain"></retrain-model>
            <list-model ng-if="wipmCtrl.list"></list-model>
            <predict ng-if="wipmCtrl.predict"></predict>
        </div>
    </div>
</div>