<div>
    <button ng-click="wiButton.onClick()" class="{{wiButton.type || wiButton.config.type || wiButton.default.type}}">
        <img class="{{wiButton.icon || wiButton.config.icon || wiButton.default.icon}}" alt="icon wi-button">
        <p class="{{wiButton.layout || wiButton.config.layout || wiButton.default.layout}}"
        ng-show="wiButton.label != null || wiButton.config.label != null">
            {{wiButton.label || wiButton.config.label || wiButton.default.label}}</p>
    </button>
</div>