wi-button, wi-toolbar-button {
    float: left;
    & > div {
        display:block;
        & > button {
            display: inline-block;
            background: none;
            border: 1px solid transparent;
            // & > img {
            //     margin:auto;
            // }
            & > p {
                font-size: 12px;
            }            
            &:hover{
                border: 1px solid #b3b6ba;
                border-radius:2px;
                background: rgba(214,226,253,1);
                background: -moz-linear-gradient(top, rgba(214,226,253,1) 0%, rgba(233,236,247,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(214,226,253,1)), color-stop(100%, rgba(233,236,247,1)));
                background: -webkit-linear-gradient(top, rgba(214,226,253,1) 0%, rgba(233,236,247,1) 100%);
                background: -o-linear-gradient(top, rgba(214,226,253,1) 0%, rgba(233,236,247,1) 100%);
                background: -ms-linear-gradient(top, rgba(214,226,253,1) 0%, rgba(233,236,247,1) 100%);
                background: linear-gradient(to bottom, rgba(214,226,253,1) 0%, rgba(233,236,247,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6e2fd', endColorstr='#e9ecf7', GradientType=0 ); 
                box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.15);
            }
            &:active {
                background: rgba(204,226,213,1);
            }

            &:disabled {
                opacity: 0.5;
                background: none;
                border: none;
                cursor: not-allowed;
                box-shadow:none;
            }
        }
    }

    p {
        margin: 0;
    }
    .rect-16x16 {
        width: 16px;
        height: 16px; 
        display: inline-block;
        border: 1px solid black;
    }
    .rect-32x32 {
        width: 32px;
        height: 32px;
        display:inline-block;
        border: 1px solid black;
    }
}

.icon-top { 
    display:block;
}

.icon-left {
  display: inline-block;
  margin: 0;
}

.button-normal {
    padding: 0px 5px 0px 5px;
}

.button-small {
    padding: 5px;
}

.button-checkbox {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.checked-off {
    color: #ccc;
}

.checked-on {
    color: black;
}
