wi-user {
    &>div {
        background-color: transparent;
        margin: auto 10px;
    }
    .user-img {
        margin-right: 10px;
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }
    .user-name {
        font-size: 16px;
        vertical-align: middle;
    }
}