<p ng-click='wiList.shown = !wiList.shown' class="list-heading position-relative cursor-pointer">
    <span class='font-weight-700 text-left'>{{wiList.heading}}</span>
    <span ng-show='!wiList.shown' class='block-right'><i class='ti-plus'></i></span>
    <span ng-show='wiList.shown' class='block-right'><i class='ti-minus'></i></span>
</p>
<table ng-show='wiList.shown'>
    <tr ng-repeat="item in wiList.items">
        <td title="{{item.label}}">
            {{item.label}}
        </td>
        <td>
            <input class="width-95-percent" ng-if="!item.type" type="text" ng-model="item.value" title="{{item.value}}" ng-disabled="!item.editable"
            wi-enter="$event.currentTarget.blur();" ng-blur="wiList.onChange(item)">
            <input class="width-95-percent" ng-if="item.type == 'checkbox'" type="checkbox" ng-model="item.value" ng-disabled="!item.editable" ng-change="wiList.onChange(item)">
            <select class="width-95-percent" ng-if="item.type == 'select'" ng-model="item.value"
                    ng-disabled="!item.editable" ng-change="wiList.onChange(item)">
                <option value="{{undefined}}">&nbsp;</option>
                <option ng-repeat="option in item.options" ng-value="option.value">{{option.label}}</option>
            </select>
            <button ng-if="item.type == 'action'" ng-click="item.handle()">
                <span ng-bind="item.valueLabel" title="{{item.valueLabel}}"></span>
                <span ng-if="item.icon" ng-class="item.icon"></span>
            </button>
        </td>
    </tr>
</table>
