<p ng-click='wiList.shown = !wiList.shown' class="list-heading position-relative cursor-pointer">
    <span class='font-weight-700 text-left'>{{wiList.heading}}</span>
    <span ng-show='!wiList.shown' class='block-right'><i class='ti-plus'></i></span>
    <span ng-show='wiList.shown' class='block-right'><i class='ti-minus'></i></span>
</p>
<table ng-show='wiList.shown'>
    <tr ng-repeat="item in wiList.items">
        <td style="width: 40%">
            {{item.label}}
        </td>
        <td>
            <input ng-if="!item.type" type="text" ng-model="item.value" ng-disabled="!item.editable"
            wi-enter="wiList.onChange(item); $event.currentTarget.blur();" ng-blur="wiList.onChange(item)">
            <input ng-if="item.type == 'checkbox'" type="checkbox" ng-model="item.value" ng-change="wiList.onChange(item)">
        </td>
    </tr>
</table>
