<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="images-properties-16x16"></span>&nbsp;Discriminators</h4>
            </div>
            <div class="modal-body" style="overflow:unset;">
                <div class="text-right">
                        <button class="btn btn-default" ng-click="wiModal.deleteCondition()">Delete</button>
                        <button class="btn btn-default" ng-click="wiModal.addCondition()">Add</button>
                </div>
                <div style="padding: 0.5em 0; border: 2px solid black">
                    <div class="container-fluid">
                        <wi-condition-node item='wiModal.conditionTree' curve-options='wiModal.curvesArr' root="wiModal.conditionTree"></wi-condition-node>
                    </div>
                </div>
                <div class='form-group conditionExpr'>
                    <textarea class='form-control' disabled ng-model="wiModal.conditionExpr"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onApplyButtonClicked();" class="btn btn-default">
                    <span class="apply-16x16"></span>&nbsp;Apply
                </button>
                <button type="button" ng-click="wiModal.onOKButtonClicked();" class="btn btn-default">
                    <span class="ok-16x16"></span>&nbsp;Ok
                </button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default">
                    <span class="close-16x16"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>