<div class="zone-set-manager">
    <style>
        .zone-set-manager canvas{
            width: 100%;
            height: 26px;
        }
    </style>
    <div class="left-side">
        <div class="template-tree" style="display: flex; flex-direction: column;">
            <div class='left-heading' style='flex-basis:40px'>
                <h5>Zonesets</h5>
                <div class="button-area" style="position: relative">
                    <label class='btn pull-right' ng-click="wiZoneSetManager.createZoneSet()" ng-disabled="!(wiZoneSetManager.lastSelectedWell || wiZoneSetManager.lastSelectedZoneSet)">
                        <i class="ti-plus" ng-class="{'color-blue': (wiZoneSetManager.lastSelectedWell || wiZoneSetManager.lastSelectedZoneSet), 'color-lightgray': !(wiZoneSetManager.lastSelectedWell || wiZoneSetManager.lastSelectedZoneSet)}"></i>
                    </label>
                    <label title="Refresh zoneSets list" class='btn' ng-click="wiZoneSetManager.refreshZoneSetList()">
                        <i class="ti-reload color-blue"></i>
                    </label>
                    <label title="More" class="btn" ng-click="wiZoneSetManager.showMoreButtonContextMenuFunction($event, $index)" ng-disabled="!wiZoneSetManager.lastSelectedZoneSet">
                        <i class="ti-more" ng-class="{'color-blue': wiZoneSetManager.lastSelectedZoneSet,'color-lightgray': !wiZoneSetManager.lastSelectedZoneSet}"></i>
                    </label>
                </div>
            </div>
            <div class="left-tree">
                <div style='background-color:white;display: flex;padding-left: 7px; border-bottom: 1px solid #ccc; flex-basis:28px;'>
                    <i style="font-size: 16px; line-height:28px;z-index:1;color:#aaa;float: left;" class="fa fa-search"></i>
                    <input type='text' id="wzsmFocus" style='flex:1; margin-left: -22px; padding-left: 32px;color:steelblue;border: none' ng-model="wiZoneSetManager.filter"
                        placeholder="[Search]">
                </div>
                <wi-scroll id-scroll="'wzsmTreeScroll'" style='flex:1;display:flex;flex-direction:column;height: calc(100% - 68px);' up-trigger='wiZoneSetManager.upTrigger'
                    down-trigger='wiZoneSetManager.downTrigger'>
                    <wi-base-treeview name="zoneTemplateManagerTreeview" config="wiZoneSetManager.zoneSetConfig" container="wiZoneSetManager"
                        on-click-function="wiZoneSetManager.clickFunction" filter="{{wiZoneSetManager.filter}}" show-context-menu-function="wiZoneSetManager.showTreeContextMenuFunction">
                    </wi-base-treeview>
                </wi-scroll>
            </div>
        </div>
    </div>
    <div class="right-side" style="box-sizing:border-box">
        <div class="right-heading" style="flex-basis:40px;">
            <h5 style="margin: 6px; font-weight:bold;display:inline-block" ng-show="wiZoneSetManager.zones.length !== 0">
                Order by: </h5>
            <select ng-init="wiZoneSetManager.zoneOrder='orderDepth'" ng-model="wiZoneSetManager.zoneOrder" ng-show="wiZoneSetManager.zones.length !== 0">
                <option value="idZone">Zone id</option>
                <option value="zone_template.name">Zone name</option>
                <option value="orderDepth">Depth</option>>
            </select>
            <div class="button-area">
                <label title="Swap two zones" class='btn' ng-click="wiZoneSetManager.swapTwoZones()" ng-disabled="wiZoneSetManager.getSelectedZones().length!=2">
                    <i class="ti-arrows-vertical" ng-class="{'color-blue': wiZoneSetManager.getSelectedZones().length==2, 'color-lightgray': wiZoneSetManager.getSelectedZones().length!=2}"></i>
                </label>
                <label title="Move Zone up" class='btn' ng-click="wiZoneSetManager.moveZoneUp()" ng-disabled="wiZoneSetManager.getSelectedZones().length==0">
                    <i class="ti-arrow-up" ng-class="{'color-blue': wiZoneSetManager.getSelectedZones().length!=0, 'color-lightgray': wiZoneSetManager.getSelectedZones().length==0}"></i>
                </label>
                <label title="Move Zone down" class='btn' ng-click="wiZoneSetManager.moveZoneDown()" ng-disabled="wiZoneSetManager.getSelectedZones().length==0">
                    <i class="ti-arrow-down" ng-class="{'color-blue': wiZoneSetManager.getSelectedZones().length!=0, 'color-lightgray': wiZoneSetManager.getSelectedZones().length==0}"></i>
                </label>
                <label title="Apply changes" class='btn' ng-click="wiZoneSetManager.editZone()" ng-disabled="!wiZoneSetManager.zoneEditted">
                    <i class="ti-check" ng-class="{'color-blue': wiZoneSetManager.zoneEditted, 'color-lightgray': !wiZoneSetManager.zoneEditted}"></i>
                </label>
                <label title="Delete zones" class='btn' ng-click="wiZoneSetManager.showDeleteButtonContextMenuFunction($event, $index)" ng-disabled="wiZoneSetManager.zones.length==0">
                    <i class="ti-close" ng-class="{'color-blue': wiZoneSetManager.zones.length!=0, 'color-lightgray':wiZoneSetManager.zones.length==0}"></i>
                </label>
                <label title="Create new zone" class='btn' ng-click="wiZoneSetManager.showCreateButtonContextMenuFunction($event, $index)"
                    ng-disabled="!wiZoneSetManager.lastSelectedZoneSet">
                    <i class="ti-plus" ng-class="{'color-blue': wiZoneSetManager.lastSelectedZoneSet, 'color-lightgray': !wiZoneSetManager.lastSelectedZoneSet}"></i>
                </label>
                <label tilte="Reload zone-list" class='btn' ng-click="wiZoneSetManager.refreshZoneList()" ng-disabled="!wiZoneSetManager.lastSelectedZoneSet">
                    <i class="ti-reload" ng-class="{'color-blue': wiZoneSetManager.lastSelectedZoneSet, 'color-lightgray': !wiZoneSetManager.lastSelectedZoneSet}"></i>
                </label>
            </div>
        </div>
        <div class="content-area" id="zoneScroll">
            <div class="zone-area">
                <table class="text-on-table table table-bordered" ng-show="wiZoneSetManager.zones.length!==0">
                    <thead>
                        <tr>
                            <th width="5%"></th>
                            <th width="15%">Zone name</th>
                            <th width="15%">Top Depth</th>
                            <th width="15%">Bottom Depth</th>
                            <th width="20%">Pattern</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="zone in wiZoneSetManager.zones | orderBy: wiZoneSetManager.zoneOrder" ng-init="zone.flag = false" ng-class="{'selected': zone.flag}">
                            <td style="width: 10%;" class="border-right-gray" ng-click="wiZoneSetManager.selectZoneToggle(zone, $event)">
                                <i class='glyphicon glyphicon-ok' ng-class="{'color-black': zone.flag, 'color-lightgray': !zone.flag}"></i>
                            </td>
                            <td width="20%" ng-click="wiZoneSetManager.chooseZoneTemplate(zone)">
                                {{zone.zone_template.name}}
                            </td>
                            <td width="20%">
                                <input type="number" step="any" ng-model="zone.startDepth" class="form-control" ng-change="wiZoneSetManager.onZoneChanged(zone);"
                                    style="height: auto;">
                            </td>
                            <td width="20%">
                                <input type="number" step="any" ng-model="zone.endDepth" class="form-control" ng-change="wiZoneSetManager.onZoneChanged(zone);"
                                    style="height: auto;">
                            </td>
                            </td>
                            <td width="30%" ng-click="wiZoneSetManager.chooseZoneTemplate(zone)">
                                <label class="form-control wi-form-control thick-border" style="padding:0;margin:0;">
                                    <wi-canvas-rect name="rowZS_{{$index}}" pattern="{{zone.zone_template.pattern}}" width="100" height="26" foreground="{{zone.zone_template.foreground}}"
                                        background='{{zone.zone_template.background}}'>
                                    </wi-canvas-rect>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>