<html>
<head>
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/css/font-awesome.min.css" rel="stylesheet">
    <link href='css/main.css' rel='stylesheet'>
    <link href='css/wi-treeview.css' rel='stylesheet'>

    <script src="vendor/js/jquery.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <script src="vendor/js/angular.min.js"></script>
    <script src="vendor/js/ui-bootstrap-tpls-0.14.3.js"></script>

    <script src='js/main-treeview.js.bundle.js'></script>
    
    <title>Test tree view</title>
</head>

<body ng-app='helloapp'>
<div ng-controller="WiDummy">
    <div class="row">
        <div class="col-md-6">
            <wi-treeview config="myConfig"></wi-treeview>
        </div>
    </div>
</div>
</body>
</html>
