<div class='modal fade' data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog modal-lg'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">
                    &times;
                </button>
                <h4>Load file from inventory</h4>
            </div>
            <div class="modal-body">
                <div id="drag-container" class="lm_item lm_row">
                    <div id="left-inventory" class="lm_item lm_column col-sm-5 panel panel-default">
                        <!-- <div class="panel-heading">
                            <h4>Project</h4>
                        </div> -->
                        <div class="panel-body">
                            <p>left</p>
                        </div>
                        <!-- <wi-treeview contextmenuholder="{{wiModal.leftTreeViewName}}"
                                     name="{{wiModal.leftTreeViewName}}" config="wiModal.treeConfig"
                                     container="wiModal"></wi-treeview>
                                 </div> -->
                    </div>
                    <div id="center-inventory" class="col-sm-2">
                        <button class="btn btn-default">btn1</button>
                        <button class="btn btn-default">btn2</button>
                    </div>
                    <div id="right-inventory" class="lm_item lm_stack panel panel-default col-sm-5">
                        <p>right</p>
                        <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                        <!--<h4>Inventory</h4>-->
                        <!--<button type="button" class="btn btn-default"-->
                        <!--ng-click="wiModal.refreshInventory()">-->
                        <!--<i class="fa fa-refresh"></i>-->
                        <!--</button>-->
                        <!--</div>-->
                        <!--<div class="panel-body">-->
                        <!--<wi-treeview-->
                        <!--name="{{wiModal.treeViewName}}" config="wiModal.treeConfig"-->
                        <!--container="wiModal">-->
                        <!--</wi-treeview>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class='btn btn-default' ng-click='wiModal.onLoadButtonClicked()'><span class="ok-16x16"></span>&nbsp;Load
                </button>
                <button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()'><span
                        class="close-16x16"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>
