<div class="wi-treeview-container" ng-repeat="item in wiTreeview.config track by $index">
    <div class="wi-parent-node"
         ng-class='{"item-active": item.name == wiTreeview.getItemActiveName()}'
         data-curve="{{wiTreeview.config[$index].name}}"
         wi-right-click="wiTreeview.contextMenu($event, $index)">
        <div class="wi-parent-content">
            <i aria-hidden="true" class="fa icon-expanded"
               ng-class="
               {'fa-caret-down': item.data.childExpanded,
               'fa-caret-right': !item.data.childExpanded,
               'wi-hidden': item.children == null || item.children.length == 0}"
               ng-click="wiTreeview.onCollapse($index)"></i>
            <div ng-click="wiTreeview.onClick($index)"
                 ng-dblclick="wiTreeview.onDoubleClick($index)">
                <img class="{{item.data.icon}}" alt="img item treeview">
                <span>{{item.data.label}}</span>
            </div>
        </div>

        <div class="wi-parent-unit text-right" ng-show="item.data.unit"
             ng-click="wiTreeview.onClick($index)"
             ng-dblclick="wiTreeview.onDoubleClick($index)">
            {{item.data.unit}}
        </div>
    </div>

    <div ng-show="item.data.childExpanded">
        <wi-treeview config="item.children"></wi-treeview>
    </div>
</div>
