wi-treeview {
    display: block;
    background: #fff;
    border-bottom: 1px solid #cacbd3;
    font-size: 13px;
    .wi-treeview-container {
        display: block;
        cursor: pointer;
        padding: 5px 0 5px 10px;
        border-bottom: 1px dotted #ddd;
        wi-treeview{
            border: none;
            border-left: 1px dotted #cacbd3;
        }
        .wi-parent-node {
            position: relative;
            
            .wi-parent-description {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 25%; // use fixed width here!
                overflow:hidden;
                padding-right: 0.5em;
                border-left: 1px dotted #ddd;
            }
            .icon-expanded {
                min-width: 16px;
                height: 16px;
            }

            .wi-parent-content {
                display: flex;

                &>div {
                    flex: 1;
                }
            }
        }

        .item-active {
            color: blue;
        }
    }

}
