wi-treeview {
    display: block;
    background: #fff;
    //border-bottom: 1px solid #cacbd3;
    font-size: 13px;
    .wi-treeview-container {
        display: block;
        //cursor: pointer;
        padding-left: 18px;
        wi-treeview{
            border: none;
            //border-left: 1px dotted #cacbd3;
        }
        .wi-parent-node {
            position: relative;
            
            .wi-parent-unit {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100px; // use fixed width here!
                overflow:hidden;
                padding-right: 0.5em;
                //border-left: 1px dotted #ddd;
            }
            .icon-expanded {
                width: 16px;
                height: 22px;
            }

            .wi-parent-content {
                display: flex;

                &>div>i {
                    color: #333;
                    display: block;
                    margin: auto;
                    width: 8px;
                    margin-top: 5px;
                }

                &>div:nth-child(2) {
                    flex: 1;
                    padding: 2px 0;
                }
            }
        }

        .item-active {
            color: blue;
        }
    }

    .rootview {
        padding-left: 0;
    }
}
