<div class="dropdown">
    <button class="btn" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}">
      <span class="pull-left">{{header}}</span>
      <span class="caret pull-right"></span>
    </button>
    <ul class="dropdown-menu custom-width">
      <li ng-hide="true">
        <input class="input-block-level" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />
      </li>
      <li ng-show="">
        <button class="btn-link btn-small" ng-click="checkAll()"><i class="icon-ok"></i> Check all</button>
        <button class="btn-link btn-small" ng-click="uncheckAll()"><i class="icon-remove"></i> Uncheck all</button>
      </li>
      <li ng-repeat="i in items | filter:searchText">
        <a ng-click="select(i); focus()">
          <i class='glyphicon glyphicon-ok' ng-class="{'color-black': i.checked, 'color-lightgray': !i.checked}"></i><span class='display-inline-block' style="padding-left: 0.2em; padding-right: 0.2em; border:1px solid #ccc;" ng-style="{'background-color':i.bgColor}">{{i.label}}</span>
        </a>
      </li>
    </ul>
  </div>