<div class='wizard-step-container'>
    <div style="display:flex;flex:1;flex-direction:row;padding:10px;">
        <div class="bordered panel panel-default inventory-side">
            <div style='display:flex;' class='panel-heading'>
                <h5 style='margin-right:10px;'>Project</h5>
                <wi-item-dropdown ng-show='!wiWorkflowPlayer.isFrozen' style='flex:1;margin:5px 0;' class='height24px' icon="'project-open-16x16'"
                    on-wi-dropdown-init='wiWorkflowPlayer.getProjectList' on-item-changed="wiWorkflowPlayer.projectChanged">
                </wi-item-dropdown>
                <input style='flex:1;margin:5px 0; height:24px;font-size:14px;' class='form-control' ng-show='wiWorkflowPlayer.isFrozen'
                    ng-model='wiWorkflowPlayer.projectName' ng-disabled='true'>
                <button style='margin:5px 0 5px 5px;padding:0 10px;' class='btn btn-default' title="Reload project" ng-click="wiWorkflowPlayer.refreshProject()">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
            <div style='position:relative;'>
                <i style="position:absolute;line-height:2.5em;left:0.5em;font-size:14px;" class="fa fa-search"></i>
                <input type='text' style='text-indent:1.5em;' ng-model='wiWorkflowPlayer.prjFilter' size='10' class="form-control">
            </div>
            <wi-scroll id-scroll="'projectTreeScroll'" style='flex:1;display:flex;flex-direction:column;' up-trigger='wiWorkflowPlayer.upTriggerPrj'
                down-trigger='wiWorkflowPlayer.downTriggerPrj'>
                <wi-base-treeview id='__projectWellTree' name="projectTreeview" config="wiWorkflowPlayer.projectConfig" container="wiWorkflowPlayer"
                    on-click-function="wiWorkflowPlayer.prjClickFunction" filter="{{wiWorkflowPlayer.prjFilter}}"
                    show-id="true">
                </wi-base-treeview>
            </wi-scroll>
        </div>
        <div style="width:{{wiWorkflowPlayer.rightWidth()}}px;display:flex;flex-direction:column; margin-left:5px;padding:0 5px;overflow:hidden;">
            <div class='wi-droppable' wi-element-ready="wiWorkflowPlayer.droppableSetting();" ng-style="{height:wiWorkflowPlayer.wiDroppableHeight}">
                <div style='position:absolute; top:0;left:0; z-index:1;'>
                    <span style="padding:5px; border-radius:10px; background-color:#ccc;box-shadow:1px 1px 2px #888;display:inline-block;margin:3px;"
                        ng-repeat="inputData in wiWorkflowPlayer.workflowConfig.steps[0].inputData track by $index"><span>{{inputData.well.name}}/{{inputData.dataset.name}}</span>
                        <span style='cursor:pointer;color:black;' class='fa fa-times-circle' ng-click="wiWorkflowPlayer.onDeleteInput($index)"></span>
                    </span>
                </div>
            </div>
            <div style="flex:1;padding:10px 0;overflow:auto;">
                <div ng-repeat='wf in wiWorkflowPlayer.workflowConfig.steps' ng-hide='wf.disabled' class='bordered panel panel-default' style='display:table;min-width:100%;'>
                    <div class='panel-heading' style='background-color:#eee;'>
                        <span class='control-button' ng-class="{'fa fa-chevron-up':  wf.expanded, 'fa fa-chevron-down': !wf.expanded}" ng-click='wf.expanded = !wf.expanded'
                            style='margin-right:5px;'>
                        </span>
                        <!--<span class='control-button ti-check' ng-class='{"disabled-color": wf.disabled}' style='margin-right:5px;color:black;'>
                            </span>-->
                        <span style='margin-right:10px;padding-right:2px;' ng-click="wiWorkflowPlayer.safeRunWorkflow(wf)" class='fa fa-play control-button block-button' title="test run"></span>
                        <span style='font-weight:700;'>{{wf.name}}</span>
                    </div>
                    <div ng-show="wf.expanded" class='panel-body' style="border-top: 1px solid #eee;overflow:visible;">
                        <ul ng-if='wf.inputData.length' class='table-row table-head'>
                            <li style="width:20px;">#</li>
                            <li>Well</li>
                            <li>Dataset</li>
                            <li ng-repeat='inputItem in wf.inputs'>{{inputItem.name}}</li>
                            <li ng-repeat="paramItem in wf.parameters">{{paramItem.name}}</li>
                        </ul>
                        <ul class='table-row' ng-repeat="item in wf.inputData track by $index">
                            <li style="width:20px">{{$index + 1}}</li>
                            <li title='{{item.well.name}}'>{{item.well.name}}</li>
                            <li title='{{item.dataset.name}}'>{{item.dataset.name}}</li>
                            <li style='height:auto;overflow:visible;padding:0;' ng-repeat="input in item.inputs">
                                <ui-select ng-model="input.value">
                                    <ui-select-match>
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="curve in input.choices">
                                        {{curve.name}}
                                    </ui-select-choices>
                                </ui-select>
                            </li>
                            <li style='height:auto;overflow:visible;padding:0;' ng-repeat="param in item.parameters">
                                <ui-select ng-if="param.type == 'select'" ng-model="param.value">
                                    <ui-select-match>
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="p.value as p in param.choices">
                                        {{p.name}}
                                    </ui-select-choices>
                                </ui-select>
                                <div>
                                    <input style='width:100%;' ng-if="param.type != 'select'" type="{{param.type}}" ng-model="param.value" class='form-control wi-form-control'>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='wizard-control'>
        <button wz-previous class='btn btn-default' style='float:left;'>
            <i class='arrow-left-16x16' style='vertical-align:text-bottom;'></i>
            <span>Back</span>
        </button>
        <button wz-next class='btn btn-default' style='float:right;'>
            <span>Run All</span>
            <i class='run-16x16' style='vertical-align:text-bottom;'></i>
        </button>
    </div>
</div>