<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Track Properties</h4>
            </div>
            <div class="modal-body padding-0">
                <wi-tabset>
                    <wi-tab heading="General" enabled="wiModal.tabFlags[0]">
                        <div ng-show="wiModal.tabFlags[0] == 'true'" class="container-fluid padding-top-2em padding-bottom-2em padding-left-4em dialog-style">
                            <form action="" class="form-horizontal form-condensed">
                                <div id="header">
                                    <h5 class="normal-text">Header</h5>
                                    <div class="padding-left-10-percent">
                                        <div class="form-group">
                                            <div class="col-sm-8">
                                                <label for="isShowTitle">
                                                    <input type="checkbox" id="isShowTitle"
                                                           ng-model="wiModal.props.general.showTitle">
                                                    Show title
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="title">Title</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control wi-form-control" id="title"
                                                        ng-model="wiModal.props.general.title"
                                                       ng-disabled="!wiModal.props.general.showTitle">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="topJust" class="control-label col-sm-3">
                                                Top Justification
                                            </label>
                                            <div class="col-sm-8">
                                                <select ng-model="wiModal.props.general.topJustification"
                                                        name="topJust" id="topJust"
                                                        class="form-control wi-form-control"
                                                        ng-disabled="!wiModal.props.general.showTitle">
                                                    <option value="Left">Left</option>
                                                    <option value="Center">Center</option>
                                                    <option value="Right">Right</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group">
                                            <label for="bottomJust" class="control-label col-sm-3">
                                                Bottom Justification
                                            </label>
                                            <div class="col-sm-8">
                                                <select ng-model="wiModal.props.general.bottomJustification"
                                                        name="bottomJust"
                                                        class="form-control wi-form-control" id="bottomJust"
                                                        ng-disabled="!wiModal.props.general.showTitle">
                                                    <option value="Left">Left</option>
                                                    <option value="Center">Center</option>
                                                    <option value="Right">Right</option>
                                                </select>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div id="label">
                                    <h5 class="normal-text">Label</h5>
                                    <div class="padding-left-10-percent">
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                <label for="isShowLabels">
                                                    <input type="checkbox" id="isShowLabels" value=""
                                                           ng-model="wiModal.props.general.showLabels">
                                                    Show labels
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <label for="isShowEndLabels">
                                                    <input type="checkbox" id="isShowEndLabels" value=""
                                                           ng-model="wiModal.props.general.showEndLabels"
                                                            ng-disabled="!wiModal.props.general.showLabels">
                                                    Show end labels
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="format">
                                                Format
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control wi-form-control"
                                                       value="" name="format" id="format"
                                                        ng-model="wiModal.props.general.labelFormat" ng-disabled="!wiModal.props.general.showLabels">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="grid">
                                    <h5 class="normal-text">Grid</h5>
                                    <div class="padding-left-10-percent">
                                        <div class="form-group">
                                            <div class="col-sm-8">
                                                <label for="isShowValueGrid>
                                                    <input type="checkbox" id="isShowValueGrid" value=""
                                                           ng-model="wiModal.props.general.showValueGrid">
                                                    Show Value Grid
                                            </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="majorTicks">Major ticks</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control wi-form-control"
                                                       value="" name="majorTicks" id="majorTicks"
                                                        ng-model="wiModal.props.general.majorTicks" ng-disabled="!wiModal.props.general.showValueGrid">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="minorTicks">Minor ticks</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control wi-form-control"
                                                       value="" name="minorTicks" id="minorTicks"
                                                        ng-model="wiModal.props.general.minorTicks"
                                                       ng-disabled="!wiModal.props.general.showValueGrid">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-8">
                                                <label for="isShowDepthGrid">
                                                    <input type="checkbox" id="showDepthGrid" value=""
                                                           ng-model="wiModal.props.general.showDepthGrid">
                                                    Show Depth Grid
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="geometry">
                                    <h5 class="normal-text">Geometry</h5>
                                    <div class="padding-left-10-percent">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="width">
                                                Width (inchs)
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="number" step="1.0" min="1"
                                                       class="form-control wi-form-control" name="width"
                                                        ng-model="wiModal.props.general.width">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="color">
                                    <h5 class="normal-text">Color</h5>
                                    <div class="padding-left-10-percent">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="track">
                                                Track
                                            </label>
                                            <div class="col-sm-8">
                                                <div class="float-left">
                                                    <button ng-click="wiModal.colorTrack();"
                                                            ng-style="{'background-color':wiModal.props.general.color}"
                                                            class="form-control wi-form-control width-80px thick-border">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                    <wi-tab heading="Curve" enabled="wiModal.tabFlags[1]">
                        <div ng-show="wiModal.tabFlags[1] == 'true'" class="container-fluid padding-top-2em padding-bottom-2em">
                            <form action="" class="form-horizontal">
                                <div class="width-95-percent float-left">
                                    <table class="text-on-table table table-bordered curveTable">
                                        <thead>
                                            <tr>
                                                <td><strong>Curve</strong></td>
                                                <td><strong>Alias</strong></td>
                                                <td style="width: 10%"><strong>Left Scale</strong></td>
                                                <td style="width: 10%"><strong>Right Scale</strong></td>
                                                <td><strong>Log/Linear</strong></td>
                                                <td><strong>Display Mode</strong></td>
                                                <td><strong>Line Style</strong></td>
                                                <td><strong>Symbol Style</strong></td>
                                                <td><strong>Display As</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="curve in wiModal.getCurves()"
                                                ng-class="{selected:$index == selectedRowCurve}"
                                                ng-click="wiModal.setClickedRowCurve($index)">
                                                <td style="width: 12%">
                                                    <!-- <input type="text" ng-model="curve.alias" name="curveName"
                                                            class="form-control wi-form-control"
                                                            ng-change="wiModal.onChangeCurve($index);">
                                                    </input> -->
                                                    <select ng-model="wiModal.lineCurve[$index].id"
                                                            name="curveName"
                                                            class="form-control wi-form-control"
                                                            ng-options="item.id as item.datasetCurve for item in wiModal.arr"
                                                            ng-change="wiModal.onSelectCurve($index);" 
                                                            ng-disabled="wiModal.curvesChanged[wiModal.__idx].change != '2'"></select>
                                                </td>

                                                <td>
                                                    <input type="text" ng-model="curve.alias"
                                                           class="form-control wi-form-control"
                                                           ng-change="wiModal.onChangeCurve();">
                                                </td>
                                                <td>
                                                    <input type="number" ng-model="curve.minValue"
                                                           class="form-control wi-form-control"
                                                           ng-change="wiModal.onChangeCurve();">
                                                </td>
                                                <td>
                                                    <input type="number" ng-model="curve.maxValue"
                                                           class="form-control wi-form-control"
                                                           ng-change="wiModal.onChangeCurve();">
                                                </td>
                                                <td>
                                                    <select ng-model="curve.displayType" name="log"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="item for item in wiModal.logLinear track by item"
                                                            ng-change="wiModal.onChangeCurve();"></select>
                                                </td>
                                                <td>
                                                    <select ng-model="curve.displayMode" name="displayMode"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="item for item in wiModal.displayMode track by item"
                                                            ng-change="wiModal.onChangeCurve();"></select>
                                                </td>
                                                <td>
                                                    <input ng-model="curve.lineOptions"
                                                            type="button" value="Edit..." id="editLine" 
                                                            class="form-control wi-form-control"
                                                            ng-click="wiModal.lineStyleButtonClicked($index, $event); wiModal.onChangeCurve();">
                                                </td>
                                                <td>
                                                    <input ng-model="curve.symbolOptions"
                                                            type="button" value="Edit..." id="editSymbol" 
                                                            class="form-control wi-form-control"
                                                            ng-click="wiModal.symbolStyleButtonClicked($index, $event); wiModal.onChangeCurve();">
                                                </td>
                                                <td>
                                                    <select ng-model="curve.displayAs" name="displayAs"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="item for item in wiModal.displayAs track by item"
                                                            ng-change="wiModal.onChangeCurve();"></select>
                                                </td>       
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="width-5-percent float-left padding-left-5px">
                                    <button class="btn btn-default" ng-click="wiModal.removeRowCurve();">
                                        <span class="delete-16x16"></span>
                                    </button>
                                    <button class="btn btn-default" ng-click="wiModal.addRowCurve();">
                                        <span class="plus-16x16"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                    <wi-tab heading="Shading" active="wiModal.shadingOnly;" enabled="wiModal.tabFlags[2]">
                        <div ng-show="wiModal.tabFlags[2] == 'true'" class="container-fluid padding-top-2em padding-bottom-2em">
                            <form action="" class="form-horizontal">
                                <div class="col-sm-11 padding-0">
                                    <table style="border-collapse: collapse;" class="text-on-table table table-bordered shadingTable col-sm-12">
                                        <thead>
                                            <tr>
                                                <td class="text-center"><strong>Limit 1</strong></td>
                                                <td colspan="2" class="text-center"><strong>Limit 2</strong></td>
                                                <td colspan="3" class="text-center"><strong>Parameters</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center"><strong>Curve 1</strong></td>
                                                <td class="text-center"><strong>Curve 2</strong></td>
                                                <td class="text-center" style="width: 15%"><strong>Fixed Value</strong></td>
                                                <td class="text-center"><strong>Shading Name</strong></td>
                                                <td class="text-center"><strong>Shading Style</strong></td>
                                                <td class="text-center"><strong>Shading Options</strong></td>
                                            </tr>
                                            <tr ng-repeat="shading in wiModal.getShadings()" 
                                                ng-class="{'selected':$index == selectedRowShading}"
                                                ng-click="wiModal.setClickedRowShading($index)">
                                                <td>
                                                    <select ng-model="shading.idRightLine" name="curveName"
                                                            class="form-control wi-form-control" 
                                                            ng-options="item.id as item.datasetCurve for item in wiModal.curvesOnDataset"
                                                            ng-change="wiModal.onChangeShading($index);wiModal.setShadingName(shading.idRightLine, shading.idLeftLine, shading._index);">
                                                        <option></option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select ng-model="shading.idLeftLine"
                                                            class="form-control wi-form-control" 
                                                            ng-options="item.id as item.datasetCurve for item in wiModal.leftLimit"
                                                            ng-change="wiModal.onChangeShading($index);
                                                             shading.leftFixedValue = null; wiModal.validate(shading._index); wiModal.setFillDisplay(shading._index); wiModal.setLimit2(shading._index);wiModal.setShadingName(shading.idRightLine, shading.idLeftLine, shading._index);" 
                                                            ng-disabled="!shading.idRightLine">
                                                        <!-- <option value="{{item.id}}" ng-repeat="item in wiModal.curvesOnDataset">{{item.datasetCurve}}</option> -->
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="number" ng-model="shading.leftFixedValue" 
                                                            class="form-control wi-form-control" id="fixedVal" 
                                                            ng-change="wiModal.onChangeShading($index);wiModal.setShadingName(shading.idRightLine, shading.idLeftLine, shading._index); shading.idLeftLine = -3"
                                                            ng-disabled="!shading.idRightLine"
                                                            size="6">
                                                </td>
                                                <!-- <td class="border border-style1-right">
                                                    <input type="number" ng-model="shading.rightFixedValue" 
                                                            class="form-control wi-form-control"
                                                            ng-change="wiModal.onChangeShading($index);wiModal.setShadingName();" size="6"
                                                            disabled>
                                                </td> -->
                                                <td>
                                                    <input type="text" ng-model="shading.name" 
                                                    class="form-control wi-form-control"
                                                    ng-change="wiModal.onChangeShading($index)">
                                                </td>
                                                <td>
                                                    <select ng-model="shading.shadingStyle" 
                                                            class="form-control wi-form-control"
                                                            ng-change="wiModal.onChangeShading($index)">
                                                        <option value="fillPattern">Fill Pattern</option>
                                                        <option value="variableShading">Variable Shading</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="button" value="Define" 
                                                            ng-model="shading.fillPattern" 
                                                            class="form-control wi-form-control"
                                                            ng-click="wiModal.defineButtonClicked($index); wiModal.onChangeShading($index);">
                                                </td>
                                                <!-- <td>
                                                    <input type="button" value="Define" 
                                                            ng-model="shading.variableShading" 
                                                            class="form-control wi-form-control"
                                                            ng-click="wiModal.defineVariableButtonClicked($index)">
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p></p>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-default" ng-click="wiModal.removeRowShading()"><span class="delete-16x16"></span></button>
                                    <button type="button" class="btn btn-default" ng-click="wiModal.addRowShading()"><span class="plus-16x16"></span></button>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                </wi-tabset>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onApplyButtonClicked()" class="btn btn-default"><span class="apply-16x16"></span>&nbsp;Apply</button>
                <button type="button" ng-click="wiModal.onOkButtonClicked()" class="btn btn-default"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked()" class="btn btn-default"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>