<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Track Properties</h4>
            </div>
            <div class="modal-body padding-0">
                <wi-tabset>
                    <wi-tab heading="General" enabled="wiModal.tabFlags[0]">
                        <div ng-show="wiModal.tabFlags[0] == 'true'" class="container-fluid">
                            <form action="" class="form-horizontal form-condensed">
                                <div id="header">
                                    <h5>Header</h5>
                                    <div class="padding-left-20-percent">
                                        <div class="form-group">
                                            <div class="col-sm-7">
                                                <label for="isShowTitle" class="normal-text">
                                                    <input type="checkbox" id="isShowTitle"
                                                           value="" name=""
                                                           ng-model="wiModal.props.general.showTitle">
                                                    Show title
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 normal-text" for="title">Title</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control wi-form-control"
                                                       value="" name="title" id="title"
                                                        ng-model="wiModal.props.general.title"
                                                       ng-disabled="!wiModal.props.general.showTitle">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="topJust" class="control-label col-sm-5 normal-text">
                                                Top Justification
                                            </label>
                                            <div class="col-sm-7">
                                                <select ng-model="wiModal.props.general.topJustification"
                                                        name="topJust" id="topJust"
                                                        class="form-control wi-form-control"
                                                        ng-disabled="!wiModal.props.general.showTitle">
                                                    <option value="Left">Left</option>
                                                    <option value="Center">Center</option>
                                                    <option value="Right">Right</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="bottomJust" class="control-label col-sm-5 normal-text">
                                                Bottom Justification
                                            </label>
                                            <div class="col-sm-7">
                                                <select ng-model="wiModal.props.general.bottomJustification"
                                                        name="bottomJust"
                                                        class="form-control wi-form-control" id="bottomJust"
                                                        ng-disabled="!wiModal.props.general.showTitle">
                                                    <option value="Left">Left</option>
                                                    <option value="Center">Center</option>
                                                    <option value="Right">Right</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="label">
                                    <h5>Label</h5>
                                    <div class="padding-left-20-percent">
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <label for="isShowLabels" class="normal-text">
                                                    <input type="checkbox" id="isShowLabels" value=""
                                                           ng-model="wiModal.props.general.showLabels">
                                                    Show labels
                                                </label>
                                            </div>
                                            <div class="col-sm-7">
                                                <label for="isShowEndLabels" class="normal-text">
                                                    <input type="checkbox" id="isShowEndLabels" value=""
                                                           ng-model="wiModal.props.general.showEndLabels"
                                                            ng-disabled="!wiModal.props.general.showLabels">
                                                    Show end labels
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 normal-text" for="format">
                                                Format
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control wi-form-control"
                                                       value="" name="format" id="format"
                                                        ng-model="wiModal.props.general.format" ng-disabled="!wiModal.props.general.showLabels">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="grid">
                                    <h5>Grid</h5>
                                    <div class="padding-left-20-percent">
                                        <div class="form-group">
                                            <div class="col-sm-7">
                                                <label for="isShowValueGrid" class="normal-text">
                                                    <input type="checkbox" id="isShowValueGrid" value=""
                                                           ng-model="wiModal.props.general.showValueGrid">
                                                    Show Value Grid
                                            </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 normal-text" for="majorTicks">Major ticks</label>
                                            <div class="col-sm-7">
                                                <input type="number" class="form-control wi-form-control"
                                                       value="" name="majorTicks" id="majorTicks"
                                                        ng-model="wiModal.props.general.majorTicks" ng-disabled="!wiModal.props.general.showValueGrid">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 normal-text" for="minorTicks">Minor ticks</label>
                                            <div class="col-sm-7">
                                                <input type="number" class="form-control wi-form-control"
                                                       value="" name="minorTicks" id="minorTicks"
                                                        ng-model="wiModal.props.general.minorTicks"
                                                       ng-disabled="!wiModal.props.general.showValueGrid">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-7">
                                                <label for="isShowDepthGrid" class="normal-text">
                                                    <input type="checkbox" id="showDepthGrid" value=""
                                                           ng-model="wiModal.props.general.showDepthGrid">
                                                    Show Depth Grid
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="geometry">
                                    <h5>Geomatry</h5>
                                    <div class="padding-left-20-percent">
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 normal-text" for="width">
                                                Width (inchs)
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="number" step="0.001" min="1"
                                                       class="form-control wi-form-control" name="width"
                                                        ng-model="wiModal.props.general.width">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="color">
                                    <h5>Color</h5>
                                    <div class="padding-left-20-percent">
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 normal-text" for="track">
                                                Track
                                            </label>
                                            <div class="col-sm-7">
                                                <div class="float-left">
                                                    <button ng-click="wiModal.colorTrack();"
                                                            ng-style="{'background-color':wiModal.props.general.color}"
                                                            class="form-control wi-form-control width-80px thick-border">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                    <wi-tab heading="Curve" enabled="wiModal.tabFlags[1]">
                        <div ng-show="wiModal.tabFlags[1] == 'true'" class="container-fluid">
                            <form action="" class="form-horizontal">
                                <div class="width-95-percent float-left">
                                    <table class="font-size-10px table table-bordered curveTable">
                                        <thead>
                                            <tr>
                                                <td>Curve</td>
                                                <td>Alias</td>
                                                <td>Left Scale</td>
                                                <td>Right Scale</td>
                                                <td>Log/Linear</td>
                                                <td>Display Mode</td>
                                                <td>Line Style</td>
                                                <td>Symbol Style</td>
                                                <td>Display As</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="curve in wiModal.getCurves()"
                                                ng-class="{selected:$index == selectedRowCurve}"
                                                ng-click="wiModal.setClickedRowCurve($index)">
                                                <td style="width: 12%">
                                                    <!-- <input type="text" ng-model="curve.alias" name="curveName"
                                                            class="form-control wi-form-control"
                                                            ng-change="wiModal.onChangeCurve($index);">
                                                    </input> -->
                                                    <select ng-model="wiModal.lineCurve[$index].id"
                                                            name="curveName"
                                                            class="form-control wi-form-control"
                                                            ng-options="item.id as item.datasetCurve for item in wiModal.arr"
                                                            ng-change="wiModal.onSelectCurve($index);" 
                                                            ng-disabled="wiModal.curvesChanged[wiModal.__idx].change != '2'"></select>
                                                </td>

                                                <td>
                                                    <input type="text" ng-model="curve.alias"
                                                           class="form-control wi-form-control"
                                                           ng-change="wiModal.onChangeCurve();">
                                                </td>
                                                <td>
                                                    <input type="number" ng-model="curve.minValue"
                                                           class="form-control wi-form-control"
                                                           ng-change="wiModal.onChangeCurve();">
                                                </td>
                                                <td>
                                                    <input type="number" ng-model="curve.maxValue"
                                                           class="form-control wi-form-control"
                                                           ng-change="wiModal.onChangeCurve();">
                                                </td>
                                                <td>
                                                    <select ng-model="curve.displayType" name="log"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="item for item in wiModal.logLinear track by item"
                                                            ng-change="wiModal.onChangeCurve();"></select>
                                                </td>
                                                <td>
                                                    <select ng-model="curve.displayMode" name="displayMode"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="item for item in wiModal.displayMode track by item"
                                                            ng-change="wiModal.onChangeCurve();"></select>
                                                </td>
                                                <td>
                                                    <input ng-model="curve.lineOptions"
                                                            type="button" value="Edit..." id="editLine" 
                                                            class="form-control wi-form-control"
                                                            ng-click="wiModal.lineStyleButtonClicked($index, $event); wiModal.onChangeCurve();">
                                                </td>
                                                <td>
                                                    <input ng-model="curve.symbolOptions"
                                                            type="button" value="Edit..." id="editSymbol" 
                                                            class="form-control wi-form-control"
                                                            ng-click="wiModal.symbolStyleButtonClicked($index, $event); wiModal.onChangeCurve();">
                                                </td>
                                                <td>
                                                    <select ng-model="curve.displayAs" name="displayAs"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="item for item in wiModal.displayAs track by item"
                                                            ng-change="wiModal.onChangeCurve();"></select>
                                                </td>       
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="width-5-percent float-left padding-left-5px">
                                    <button class="btn btn-default" ng-click="wiModal.removeRowCurve();">
                                        <span class="delete-16x16"></span>
                                    </button>
                                    <button class="btn btn-default" ng-click="wiModal.addRow();">
                                        <span class="ok-16x16"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                    <wi-tab heading="Shading" active="wiModal.shadingOnly;" enabled="wiModal.tabFlags[2]">
                        <div ng-show="wiModal.tabFlags[2] == 'true'" class="container-fluid padding-top-2em padding-bottom-2em">
                            <form action="" class="form-horizontal">
                                <div class="col-sm-11">
                                    <table style="border-collapse: collapse;" class="font-size-10px shadingTable col-sm-12">
                                        <thead>
                                            <tr>
                                                <td colspan="2" class="text-center border border-style1-left border-style1-top border-style1-right"><strong>Left Side</strong></td>
                                                <td colspan="2" class="text-center border border-style1-top border-style1-right"><strong>Right Side</strong></td>
                                                <td colspan="3" class="text-center border border-style1-top border-style1-right"><strong>Parameters</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center border border-style1-left"><strong>Curve</strong></td>
                                                <td class="text-center border border-style1-right"><strong>Fixed Value</strong></td>
                                                <td class="text-center border"><strong>Curve</strong></td>
                                                <td class="text-center border border-style1-right"><strong>Fixed Value</strong></td>
                                                <td class="text-center border"><strong>Shading Name</strong></td>
                                                <td class="text-center border"><strong>Shading Style</strong></td>
                                                <td class="text-center border border-style1-right"><strong>Shading Options</strong></td>
                                            </tr>
                                            <tr ng-repeat="shading in wiModal.getShadings()" 
                                                ng-class="{'selected':$index == selectedRowShading}"
                                                ng-click="wiModal.setClickedRowShading($index)">
                                                <td class="border border-style1-left">
                                                    <select ng-model="shading.idLeftLine" name="curveName"
                                                            class="form-control wi-form-control" 
                                                            ng-options="item.id as item.datasetCurve for item in wiModal.curvesOnDataset"
                                                            ng-change="wiModal.onChangeShading($index);
                                                            wiModal.setShadingName(shading.idLeftLine, shading._index, false);" ng-disabled="!shading.idRightLine">
                                                                <option></option>
                                                            </select>
                                                </td>
                                                <td class="border border-style1-right">
                                                    <input type="number" ng-model="shading.leftFixedValue" 
                                                            class="form-control wi-form-control"
                                                            ng-change="wiModal.onChangeShading($index);wiModal.setShadingName(null, shading._index, false);"
                                                            size="6">
                                                </td>
                                                <td class="border">
                                                    <select ng-model="shading.idRightLine" name="curveName"
                                                            class="form-control wi-form-control" 
                                                            ng-options="item.id as item.datasetCurve for item in wiModal.curvesOnDataset"
                                                            ng-change="wiModal.onChangeShading($index);wiModal.setShadingName(shading.idRightLine, shading._index, true); wiModal.chooseRightCurve()">
                                                                <option></option>
                                                            </select>
                                                </td>
                                                <td class="border border-style1-right">
                                                    <input type="number" ng-model="shading.rightFixedValue" 
                                                            class="form-control wi-form-control"
                                                            ng-change="wiModal.onChangeShading($index);wiModal.setShadingName(null, shading._index, true);" size="6">
                                                </td>
                                                <td class="border">
                                                    <input type="text" ng-model="shading.name" 
                                                    class="form-control wi-form-control"
                                                    ng-change="wiModal.onChangeShading($index)">
                                                </td>
                                                <td class="border">
                                                    <select ng-model="shading.shadingStyle" 
                                                            class="form-control wi-form-control"
                                                            ng-change="wiModal.onChangeShading($index)">
                                                        <option value="fillPattern">Fill Pattern</option>
                                                        <option value="variableShading">Variable Shading</option>
                                                    </select>
                                                </td>
                                                <td class="border border-style1-right">
                                                    <input type="button" value="Define" 
                                                            ng-model="shading.fillPattern" 
                                                            class="form-control wi-form-control"
                                                            ng-click="wiModal.defineButtonClicked($index); wiModal.onChangeShading($index);">
                                                </td>
                                                <!-- <td>
                                                    <input type="button" value="Define" 
                                                            ng-model="shading.variableShading" 
                                                            class="form-control wi-form-control"
                                                            ng-click="wiModal.defineVariableButtonClicked($index)">
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p></p>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-default" ng-click="wiModal.removeRowShading()"><span class="delete-16x16"></span></button>
                                    <button type="button" class="btn btn-default" ng-click="wiModal.addRowShading()"><span class="ok-16x16"></span></button>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                </wi-tabset>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onApplyButtonClicked()" class="btn btn-default"><span class="apply-16x16"></span>&nbsp;Apply</button>
                <button type="button" ng-click="wiModal.onOkButtonClicked()" class="btn btn-default"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked()" class="btn btn-default"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>