<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Track Properties</h4>
            </div>
            <div class="modal-body padding-0">
                <wi-tabset>
                    <wi-tab heading="General">
                        <div class="container-fluid">
                            <form action="" class="form-horizontal form-condensed">
                                <div id="header">
                                    <h5>Header</h5>
                                    <div class="padding-left-20-percent">
                                        <div class="form-group">
                                            <div class="col-sm-7">
                                                <label for="isShowTitle" class="normal-text">
                                                    <input type="checkbox" id="isShowTitle"
                                                           value="" name=""
                                                           ng-model="wiModal.props.general.isShowTitle">
                                                    Show title
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 normal-text" for="title">Title</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control wi-form-control"
                                                       value="" name="title" id="title"
                                                        ng-model="wiModal.props.general.title"
                                                       ng-disabled="!wiModal.props.general.isShowTitle">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="topJust" class="control-label col-sm-5 normal-text">
                                                Top Justification
                                            </label>
                                            <div class="col-sm-7">
                                            {{wiModal.props.general.topJustification}}
                                                <select ng-model="wiModal.props.general.topJustification"
                                                        name="topJust" value="" id="topJust"
                                                        class="form-control wi-form-control"
                                                        ng-change="wiModal.test();"
                                                        ng-disabled="!wiModal.props.general.isShowTitle">
                                                    <option value="Left">Left</option>
                                                    <option value="Center">Center</option>
                                                    <option value="Right">Right</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="bottomJust" class="control-label col-sm-5 normal-text">
                                                Bottom Justification
                                            </label>
                                            <div class="col-sm-7">
                                                <select ng-model="wiModal.props.general.bottomJustification"
                                                        name="bottomJust" value=""
                                                        class="form-control wi-form-control" id="bottomJust"
                                                        ng-disabled="!wiModal.props.general.isShowTitle">
                                                    <option value="Left">Left</option>
                                                    <option value="Center">Center</option>
                                                    <option value="Right">Right</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="label">
                                    <h5>Label</h5>
                                    <div class="padding-left-20-percent">
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <label for="isShowLabels" class="normal-text">
                                                    <input type="checkbox" id="isShowLabels" value=""
                                                           ng-model="wiModal.props.general.isShowLabels">
                                                    Show labels
                                                </label>
                                            </div>
                                            <div class="col-sm-7">
                                                <label for="isShowEndLabels" class="normal-text">
                                                    <input type="checkbox" id="isShowEndLabels" value=""
                                                           ng-model="wiModal.props.general.isShowEndLabels"
                                                            ng-disabled="!wiModal.props.general.isShowLabels">
                                                    Show end labels
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 normal-text" for="format">
                                                Format
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control wi-form-control"
                                                       value="" name="format" id="format"
                                                        ng-model="wiModal.props.general.format" ng-disabled="!wiModal.props.general.isShowLabels">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="grid">
                                    <h5>Grid</h5>
                                    <div class="padding-left-20-percent">
                                        <div class="form-group">
                                            <div class="col-sm-7">
                                                <label for="isShowValueGrid" class="normal-text">
                                                    <input type="checkbox" id="isShowValueGrid" value=""
                                                           ng-model="wiModal.props.general.isShowValueGrid">
                                                    Show Value Grid
                                            </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 normal-text" for="majorTicks">Major ticks</label>
                                            <div class="col-sm-7">
                                                <input type="number" class="form-control wi-form-control"
                                                       value="" name="majorTicks" id="majorTicks"
                                                        ng-model="wiModal.props.general.majorTicks" ng-disabled="!wiModal.props.general.isShowValueGrid">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 normal-text" for="minorTicks">Minor ticks</label>
                                            <div class="col-sm-7">
                                                <input type="number" class="form-control wi-form-control"
                                                       value="" name="minorTicks" id="minorTicks"
                                                        ng-model="wiModal.props.general.minorTicks"
                                                       ng-disabled="!wiModal.props.general.isShowValueGrid">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-7">
                                                <label for="isShowDepthGrid" class="normal-text">
                                                    <input type="checkbox" id="isShowDepthGrid" value=""
                                                           ng-model="wiModal.props.general.isShowDepthGrid">
                                                    Show Depth Grid
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="geometry">
                                    <h5>Geomatry</h5>
                                    <div class="padding-left-20-percent">
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 normal-text" for="width">
                                                Width (inchs)
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="number" step="0.001" min="1"
                                                       class="form-control wi-form-control" name="width"
                                                        ng-model="wiModal.props.general.width">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="color">
                                    <h5>Color</h5>
                                    <div class="padding-left-20-percent">
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 normal-text" for="track">
                                                Track
                                            </label>
                                            <div class="col-sm-7">
                                                <div class="float-left">
                                                    <input kendo-color-picker k-palette="'websafe'"
                                                           class="form-control wi-form-control"
                                                        ng-model="wiModal.props.general.trackColor"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                    <wi-tab heading="Curve">
                        <div class="container-fluid">
                            <form action="" class="form-horizontal">
                                <div class="width-95-percent float-left">
                                    <table class="font-size-10px table table-bordered curveTable">
                                        <thead>
                                            <tr>
                                                <td>Dataset</td>
                                                <td>Curve</td>
                                                <td>Alias</td>
                                                <td>Left Scale</td>
                                                <td>Right Scale</td>
                                                <td>Log/Linear</td>
                                                <td>Display Mode</td>
                                                <td>Line Style</td>
                                                <td>Display As</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="curve in wiModal.curves"
                                                ng-class="{selected:$index == selectedRow}"
                                                ng-click="wiModal.setClickedRowCurve($index)">
                                                <td>
                                                    <select class="form-control wi-form-control"
                                                            ng-model="wiModal.dataset"
                                                            ng-options="dataset.name for dataset in wiModal.datasets">
                                                    </select>
                                                </td>
                                                <td>
                                                    <select ng-model="curve.alias" name="curveName"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="selectCurve as selectCurve.name for selectCurve in wiModal.currentCurves">
                                                    </select>
                                                </td>

                                                <td>
                                                    <input type="text" ng-model="curve.alias"
                                                           class="form-control wi-form-control">
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="curve.minValue"
                                                           class="form-control wi-form-control">
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="curve.maxValue"
                                                           class="form-control wi-form-control">
                                                </td>
                                                <td>
                                                    <select ng-model="curve.displayType" name="log"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="item for item in wiModal.logLinear track by item"></select>
                                                </td>
                                                <td>
                                                    <select ng-model="curve.displayMode" name="displayMode"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="item for item in wiModal.displayMode track by item"></select>
                                                </td>
                                                <td>
                                                    <input type="button" value="Line..." 
                                                            class="form-control wi-form-control"
                                                            ng-click="wiModal.lineStyleButtonClicked()">
                                                    <input type="button" value="Symbol..." 
                                                            class="form-control wi-form-control"
                                                            ng-click="wiModal.symbolStyleButtonClicked()">
                                                </td>
                                                <td>
                                                    <select ng-model="curve.displayAs" name="displayAs"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="item for item in wiModal.displayAs track by item"></select>
                                                </td>       
                                            </tr>
                                            <!-- <tr ng-model="curve"
                                                ng-repeat="curve in wiModal.fillDataset track by $index"
                                                ng-class="{selected:$index == selectedRow}"
                                                ng-click="wiModal.setClickedRowCurve($index)">
                                                <td>
                                                    <select class="form-control wi-form-control"
                                                            ng-model="dataset"
                                                            ng-options="dataset.name for dataset in wiModal.fillDataset">
                                                    </select>
                                                </td>
                                                <td>
                                                    <select ng-model="selectCurve" name="curveName"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="selectCurve as selectCurve.name for selectCurve in dataset.curves">
                                                    </select>
                                                </td>

                                                <td>
                                                    <input type="text" ng-model="selectCurve.alias"
                                                           class="form-control wi-form-control">
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="selectCurve.leftScale"
                                                           class="form-control wi-form-control">
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="selectCurve.rightScale"
                                                           class="form-control wi-form-control">
                                                </td>
                                                <td>
                                                    <select ng-model="selectCurve.logLinear" name="log"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="item for item in wiModal.logLinear track by item"></select>
                                                </td>
                                                <td>
                                                    <select ng-model="selectCurve.displayMode" name="displayMode"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="item for item in wiModal.displayMode track by item"></select>
                                                </td>
                                                <td>
                                                    <input type="button" ng-model="selectCurve.lineStyle"
                                                           value="Edit..." class="form-control wi-form-control"
                                                            ng-click="wiModal.lineStyleButtonClicked()">
                                                </td>
                                                <td>
                                                    <select ng-model="selectCurve.displayAs" name="displayAs"
                                                            value="" class="form-control wi-form-control"
                                                            ng-options="item for item in wiModal.displayAs track by item"></select>
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="width-5-percent float-left padding-left-5px">
                                    <button class="btn btn-default" ng-click="wiModal.arrowUpCurve();">
                                            <span class="arrow-up-16x16"></span>
                                        </button>
                                    <button class="btn btn-default" ng-click="wiModal.arrowDownCurve();">
                                            <span class="arrow-down-16x16"></span>
                                        </button>
                                    <button class="btn btn-default" ng-click="wiModal.removeRow();">
                                            <span class="delete-16x16"></span>
                                        </button>
                                    <button class="btn btn-default" ng-click="wiModal.addRow();">
                                            <span class="ok-16x16"></span>
                                        </button>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                    <wi-tab heading="Shading">
                        <div class="container-fluid">
                            <form action="" class="form-horizontal">
                                <div class="col-sm-11">
                                    <table class="font-size-10px table table-bordered shadingTable">
                                        <thead>
                                            <tr>
                                                <td colspan="2">Left Side of Shading</td>
                                                <td colspan="2">Right Side of Shading</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Curve Name</td>
                                                <td>Fixed Name</td>
                                                <td>Curve Name</td>
                                                <td>Fixed Name</td>
                                                <td>Shading Name</td>
                                                <td>Shading Style</td>
                                                <td>Fill Pattern</td>
                                                <td>Variable Shading</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-model="wiModal.selectedShading" ng-repeat="shading in wiModal.currentShadings" ng-class="{'selected':$index == wiModal.selectedRowShading}"
                                                ng-click="wiModal.setClickedRowShading($index)">
                                                <td>
                                                    <select ng-model="shading.left.curveName" name="curveName" value="" class="form-control wi-form-control" ng-options="item for item in wiModal.curveName track by item"></select>
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="shading.left.fixedValue" class="form-control wi-form-control">
                                                </td>
                                                <td>
                                                    <select ng-model="shading.right.curveName" name="curveName" value="" class="form-control wi-form-control" ng-options="item for item in wiModal.curveName track by item"></select>
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="shading.right.fixedValue" class="form-control wi-form-control">
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="shading.shadingName" class="form-control wi-form-control">
                                                </td>
                                                <td>
                                                    <select ng-model="shading.shadingStyle" name="shadingStyle" value="" class="form-control wi-form-control" ng-options="item for item in wiModal.shadingStyle track by item"></select>
                                                </td>
                                                <td>
                                                    <input type="button" value="Define" 
                                                            ng-model="shading.fillPattern" 
                                                            class="form-control wi-form-control"
                                                            ng-click="wiModal.definePatternButtonClicked();">
                                                </td>
                                                <td>
                                                    <input type="button" ng-model="shading.variableShading" class="form-control wi-form-control">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-default" ng-click="wiModal.arrowUpShading()"><span class="arrow-up-16x16"></span></button>
                                    <button type="button" class="btn btn-default" ng-click="wiModal.arrowDownShading()"><span class="arrow-down-16x16"></span></button>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                </wi-tabset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onApplyButtonClicked()" class="btn btn-default"><span class="apply-16x16"></span>&nbsp;Apply</button>
                <button type="button" ng-click="wiModal.onOkButtonClicked()" class="btn btn-default"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked()" class="btn btn-default"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>