<div class='modal fade' data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog modal-lg'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">&times;</button>
                <h4>
                    <span class="well-insight-16x16"></span>&nbsp;Curve Average</h4>
            </div>
            <div class="modal-body dialog-style">
                <div class="row">
                    <form class="form-horizontal" action="" name="modalCurveAverage">
                        <h5 class="modal-infomation-title">
                            <span class="well-16x16"></span>
                            Well
                        </h5>
                        <div class="container-fluid">
                        <div class="form-group">
                            <label for="" class="col-sm-2">
                                Select well
                            </label>
                            <div class="col-sm-4">
                                <select class="form-control wi-form-control">
                                </select>
                            </div>
                       
                            <label for="" class="col-sm-2">
                                Dataset
                            </label>
                            <div class="col-sm-4">
                                <select class="form-control wi-form-control">
                                </select>
                            </div>
                        </div>
                    
                    
                        <div class="form-group">
                            <label for="" class="col-sm-2">
                                Top Depth
                            </label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control wi-form-control" step="any">
                            </div>
                      
                            <label for="" class="col-sm-2" style="padding-right: 0px">
                                Bottom Depth
                            </label>
                            <div class="col-sm-2" style="padding-right: 0">
                                <input type="number" class="form-control wi-form-control" step="any">
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-default small-button width-100-percent" >Default</button>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label for="" class="col-sm-2">
                                Step
                            </label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control wi-form-control" step="any">
                            </div>
                        </div>  
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>
                                    <input type="radio" value="" class="wi-form-control"> Using Servey File
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label style="padding-left: 0px">
                                    <input type="radio" value="" class="wi-form-control"> Using Curve
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <button class="btn btn-default small-button">Browse</button>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="" value="" class="form-control wi-form-control">
                            </div>
                            <label for="" class="col-sm-2">
                                Deviation
                            </label>
                            <div class="col-sm-1">
                                <select class="form-control wi-form-control"></select>
                            </div>
                            <label for="" class="col-sm-2">
                                Azimuth
                            </label>
                            <div class="col-sm-1">
                                <select class="form-control wi-form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2">
                                Data start at line
                            </label>
                            <div class="col-sm-1">
                                <input type="number" name="" value="" class="form-control wi-form-control">
                            </div>
                            <label for="" class="col-sm-2">
                                Depth is in column
                            </label>
                            <div class="col-sm-1">
                                <input type="number" name="" value="" class="form-control wi-form-control">
                            </div>
                            <label for="" class="col-sm-2" style="padding-right: 0px">
                                Deviation is in column
                            </label>
                            <div class="col-sm-1">
                                <input type="number" class="form-control wi-form-control">
                            </div>
                            <label for="" class="col-sm-2" style="padding-right: 0px">
                                Azimuth is in column
                            </label>
                            <div class="col-sm-1">
                                <input type="number" class="form-control wi-form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2">
                                Well depth reference
                            </label>
                            <div class="col-sm-1">
                                <input type="number" name="" value="" class="form-control wi-form-control">
                            </div>
                            <label for="" class="col-sm-2">
                                TVD reference at
                            </label>
                            <div class="col-sm-1">
                                <input type="number" name="" value="" class="form-control wi-form-control">
                            </div>
                            <label for="" class="col-sm-2">
                                X at ref. depth
                            </label>
                            <div class="col-sm-1">
                                <input type="number" class="form-control wi-form-control">
                            </div>
                            <label for="" class="col-sm-2">
                                Y at ref. depth
                            </label>
                            <div class="col-sm-1">
                                <input type="number" class="form-control wi-form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2">
                                TVDSS Method
                            </label>
                            <div class="col-sm-4">
                                <select class="form-control wi-form-control">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-12">Method: </label>
                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" value="" class="wi-form-control"> Average Angle
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" value="" class="wi-form-control"> Balanced Tangential
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" value="" class="wi-form-control"> Radius Curvature
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" value="" class="wi-form-control"> Minimum Curvature
                                </label>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class='btn btn-default' ng-click='wiModal.onSaveButtonClicked()'>
                    <span class="apply-16x16"></span>Save</button>
                <button class='btn btn-default' ng-click='wiModal.onRunButtonClicked()'>
                    <span class="run-16x16"></span>Run</button>
                <button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()'>
                    <span class="close-16x16"></span>Cancel</button>
            </div>
        </div>
    </div>
</div>