<div class='modal fade' data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog modal-1000'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">&times;</button>
                <h4>
                    <span class="true-vertical-depth-16x16"></span>&nbsp;TVD Conversion</h4>
            </div>
            <div class="modal-body dialog-style">
                <div class="row">
                    <form class="form-horizontal form-condensed">
                        <h5>
                            <span class="well-16x16"></span>Well
                        </h5>
                        <div class="container-fluid">
                        <div class="form-group">
                            <label class="col-sm-2">
                                Select well
                            </label>
                            <div class="col-sm-4">
                                <select class="form-control wi-form-control"
                                        ng-model="wiModal.SelectedWell"
                                        ng-options="well as well.properties.name for well in wiModal.wells"
                                        ng-change="wiModal.onChangeWell()">
                                </select>
                            </div>
                            <label class="col-sm-2">
                                Dataset
                            </label>
                            <div class="col-sm-4">
                                <select class="form-control wi-form-control"
                                        ng-model="wiModal.SelectedDataset"
                                        ng-options="dataset as dataset.name for dataset in wiModal.datasets">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">
                                Top Depth
                            </label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control wi-form-control" step="any" disabled
                                        ng-model="wiModal.topDepth">
                            </div>
                            <label class="col-sm-2">
                                Bottom Depth
                            </label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control wi-form-control" step="any" disabled
                                         ng-model="wiModal.bottomDepth">
                            </div>
                            <label class="col-sm-2">
                                Step
                            </label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control wi-form-control" step="any" disabled
                                        ng-model="wiModal.step">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">
                                <input type="radio" value="curve" class="wi-form-control" name='useType'
                                ng-model="wiModal.useType"> Using Curve
                            </label>
                            <label class="col-sm-2">
                                Deviation
                            </label>
                            <div class="col-sm-2">
                                <ui-select ng-model="wiModal.DevCurve" ng-disabled="wiModal.useType == 'file'"
                                ng-change="wiModal.loadCurves()">
                                    <ui-select-match placeholder='Select a curve'>{{wiModal.DevCurve.properties.name}}</ui-select-match>
                                    <ui-select-choices group-by="wiModal.groupFn"
                                    repeat='curve in wiModal.curvesArr | filter:{properties: {name:$select.search}} track by curve.id'>
                                        <div class="padding-left-20px">{{curve.properties.name}}</div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <label class="col-sm-2">
                                Azimuth
                            </label>
                            <div class="col-sm-2">
                                <ui-select ng-model="wiModal.AziCurve" ng-disabled="wiModal.useType == 'file'"
                                ng-change="wiModal.loadCurves()">
                                        <ui-select-match placeholder='Select a curve'>{{wiModal.AziCurve.properties.name}}</ui-select-match>
                                        <ui-select-choices group-by="wiModal.groupFn"
                                        repeat='curve in wiModal.curvesArr | filter:{properties: {name:$select.search}} track by curve.id'>
                                            <div class="padding-left-20px">{{curve.properties.name}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">
                                <input type="radio" value="file" class="wi-form-control" name='useType'
                                ng-model="wiModal.useType"> Using Servey File
                            </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control wi-form-control" disabled ng-model="wiModal.SurveyFile.name">
                            </div>
                            <div class="col-sm-2">
                                <label class="btn btn-default small-button width-100-percent"
                                ng-class="{'label-disabled': wiModal.useType == 'curve'}">
                                    <input class="display-none" type="file" accept=".txt"
                                    ngf-select
                                    ng-model="wiModal.SurveyFile"
                                    ng-disabled="wiModal.useType == 'curve'"
                                    ng-change="wiModal.loadFile()"/>
                                    Browse</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">
                                Data start at line
                            </label>
                            <div class="col-sm-1">
                                <input type="number" class="form-control wi-form-control" ng-disabled="wiModal.useType == 'curve'"
                                ng-model="wiModal.startData" min="0" step="1">
                            </div>
                            <label class="col-sm-2">
                                Depth is in column
                            </label>
                            <div class="col-sm-1">
                                <input type="number" class="form-control wi-form-control" ng-disabled="wiModal.useType == 'curve'"
                                ng-model="wiModal.colDepth" min="1" step="1">
                            </div>
                            <label class="col-sm-2" style="padding-right: 0px">
                                Deviation is in column
                            </label>
                            <div class="col-sm-1">
                                <input type="number" class="form-control wi-form-control" ng-disabled="wiModal.useType == 'curve'"
                                ng-model="wiModal.colDev" min="1" step="1">
                            </div>
                            <label class="col-sm-2" style="padding-right: 0px">
                                Azimuth is in column
                            </label>
                            <div class="col-sm-1">
                                <input type="number" class="form-control wi-form-control" ng-disabled="wiModal.useType == 'curve'"
                                ng-model="wiModal.colAzi" min="1" step="1">
                            </div>
                        </div>
                        <h5>Parameters</h5>
                        <div class="form-group">
                            <label class="col-sm-2">
                                Elevation
                            </label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control wi-form-control" ng-model="wiModal.elevation">
                            </div>
                            <label class="col-sm-2">
                                X at ref. depth
                            </label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control wi-form-control" ng-model="wiModal.xRef">
                            </div>
                            <label class="col-sm-2">
                                Y at ref. depth
                            </label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control wi-form-control" ng-model="wiModal.yRef">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">
                                TVD reference at
                            </label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control wi-form-control" ng-model="wiModal.tvdRef">
                            </div>
                            <label class="col-sm-2">
                                TVDSS Method
                            </label>
                            <div class="col-sm-2">
                                <select class="form-control wi-form-control" ng-model="wiModal.tvdMethod">
                                  <option value="off">Off Shore</option>
                                  <option value="on">On Shore</option>
                                </select>
                            </div>
                            <label class="col-sm-1">Formula</label>
                            <div class="col-sm-3">
                                <select class="form-control wi-form-control" ng-model="wiModal.calMethod">
                                    <option value="1">Average Angle</option>
                                    <option value="2">Balanced Tangential</option>
                                    <option value="3">Radius Curvature</option>
                                    <option value="4">Minimum Curvature</option>
                                </select>
                            </div>
                        </div>
                        <div style="display:flex; flex-direction:row">
                            <div resizable r-directions="['right']" r-flex="true" style="min-width:20%;max-width:50%">
                                <wi-tabset>
                                    <wi-tab heading='Input'>
                                        <div class="pane-table" style="height:200px;" ng-if="wiModal.useType == 'file'">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>{{wiModal.input.length ? 'Index': '&nbsp;'}}</th>
                                                        <th ng-repeat="row in wiModal.input[0] track by $index">Column{{$index + 1}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="row in wiModal.input">
                                                        <th>{{$index}}</th>
                                                        <td ng-repeat="col in row track by $index">{{col}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="pane-table" style="height:200px;" ng-if="wiModal.useType == 'curve'" id="inputCurve">
                                            <table class="table table-bordered"
                                            infinite-scroll="wiModal.LoadMoreInputCurve()" infinite-scroll-distance="0"
                                            infinite-scroll-container='"#inputCurve"'>
                                                <thead>
                                                    <tr ng-if="wiModal.useType == 'curve'">
                                                        <th>Index</th>
                                                        <th>Depth</th>
                                                        <th>Deviation</th>
                                                        <th>Azimuth</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-if="wiModal.useType == 'curve'"
                                                    ng-repeat="row in wiModal.FullSizeCurve track by $index">
                                                        <th>{{$index}}</th>
                                                        <td>{{(wiModal.FullSize[$index]).toFixed(4)}}</td>
                                                        <td>{{wiModal.devArr[$index]}}</td>
                                                        <td>{{wiModal.aziArr[$index]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </wi-tab>
                                </wi-tabset>
                            </div>
                            <div style="margin-left:14px;display:flex;flex:1;overflow:overlay">
                                <wi-tabset style="width:100%">
                                    <wi-tab heading='Preview'>
                                        <div class="pane-table" style="height:200px;" id="preview">
                                            <table class="table table-bordered"
                                            infinite-scroll="wiModal.LoadMorePreview()" infinite-scroll-distance="0"
                                            infinite-scroll-container='"#preview"'>
                                                <thead>
                                                    <tr>
                                                        <th>Index</th>
                                                        <th>MD(Depth)</th>
                                                        <th>TVD</th>
                                                        <th>TVDSS</th>
                                                        <th>Deviation</th>
                                                        <th>Azimuth</th>
                                                        <th>North</th>
                                                        <th>East</th>
                                                        <th>X</th>
                                                        <th>Y</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="row in wiModal.SizeLoaded track by $index">
                                                        <th>{{$index}}</th>
                                                        <td>{{wiModal.depthArr[$index].toFixed(4)}}</td>
                                                        <td>{{wiModal.tvdArr[$index].toFixed(4)}}</td>
                                                        <td>{{wiModal.tvdssArr[$index].toFixed(4)}}</td>
                                                        <td>{{wiModal.devArr[$index].toFixed(4)}}</td>
                                                        <td>{{wiModal.aziArr[$index].toFixed(4)}}</td>
                                                        <td>{{wiModal.northArr[$index].toFixed(4)}}</td>
                                                        <td>{{wiModal.eastArr[$index].toFixed(4)}}</td>
                                                        <td>{{wiModal.xArr[$index].toFixed(4)}}</td>
                                                        <td>{{wiModal.yArr[$index].toFixed(4)}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </wi-tab>
                                    <wi-tab heading='Output'>
                                        <div class="pane-table" style="height:200px;" id="output">
                                            <table class="table table-bordered"                                        infinite-scroll="wiModal.LoadMoreOutPut()" infinite-scroll-distance="0"
                                            infinite-scroll-container='"#output"'>
                                                <thead>
                                                    <tr>
                                                        <th>Index</th>
                                                        <th>Depth</th>
                                                        <th>Deviation</th>
                                                        <th>Azimuth</th>
                                                        <th>TVD</th>
                                                        <th>TVDSS</th>
                                                        <th>X</th>
                                                        <th>Y</th>
                                                        <th>North</th>
                                                        <th>East</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="row in wiModal.FullSizeLoaded track by $index">
                                                        <th>{{$index}}</th>
                                                        <td>{{(wiModal.FullSize[$index])}}</td>
                                                        <td>{{wiModal.outdevArr[$index]}}</td>
                                                        <td>{{wiModal.outaziArr[$index]}}</td>
                                                        <td>{{wiModal.outtvdArr[$index]}}</td>
                                                        <td>{{wiModal.outtvdssArr[$index]}}</td>
                                                        <td>{{wiModal.outxArr[$index]}}</td>
                                                        <td>{{wiModal.outyArr[$index]}}</td>
                                                        <td>{{wiModal.outnorthArr[$index]}}</td>
                                                        <td>{{wiModal.outeastArr[$index]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </wi-tab>
                                </wi-tabset>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class='btn btn-default' ng-click='wiModal.onRunButtonClicked(true)' ng-disabled="wiModal.applyingInProgress">
                    <span class="apply-16x16"></span>&nbsp;Save</button>
                <button class='btn btn-default' ng-click='wiModal.onRunButtonClicked(false)' ng-disabled="wiModal.applyingInProgress">
                    <span class="run-16x16"></span>&nbsp;Run</button>
                <button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()'>
                    <span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>