<html>
<head>
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/css/themify-icons.css" rel="stylesheet">

    <link href='css/main.css' rel='stylesheet'>
    <link href='css/wi-list.css' rel='stylesheet'>
    <link href='css/wi-properties.css' rel='stylesheet'>

    <link rel="stylesheet" href="css/sprite_32.css">
    <link rel="stylesheet" href="css/sprite_16.css">

    <script src="vendor/js/jquery.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <script src="vendor/js/angular.min.js"></script>

    <script src="js/main-properties.js.bundle.js"></script>

    <title>Test</title>
</head>

<body ng-app='helloapp'>

<div ng-controller="WiDummy">
    <div style="width: 500px; height: 300px; border: 1px solid green; display: flex">
        <wi-properties name="MyProperties" list-config="myConfig" style="flex: 1"></wi-properties>
    </div>
    <div>
        <button ng-click='changeList()'>Change List</button>
    </div>
</div>
</body>
</html>
