wi-reference-window {
    &>div {
        position:relative;
        display:flex;
        flex-direction:column;
        width: 100%;
        height: 100%;
        background-color: none;
        //padding:0 0 0 35px;
        &>div.plot {
            position:relative;
            background-color: white;
            flex: 1;
            padding:0 0 0 35px;
        }
        &>div.info {
            margin-top: 0.3em;
            padding: 0.2em 0.5em;
            background-color: white;
            height: 80px;
            overflow: overlay;
            &>div.infoItem{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        svg.grid-svg {
            position: absolute;
            overflow: visible;
        }
        canvas.point-canvas {
            position: absolute;
        }
    }
}
