wii-items {
  .panel-default {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .panel-body {
    padding: 0;
    flex: 1;
    position: relative;
  }
  table {
	background: none;
	border: none;
    width: 100%;
    tbody {
        position:absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    tr:first-child {
        height: 1.2em;
        th { font-size: 12px; }
    }
    tr {
      height: 2em;
      border-bottom: 1px solid #eeeeee;
      cursor: pointer;
      td {
        padding: 0 12px;
        border-right: 1px solid #eeeeee;
        &.unit {
          width: 5%;
          input {
            width: 100%;
          }
        }
        input {
          border: 0;
          background-color: transparent;
          width: 90%;
        }
      }
      th {
        padding: 0 30px;
        border-right: 1px solid #eeeeee;
      }
    }
    tr:first-child {
      border-top: 1px solid #eeeeee;
      background-color: #f8f8f8;
      cursor: default;
    }
    tr.active {
      background-color: #eeeeee;
    }
  }
}
