<div class='modal fade' data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog modal-lg'>
        <div class="modal-content">
            <style>
                .isShared {
                    color: blue;
                } 
                .isNotShared {
                    color: #eee;
                }
                ::-webkit-input-placeholder {
                   color: #ccc;
                   font-style: italic;
                }
            </style>
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">
                    &times;
                </button>
                <h4>Sharing Config (Project : {{wiModal.project.name}})</h4>
            </div>
            <div class="modal-body">
                <div style="display: flex; height: 40%; margin-bottom: 5px">
                    <div class="list-body" style="padding-right: 10px">
                        <div class="panel-heading" style="padding: 0">
                            <p style="float: left;" class="text-heading" ng-if="wiModal.fb">Share To Groups</p>
                            <p style="float: left;" class="text-heading" ng-if="!wiModal.fb">All Groups</p>
                        </div>
                        <div style='background-color:white;display: flex;padding-left: 7px; border: 1px solid #ccc'>
                            <i style="font-size: 16px; line-height:28px;z-index:1;color:#aaa;float: left;" class="fa fa-search"></i>
                            <input type='text' id="focus" 
                                    style='flex:1; margin-left: -22px; padding-left: 32px;color:steelblue;border: none' 
                                    ng-model="wiModal.grFilter"
                                    placeholder="[Search]">
                            <div class='filter-block' ng-init="wiModal.fb=true" style="float: right;">
                                <div class="filter-main" style="width: 45px;">
                                    <label class="btn" title='View Sharing Groups'>
                                        <input type="checkbox" class="display-none" ng-model="wiModal.fb"
                                                ng-change="wiModal.onFilterBy()">
                                        <span class='ti-check isShared'></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <wi-scroll id-scroll="'groupTreeScroll'" style='flex:1;display:flex;flex-direction:column;'
                                    class="list-scroll"
                                    up-trigger='wiModal.upTriggerGroup' down-trigger='wiModal.downTriggerGroup'
                                    animation-timeout="0">
                            <wi-base-treeview
                                        name="_group"
                                        container="wiModal"
                                        config="wiModal.groupsConfig"
                                        on-click-function='wiModal.groupClicked'
                                        filter-by="{{wiModal.filterBy}}">
                            </wi-base-treeview>
                        </wi-scroll>
                    </div>
                    <div class="list-body" style="padding-left: 10px">
                        <div class="panel-heading" style="padding: 0">
                            <p style="float: left;" class="text-heading">Users in: <span style="font-weight: bold">{{wiModal.selectGroupNode.name}}</span></p>
                        </div>
                        <div style='background-color:white;display: flex;padding-left: 7px; border: 1px solid #ccc'>
                            <i style="font-size: 16px; line-height:28px;z-index:1;color:#aaa;float: left;" class="fa fa-search"></i>
                            <input type='text' id="focus" 
                                    style='flex:1; margin-left: -22px; padding-left: 32px;color:steelblue; border: none' 
                                    ng-model="wiModal.uFilter"
                                    placeholder="[Search]">
                        </div>
                        <wi-scroll id-scroll="'userTreeScroll'" style='flex:1;display:flex;flex-direction:column;'
                                    class="list-scroll"
                                up-trigger='wiModal.upTriggerUser' down-trigger='wiModal.downTriggerUser'>
                            <wi-base-treeview
                                        name="_user"
                                        container="wiModal"
                                        config="wiModal.usersConfig"
                                        filter="{{wiModal.uFilter}}">
                            </wi-base-treeview>
                        </wi-scroll>
                    </div>
                </div>
                <p style="padding-left: 5px" class="text-heading">Permission</p>
                <div style="display: flex; height: 25%; border: 1px solid #ccc; margin: 0 5px; border-radius: 5px;">
                    <div style="width: 100%; text-align: center; padding: 4em;" ng-show="!wiModal.objects">
                        <p style="font-weight: bold; color: #ccc; font-size: 3em">NO INFORMATION</p>
                    </div>
                    <div style="flex:1;" ng-show="wiModal.objects">
                        <div style="display: flex; padding: 3px 15px; font-weight: bold;background: #ccc; margin-bottom: 2px;box-shadow:0px 2px 5px #888;">
                            <span style="flex: 1;">Title</span>
                            <span style="padding: 3px 15px; width: 40%">
                                <label class="checkbox-inline control-label" style="width:20%"><input type="checkbox" ng-model="wiModal.allPerm.get" ng-checked="true" ng-disabled="true">Get</label>
                                <label class="checkbox-inline control-label" style="width:20%"><input type="checkbox" ng-model="wiModal.allPerm.create" ng-checked="{{wiModal.allPerm.create}}" ng-change="wiModal.onChangeAllPerm('create')">Create</label>
                                <label class="checkbox-inline control-label" style="width:20%"><input type="checkbox" ng-model="wiModal.allPerm.update" ng-checked="{{wiModal.allPerm.update}}" ng-change="wiModal.onChangeAllPerm('update')">Update</label>
                                <label class="checkbox-inline control-label" style="width:20%"><input type="checkbox" ng-model="wiModal.allPerm.delete" ng-checked="{{wiModal.allPerm.delete}}" ng-change="wiModal.onChangeAllPerm('delete')">Delete</label>
                            </span>
                        </div>
                        <div style="overflow-y: overlay; height: 80%;">
                            <ul class="list-group">
                                <li ng-repeat="object in wiModal.objects" class="list-group-item"
                                    style="display: flex; padding: 3px 15px"><span style="flex: 1; line-height: 25px; ">{{object.displayAs}}</span>
                                    <span style="padding: inherit; width: 40%">
                                        <label class="checkbox-inline" style="width:20%"><input type="checkbox" ng-model="object.get" ng-checked="{{object.get}}" ng-disabled="true"></label>
                                        <label class="checkbox-inline" style="width:20%"><input type="checkbox" ng-model="object.create" ng-checked="{{object.create}}"></label>
                                        <label class="checkbox-inline" style="width:20%"><input type="checkbox" ng-model="object.update" ng-checked="{{object.update}}"></label>
                                        <label class="checkbox-inline" style="width:20%"><input type="checkbox" ng-model="object.delete" ng-checked="{{object.delete}}"></label>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class='btn btn-default' ng-click='wiModal.onOkButtonClicked()'><span class="ok-16x16"></span>&nbsp;Ok</button>
                <button class='btn btn-default' ng-click='wiModal.onApplyButtonClicked()'><span class="apply-16x16"></span>&nbsp;Apply Permission</button>
                <button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()'><span class="cancel-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>