
img {
	display: inline-block;
}

.modal {
	overflow: hidden;
}
.modal-header {
	padding: 5px 10px;
}
.form-horizontal .control-label {
    text-align: left;
	font-style: normal !important;
}

.modal-1000{
	width: 1000px;
	label[class^=col-]{
		padding: 0px;
	}
}

.modal-body{
	padding: 5px 25px;
	h5{
		margin:10px 0 20px 0; 
		position: relative;
		width: 100%;
		overflow: hidden;
	}
	h5:after {
		position: absolute;
		content: "";
		height: 1px;
		background-color: #e5e5e5;
		width: 100%;
		margin-left: 10px;
		top: 50%;
	}
}

.modal-content {
    border: 4px solid rgba(175,209,244,.5);
    border-radius: 6px;
}

.modal-footer{
	padding: 5px 20px;
	margin-top:0; 
} 
.footer-left {
	float: left;
	text-align: left;
	p {
		color: blue;
	}
}
.footer-right {
	float: right;
	text-align: right;
	p {
		color: blue;
	}
}
.modal-footer button {
	padding: 4px 10px 4px 8px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(222,224,230,1) 49%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(49%, rgba(222,224,230,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(222,224,230,1) 49%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(222,224,230,1) 49%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(222,224,230,1) 49%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(222,224,230,1) 49%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
	span{
		position: relative;
		top: 2px;
	}
}

.modal-footer button span img {
	float: left;
}

.area {
    border: 1px dashed #4d97e6;
    background-color: #bedaf7;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
}
.small-text {
	font-size: 11px;
}
.normal-text {
	font-size: 12px;
}
.condensed-text {
	letter-spacing: -1px;
}
.tiny-text {
	font-size: 9px;
	line-height: 1.1;
}
.wi-form-control {
	height: auto;
	padding: 2px 8px;
}
input[required] {
	background-color: #ffefd9;
    border: 1px solid #f8d6bd;
}
.modal-backdrop.in{
	opacity: 0;
}

.black-btn{
	background: #282828;
	padding: 2px 15px;
	border: 1px solid #282828;
	color: #fff;
	&:hover{
		background: red;
		border: 1px solid red;
		color: #fff;
	}
}

.dialog-error {
	color: red;
}
#sample {
	/* width: 100%;
	height: 200px;
	border: 1px solid #0C1021; */
	margin-left: 20px;
}
.trackTab {
	margin-top: 10px;
	border-bottom: 1px solid #cecece;
}

.trackTab li.active {
	border: 1px solid #cecece;
	border-bottom: 1px solid #fff;
	background-color: #fff;
	padding-top: 7px;
}
.trackTab li {
	display:inline;
	cursor: pointer;
	background-color: #DEDFE4;
	padding: 5px 10px 2px;
	border: 1px solid #cecece;

}
#preview {
	height: 50px;
	border:1px solid #cecece;
}
.properties {
	width: 90%;
	height: 750px;
	margin: auto;
}
.curveTable tbody tr td {
	padding: 6px 2px;
}
.shadingTable tbody tr td {
	padding: 6px 2px;
}
//.curveTable tbody tr td select {
//	border: none;
//	//width: 4.5em;
//}

// .shadingTable tbody tr td input {
// 	border: none;
// 	width: 5em;
// }
// .shadingTable tbody tr td select {
// 	border: none;
// 	width: 4.5em;
// }
.selected {
	background-color: #C8C9D0;
}
.table {
	font-size: 12px;
	font-style: bolder;
}
form h5 {
	color: blue;
}
form h5:after {
	background-color: blue;
}
.text-on-table {
	font-size: 11px;
	.form-control {
		font-size: 10px;
	}
	.wi-form-control {
		padding: 2px;
	}
}
.width-95-percent {
	width: 95%;
}
.width-5-percent {
	width: 5%;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.valign-middle {
	vertical-align: middle;
}
.valign-bottom {
	vertical-align: bottom;
}
.color-error {
	color: red;
}
.form-condensed {
    .form-group {
        margin-bottom: 5px;
    }
    h1, h2, h3, h4, h5 {
        margin:0 0 5px 0;
    }
}
// .ui-select-bootstrap .ui-select-choices-row>span.ui-select-choices-row-inner {
//     display: inline-block;
// }
input.color-comp::-webkit-inner-spin-button,
input.color-comp::-webkit-outer-spin-button{
	-webkit-appearance: none; 
  	margin: 0;
}
input.color-comp {
	border: 1px solid lightblue;
	margin: 2px 4px;
	width: 95%;
	display: inline-block;
	color: blue;
}
.wiColorpicker {

	width: 100%;
	.colorpicker-saturation {
		width: 170px;
		height: 170px;
	}
	.colorpicker-hue, .colorpicker-alpha {
		width: 20px;
		height: 170px;
	}
	.colorpicker-color, .colorpicker-color div {
		height: 20px;
	}
}
div.addon {
	border: 1px solid #ccc;
	height: 26px;
	width: 45px;
	display: inline-block;
	margin-right: 3px;
}
.width-80px {
	width: 53px;
	height: 26px;
	display: inline-block;
	font-size: 11px;
}
table.shadingTable td {
	&.border.border-style1-left {
		border-left: 1px solid blue;
	}
	&.border.border-style1-right {
		border-right: 1px solid blue;
	}
	&.border.border-style1-top {
		border-top: 1px solid blue;
	}

	&.border {
		border: 1px solid lightgray;
	}
}
table.shadingTable tr:last-child {
	td.border {
		border-bottom: 1px solid blue;	
	}
}
table.shadingTable td {
	padding-top: 1em;
	padding-bottom: 1em;
}

.thick-border {
	border-color:black;
}
.text-11px {
	font-size: 11px;
}
.text-bold {
	font-style: bolder;
}
.border-right { 
    border-right: 2px solid #eee; 

}
.empty {
	width: 100%;
	height: 300px;
	border: 2px dashed #ccc;
}
.empty-table-values {
	width: 100%;
	height: 50px;
	border: 2px dashed #ccc;
}
.border-right { 
    border-right: 2px solid #eee; 

}

.background-color-steelblue {
	td{
		background-color: steelblue;
	}
}

.table-fixed {
	width: 100%;
	tbody {
		height: 200px;
		overflow-y: overlay;
		width: 100%;
	}
	thead,tbody,tr,td,th {
		display: block;
	}
	tbody {
		td {
			float: left;
		}
	}
	thead {
		tr {
			th {
				float: left;
				background-color: #f39c12;
				border-color: #e67e22;
			}
		}
	}
}
.regressionLineTable {
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}
}
.regressionLineTable tbody tr td {
	padding: 6px 2px;
	text-align: center; 
}
.selectPolygons {
	// border: 1px solid #ccc;
	border-radius: 5px;
	div>button {
		font-size: 12px;
		padding: 1px 8px;
	}
	div>ul>li>a>i {
		margin-right: 1.5em;
	}
}
.refCurveTable {
	thead tr th {
		text-align: center;		
	}
	tbody tr td {
		text-align: center;
	}
}
.udlinesTable {
	thead tr th {
		text-align: center;		
	}
	tbody tr td {
		text-align: center;
	}
}
#lineStyleBtn {
	font-size: 10px;
	padding: 2px 30px;
}

.customFillsTable {

	thead {
		th {
			text-align: center;
		}
	}
	tbody { 
		td {
			text-align: center;
		}
	}
}
.dialog-style {
	font-size: 12px;
	input[type=text] {
		font-size: 12px;
	};
	input[type=number] {
		font-size: 12px;
	};
	select {
		font-size: 12px;
	}
}
#lineStyleSvg {
	padding: 2px;
	border-radius: 3px;
	background: #fff;
}
.regressionLineTable tbody {
	select, input {
		font-size: 12px;
		padding: 4px;
	}
	button {
		font-size: 12px;
		padding: 4px 20px;
	}
}
.zonesTable tbody tr td {
	padding: 6px 2px;
	vertical-align: middle;
	text-align: center;
}
//.modalShadingAttr label{
//	text-align: right;
//}

input[type="checkbox"] {
	vertical-align: sub;
    margin-right: 5px;
}

.color-red {
	background-color: red;
}

.color-navy {
    background-color: navy;
}
.template {
	font-size: 11px;
    font-weight: bold;
    letter-spacing: -0.5;
}
.conditionExpr {
	margin-top: 1em;
	& > textarea {
		resize: none;
		min-width: 100%;
	}
}
.modalTernary {
	thead tr th {
		text-align: center;		
	}
	tbody tr td {
		text-align: center;
	}
}

.wi-select-control {
	border: none;
	float: right;
	background: none;
}
.small-button {
	padding: 1px 8px;
}
.availableCurve {
	thead, tbody {
		display: block;
	}
	tbody {
		height: 25rem;
		overflow-y: overlay;
	}
	tr {
		display: table;
		width: 100%;
	}
	thead>tr>th {
		text-align: center;
		padding: 0.6em;
	};
	tbody>tr>td:not(:second-child){
		text-align: center;
	}
	tbody>tr>td{
		padding: 0.3em;
	}
	background: #F2F2F2;
	border: 1px solid #ccc;
}
input[type=checkbox].input-check {
	margin-top: 60%;
	width: 15px;
	height: 15px;
}
.border-right-gray {
	border-right: 1px solid #ccc;
}

.colorZone {
	margin: auto;
	width: 3em;
	height: 1.5em;
	border-radius: 5px;
	border: 1px solid #333;
}
.ui-select-choices-row{
	&>span{
		height: 26px;
	}
}
.ui-select-match .ui-select-toggle {
	height: 24px;
	padding: 2px 8px;
	>a.btn{
		margin-top: 1px;
	}
}
.ui-select-search {
	height: 24px;
}
#spinner-holder {
	position: absolute;
	border: 1px solid pink;
	top: 0; left:0; right:0; bottom:0;
	background-color: rgba(255,255,255,0.5);
	z-index: 10;
}

.label-disabled {
	opacity: 0.65;
	box-shadow: none;
	pointer-events: none;
	background-color: #fff;
	border-color: #ccc;
}
.refCurve {
	thead tr th {
		padding: 2px 8px;
		text-align: center;
	}
	tbody tr td {
		padding: 4px 8px 1px;
		.checkbox {
			padding-top: 3px;
			padding-bottom: 3px;
		}
	}

}

.pane-table{
	overflow-x:overlay;
	position: relative;
	table{
		thead{
			display: table-row;
		}

		tbody{
			overflow-y:hidden;
			overflow-x:hidden;
			display:block;
		}

		thead>tr>th{
			min-width:100px;
			&:first-child{
				min-width: 50px;
			}
		}
		tbody>tr>td{
			min-width:100px;
		}
		tbody>tr>th{
			min-width: 50px;
		}
		thead>tr>th{
			text-align:center;
		}
	}
}
// import from inventory dialog 
#inventory-modal .modal-body {
	height: 75%;
	padding: 5px;
}

#left-inventory {
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	height: 100%;
}

#center-inventory {
	text-align: center;
	height: 100%;
	.btn {
		padding: 5px;
		border: 0;
		height: 100%;
	}
}

#right-inventory {
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	height:100%;
}
//end import from inventory inentory dialog 
.ui-select-toggle > .caret { pointer-events: none }