.plot-container {
    position: relative;
    //display: flex;
    width: 250px;
//    border: 1px dashed gray;
}
canvas, svg {
    position:absolute;
    top:0; left:0; bottom:0; right:0;
//    border: 1px solid green;
    cursor: crosshair;
}
.grid .tick line {
    stroke: blue;
    stroke-dasharray: 20, 5;
    stroke-width: 0.2;
    
}
.wi-tooltip {
    font-size: 10px;
    background-color: yellow;
}
.tooltipBg {
    fill: rgba(255,255,0, 1);
}
