.track-container {
    display: flex;
    flex-direction: column;
}
.track-header {
    width: 100%;
    //height: 100px;
    overflow-y: scroll;
    flex: 1;
    label {
        //font-size: 6px;
        display: block;
        border: 1px solid black;
        margin-bottom: 1px;
        & > div {
            width: auto;
            display: inline-block;
        }
    }
    label.track-name {
        background-color: #88CC88;
    }
}
.plot-container {
    position: relative;
    height: 340px;
    //display: flex;
    //width: 250px;
    width: 100%;
    //flex: 1;
//    border: 1px dashed gray;
}
canvas, svg {
    position:absolute;
    top:0; left:0; bottom:0; right:0;
    cursor: crosshair;
}
.grid .tick line {
    stroke: blue;
    stroke-dasharray: 20, 2;
    stroke-width: 0.5;
}
.depthtrack .tick line {
    stroke: black;
    stroke-width: 1;
}
.wi-tooltip {
    font-size: 10px;
    background-color: yellow;
}
.tooltipBg {
    fill: rgba(255,255,0, 1);
}
.resizer {
    width: 2px;
    cursor: col-resize;
}
.vresizer {
    height: 5px;
    background-color: lightgray;
    border-radius: 3px;
    width: 100%;
    cursor: row-resize;
}
.ref-line {
    cursor: col-resize;
}
