@width: 90%;
input, button, textarea, select{
	&:focus{
		outline: none;
	}
}
.wi-hidden {
  visibility: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    height: 99%;
    width: @width;
}
#myLayout {
    width: @width;
    flex: 1 1 auto;
}
.status-bar {
    width: @width;
    min-height: 30px;
}

.ribbon-wrapper {
    width: @width;
    min-height: 139px;
}

.lm_content {
    overflow-y: scroll;
}
