div.lm_content {
    background-color: white;
    border: none;
}
.height34px span.btn-default {
    line-height:32px;
    height:34px;
}
.height34px .ui-select-search {
    height:34px;
}
span.ui-select-toggle {
    width: 100%;
}
div.panel-default, div.panel-default>div.panel-heading {
    border-color: #888;
}

.content-heading {
    text-align: left;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right,rgba(0,0,0,1) 0%, rgba(0,0,0,0) 25%);
    border-image-slice: 1;
    padding-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    font-style: italic;
}

// NeuralNetwork style sheet
.neural-network-main {
    // full width and height container
    display: flex;
    flex-direction: column;
    & > div {
        display: flex;
        flex: 1;
        flex-direction: row;
    }
    .neural-network-plot-container {
        width: 100%;
        height: 100%;
    }

    text[class*='-layer-label'] {
        font-size: 25;
        font-weight: bold;
    }
}

// Wi Plot stylesheet
.wi-plot-main {
    flex: 1;
    display: flex;
    flex-direction: row;
    & > div {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .wi-plot-plot-container {
        flex: 1;
        .axis path {
            display: true;
        }

        .axis line {
            stroke: #888;
            stroke-opacity: 0.5;
        }
        .axis--x text, .axis--y text {
            display: none;
        }
    }
}

// Wi Xplot stylesheet
.wi-xplot-main {
    flex: 1;
    display: flex;
    flex-direction: row;

    .wi-xplot-plot-container {
        flex: 1;

        canvas, svg {
            position: absolute;
            left: 0;
        }

        .axis path {
            display: true;
        }

        .axis line {
            stroke: #888;
            stroke-opacity: 0.5;
        }
        .axis--x text, .axis--y text {
            display: none;
        }
        .tick {
            line {
                stroke: gray;
                stroke-width: 1;
            }
            .major { stroke-opacity: 0.8; }
            .minor { stroke-opacity: 0.3; }
        }
    }
}

// Wi His stylesheet
.wi-his-main {
    background-color: #f7f7f7;
    flex: 1;
    display: flex;
    flex-direction: row;

    .wi-his-plot-container {
        flex: 1;

        svg {
            position: absolute;
            left: 0;
        }

        .axis path {
            display: true;
        }

        .axis line {
            stroke: #888;
            stroke-opacity: 0.5;
        }
        .axis--x text, .axis--y text {
            display: none;
        }
        .tick {
            line {
                stroke: gray;
                stroke-width: 1;
            }
            .major { stroke-opacity: 0.8; }
            .minor { stroke-opacity: 0.3; }
        }
    }
}