<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()"
                        aria-hidden="true">&times;
                </button>
                <h4 class="modal-title">Combined Plot Properties</h4>
            </div>
            <div class="modal-body" style="overflow: unset;">
                <form class="form-horizontal" action="" name="combinedPlotProperties">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row padding-bottom-1em">
                                <div class="col-sm-2">
                                    <label>Logplots</label>
                                </div>
                                <div class="col-sm-10">
                                    <ui-select multiple ng-model="$item"
                                                ng-change="wiModal.onSelectLogplot($item);"
                                                close-on-select="false">
                                        <ui-select-match placeholder='Select logplots'>{{$item.properties.name}}</ui-select-match>
                                        <ui-select-choices group-by="'wellName'" repeat='logplot in wiModal.logplots | filter: $select.search'>
                                                    <div class="padding-left-20px">{{logplot.properties.name}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="row padding-bottom-1em">
                                <div class="col-sm-2">
                                    <label>Histograms</label>
                                </div>
                                <div class="col-sm-10">
                                    <ui-select multiple ng-model="$item"
                                                ng-change="wiModal.onSelectHistogram($item);"
                                                close-on-select="false">
                                        <ui-select-match placeholder='Select histograms'>{{$item.properties.name}}</ui-select-match>
                                        <ui-select-choices group-by="'wellName'" repeat='histogram in wiModal.histograms | filter: $select.search'>
                                            <div class="padding-left-20px">{{histogram.properties.name}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Crossplots</label>
                                </div>
                                <div class="col-sm-10">
                                    <ui-select multiple ng-model="$item"
                                                ng-change="wiModal.onSelectCrossplot($item);"
                                                close-on-select="false">
                                        <ui-select-match placeholder='Select crossplots'>{{$item.properties.name}}</ui-select-match>
                                        <ui-select-choices group-by="'wellName'" repeat='crossplot in wiModal.crossplots | filter: $select.search'>
                                            <div class="padding-left-20px">{{crossplot.properties.name}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <p class="dialog-error" ng-if="wiModal.error">Error: {{wiModal.error}}</p>
            </div>
            <div class="modal-footer">
                <button ng-click="wiModal.onApplyButtonClicked()" class="btn btn-default">
                    <span class="apply-16x16"></span>&nbsp;Apply
                </button>
                <button ng-click="wiModal.onOkButtonClicked()" class="btn btn-default">
                    <span class="ok-16x16"></span>&nbsp;Ok
                </button>
                <button class="btn btn-default" ng-click="wiModal.onCancelButtonClicked()">
                    <span class="cancel-16x16"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
    <style>
        input {
            width: 100% !important;
        }
    </style>
</div>
