<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="images-properties-16x16"></span>&nbsp;Reference Windows</h4>
            </div>
            <div class="modal-body dialog-style">
                <div class="padding-1em container-fluid">
                    <div class="row">
                        <form class='col-sm-12 form-horizontal form-condensed'>
                            <div class="form-group">
                                <label class="col-sm-2">Top Depth (m)</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control wi-form-control" step="any" ng-model="wiModal.props.referenceTopDepth">
                                </div>
                                <label class="col-sm-3">Bottom Depth (m)</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control wi-form-control" step="any"
                                    ng-model="wiModal.props.referenceBottomDepth">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-default width-100-percent text-ellipsis"
                                    ng-click="wiModal.defaultDepthButtonClick()">Depth Default</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">Scale</label>
                                <div class="col-sm-2">
                                    <wi-custom-input type='number' model='wiModal.props.referenceScale' options='wiModal.scaleOpt'></wi-custom-input>
                                </div>
                                <label class="col-sm-3">Vert. Line Number</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control wi-form-control"
                                    ng-model="wiModal.props.referenceVertLineNumber">
                                </div>
                                <div class="col-sm-3">
                                        <input type="checkbox" ng-model="wiModal.props.referenceDisplay">
                                        <label>Display</label>
                                    </div>
                            </div>
                            <div class="form-group padding-1em">
                                    <input type="checkbox" ng-model="wiModal.props.referenceShowDepthGrid">
                                    <label>Show Depth Grid Line</label>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-11">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style='padding:1.5px;'></th>
                                                <th style="width:25%">Curve Name</th>
                                                <th>Left</th>
                                                <th>Right</th>
                                                <th>Vis.</th>
                                                <th>Log</th>
                                                <th>Color</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="ref_curve in wiModal.ref_Curves_Arr"
                                            ng-click="wiModal.setClickedRow($index)"
                                            ng-class="{selected:$index == wiModal.SelectedRefCurve, 'display-none': ref_curve.flag === wiModal._FDEL}">
                                                <td ng-class="{'color-navy': $index == wiModal.SelectedRefCurve}" style='padding:1.5px;'>
                                                </td>
                                                <td>
                                                    <ui-select ng-model="ref_curve.curve"
                                                        ng-change="wiModal.onSelectRefCurve($index, 'curve')">
                                                        <ui-select-match placeholder='Select a curve'>{{ref_curve.curve.name}}</ui-select-match>
                                                        <ui-select-choices group-by="'datasetName'"
                                                        repeat='curve.properties as curve in wiModal.curvesArr | filter: $select.search'>
                                                        <div class="padding-left-20px">{{curve.properties.name}}</div>
                                                    </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control"
                                                    ng-model="ref_curve.left" step='1'
                                                    ng-change="wiModal.onRefCurveChange($index)">
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control"
                                                    ng-model="ref_curve.right" step='1'
                                                    ng-change="wiModal.onRefCurveChange($index)">
                                                </td>
                                                <td>
                                                    <div class='checkbox'>
                                                        <input style='margin-left:-10px;' 
                                                            type="checkbox" 
                                                            ng-model="ref_curve.visiable"
                                                            ng-change="wiModal.onRefCurveChange($index)">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class='checkbox'>
                                                        <input style='margin-left:-10px;' 
                                                            type="checkbox" 
                                                            ng-model="ref_curve.log"
                                                            ng-change="wiModal.onRefCurveChange($index)">
                                                    </div>
                                                </td>
                                                <td>
                                                    <input ng-style="{'background-color':ref_curve.color}" ng-click="wiModal.chooseRefCurveColor($index);" class="form-control wi-form-control width-80px thick-border" type="button">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-1 padding-0">
                                    <button type="button" class="btn btn-default" ng-click="wiModal.DeleteRefCurve()">
                                        <i class="delete-16x16"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="wiModal.AddRefCurve()">
                                        <i class="plus-16x16"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onApplyButtonClicked();" class="btn btn-default" ng-disabled="wiModal.IsNotValid();">
                    <span class="apply-16x16"></span>&nbsp;Apply
                </button>
                <button type="button" ng-click="wiModal.onOKButtonClicked();" class="btn btn-default" ng-disabled="wiModal.IsNotValid();">
                    <span class="ok-16x16"></span>&nbsp;Ok
                </button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default">
                    <span class="close-16x16"></span>&nbsp;Close
                </button>
            </div>
        </div>
    </div>
</div>
