wi-d3 {
    //border: 1px solid black;
    //padding: 2px;
    //width: 100%;
    display:flex;
    .d3-region {
        position: relative;
        display: flex;
        flex-direction:row;
        position: relative;
        //width: 100%;
        height: 100%;
        flex: 1;
        //padding-left: 3px;
        .d3-region-svg {
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            pointer-events: none;
        }
    }
    .moving * {
        cursor: move !important;
    }
    overflow: hidden;
    .vi-crossplot-footer-container {
        height: 0px;
    }
    .vi-track-container {
        &:first-child {
            margin-left: unset;
            .vi-track-plot-container {
                border-left: 1px solid black;
                border-right: 1px solid black;
            }
        }
        margin-left: -2px;
        .vi-track-plot-container {
            border-right: 1px solid black;
        }
    }
    .vi-track-vertical-resizer {
        margin-left: -3px;
        //border: 1px solid blue;
        &:hover {
            background: #e1e1e1;
        }
    }
}
