wi-d3 {
    //border: 1px solid black;
    //padding: 2px;
    //width: 100%; 
    display:flex;
    .d3-region {
        position: relative;
        //border: 1px solid blue;
        display: flex;
        //width: 100%;
        flex: 1;
    }
    .moving * {
        cursor: move !important;
    }
    overflow: hidden;
}
