<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" ng-style="wiModal.modalSize">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <div class="row">
                    <h4 class="modal-title col-sm-10"><span class="curve-bolk-16x16"></span>&nbsp;Curve bulk update</h4>
                    <div class="col-sm-2">
                        <button type="button" ng-click="wiModal.zoomInDialog();" class="btn btn-default">
                            <span class="zoom-in-16x16"></span>
                        </button>
                        <button type="button" ng-click="wiModal.zoomOutDialog();" class="btn btn-default">
                            <span class="zoom-out-16x16"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body modalScroll" ng-style="wiModal.maxHeightModal">
                <p></p>
                <form class='form-horizontal form-condensed'>
                    <table class="text-on-table table table-bordered curveTable scrollTable">
                        <thead class="background-header-table">
                            <tr>
                                <th rowspan="2" width="5%">
                                    Use All
                                    <input type="checkbox" 
                                            ng-model="wiModal.checkAll"
                                            ng-click="wiModal.checkAllFunc()">
                                </th>
                                <th rowspan="2" width="10%">Track</th>
                                <th colspan="4" width="40%">Header</th>
                                <th colspan="2" width="20%">Scale</th>
                                <th colspan="3" width="25%">Display Type</th>
                            </tr>
                            <tr>
                                <th width="10%">Curve Name</th>
                                <th width="10%">Display Name</th>
                                <th width="10%">Family</th>
                                <th width="10%">Unit</th>
                                <th width="10%">Left</th>
                                <th width="10%">Right</th>
                                <th width="15%" colspan="2">Display Mode</th>
                                <th width="10%">Log/Linear</th>
                            </tr>
                        </thead>
                        <!-- ng-style="wiModal.setDisableStyle(wiModal.tracks_edit[$index].edit)" -->
                        <tbody ng-repeat="track in wiModal.tracks track by $index" >
                            <tr ng-repeat="line in track.lines" ng-if="track.use" >
                                <td width="5%" rowspan="{{track.lines.length}}"
                                    ng-hide="$index>0">
                                    <input type="checkbox" 
                                            ng-model="track.use">
                                </td>
                                <td width="10%" rowspan="{{track.lines.length}}"
                                    ng-hide="$index>0">
                                    {{track.name}}
                                </td>
                                <td width="10%">
                                    {{line.name}}
                                </td>
                                <td width="10%">
                                    <input type="text"
                                            class="form-control wi-form-control"
                                            ng-model="line.alias">
                                </td>
                                <td width="10%"></td>
                                <td width="10%"></td>
                                <td width="10%">
                                    <input type="number" step="any"
                                            class="form-control wi-form-control"
                                            ng-model="line.minValue">
                                </td>
                                <td width="10%">
                                    <input type="number" step="any"
                                            class="form-control wi-form-control"
                                            ng-model="line.maxValue">
                                </td>
                                <td width="10%">
                                    <select ng-model="line.displayMode"
                                            class="form-control wi-form-control">
                                        <option value="Line">Line</option>
                                        <option value="Symbol">Symbol</option>            
                                        <option value="Both">Both</option>            
                                        <option value="None">None</option>
                                    </select>
                                </td>
                                <td width="5%">
                                    <button type="button"
                                            ng-click="wiModal.onEditStyleButtonClicked(line)"
                                            ng-disabled="line.displayMode =='None'"
                                            class="btn btn-default wi-form-control" 
                                            style="font-size: 10px; width: 100%">Edit</button>
                                </td>
                                <td width="10%">
                                    <select ng-model="line.displayType"
                                            class="form-control wi-form-control">
                                        <option value="Logarithmic">Logarithmic</option>
                                        <option value="Linear">Linear</option>
                                    </select>
                                </td>
                            </tr>
                            <tr ng-if="!track.use || !track.lines.length">
                                <td width="5%">
                                    <input type="checkbox" 
                                            ng-model="track.use"
                                            ng-change="wiModal.unCheck(track)">
                                </td>
                                <td width="10%">
                                    {{track.name}}
                                </td>
                                <td width="10%"></td>
                                <td width="10%"></td>
                                <td width="10%"></td>
                                <td width="10%"></td>
                                <td width="10%"></td>
                                <td width="10%"></td>
                                <td width="10%"></td>
                                <td width="5%"></td>
                                <td width="10%"></td>
                            </tr>
                            <tr ng-if="track.use">
                                <td width="35%" colspan="4"
                                    style="text-align: left; padding-left: 15px">
                                    <label>
                                        <input type="checkbox" 
                                                ng-model="wiModal.tracks_edit[$index].edit">
                                        Edit All Line In {{track.name}}
                                    </label>
                                </td>
                                <td width="10%"></td>
                                <td width="10%"></td>
                                <td width="10%">
                                    <input type="number" step="any"
                                            class="form-control wi-form-control"
                                            ng-model="wiModal.tracks_edit[$index].minValue">
                                </td>
                                <td width="10%">
                                    <input type="number" step="any"
                                            class="form-control wi-form-control"
                                            ng-model="wiModal.tracks_edit[$index].maxValue">
                                </td>
                                <td width="10%">
                                    <select ng-model="wiModal.tracks_edit[$index].displayMode"
                                            class="form-control wi-form-control">
                                        <option value="Line">Line</option>
                                        <option value="Symbol">Symbol</option>            
                                        <option value="Both">Both</option>            
                                        <option value="None">None</option>
                                    </select>
                                </td>
                                <td width="5%">
                                    <button type="button"
                                            ng-click="wiModal.editStyle($index)"
                                            ng-disabled="wiModal.tracks_edit[$index].displayMode =='None'"
                                            class="btn btn-default wi-form-control" 
                                            style="font-size: 10px; width: 100%">Edit</button>
                                </td>
                                <td width="10%">
                                    <select ng-model="wiModal.tracks_edit[$index].displayType"
                                            class="form-control wi-form-control">
                                        <option value="Logarithmic">Logarithmic</option>
                                        <option value="Linear">Linear</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onApplyButtonClicked();" 
                        ng-disabled="wiModal.applyingInProgress" class="btn btn-default">
                    <span class="apply-16x16"></span>&nbsp;Apply
                </button>
                <button type="button" ng-click="wiModal.onOkButtonClicked();" 
                        ng-disabled="wiModal.applyingInProgress" class="btn btn-default">
                    <span class="ok-16x16"></span>&nbsp;Ok
                </button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default">
                    <span class="close-16x16"></span>&nbsp;Close
                </button>
            </div>
        </div>
    </div>
</div>
