<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="images-properties-16x16"></span>&nbsp;Curve bulk update</h4>
            </div>
            <div class="modal-body dialog-style">
                <p></p>
                <form class='form-horizontal form-condensed'>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onRunButtonClicked();" 
                        ng-disabled="wiModal.applyingInProgress" class="btn btn-default">
                    <span class="run-16x16"></span>&nbsp;Run
                </button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default">
                    <span class="close-16x16"></span>&nbsp;Close
                </button>
            </div>
        </div>
    </div>
</div>
