<div class='modal fade'>
    <div class='modal-dialog'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">&times;</button>
                <h4><span class="well-insight-16x16"></span>&nbsp;Curve Comparison</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" name="modalCurveRescale">
                    <h5 class="modal-infomation-title"><span class="well-16x16"></span>&nbsp;Well</h5>
                    <div class="form-group">
                        <label class="control-label col-sm-3"> Select well:</label>
                        <div class="col-sm-9">
                            <select class="form-control wi-form-control"
                                    ng-model="wiModal.idWell"
                                    ng-options="well.id as well.properties.name for well in wiModal.wells"
                                    ng-change="wiModal.selectedWell(wiModal.idWell)">
                            </select>
                        </div>
                    </div>
                    <h5 class="modal-infomation-title"><span class="depth-blank-16x16"></span>&nbsp;Depth Interval</h5>
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="">Top</label>
                        <div class="col-sm-4">
                            <input ng-model="wiModal.topDepth"
                                   type="number" class="form-control wi-form-control" step="any">
                        </div>
                        <label for="" class="control-label col-sm-1" style="padding-left: 0">Bottom</label>
                        <div class="col-sm-4">
                            <input ng-model="wiModal.bottomDepth"
                                   type="number" class="form-control wi-form-control" step="any">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-default small-button"
                                    ng-click="wiModal.defaultDepth()">Default</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1">
                            <input type="checkbox" class="input-check" ng-model="wiModal.checked" ng-change="wiModal.disable(wiModal.checked)">
                        </div>
                        <label for="" class="control-label col-sm-2"> Use zone</label>
                    </div>
                    <div class="form-group">
                        <div ng-style="wiModal.style">
                            <label for="" class="col-sm-2 control-label">Parameter</label>
                            <div class="col-sm-4">
                                <select class="form-control wi-form-control"
                                >
                                </select>
                            </div>
                            <label for="" class="col-sm-2 control-label">Zone set</label>
                            <div class="col-sm-4">
                                <select class="form-control wi-form-control"
                                >
                                </select>
                            </div>
                            <table class="table availableCurve">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Top</th>
                                    <th>Bottom</th>
                                    <th>Color</th>
                                    <th>Use</th>
                                </tr>
                                </thead>
                                <tbody style="height: 10em;">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h5 class="modal-infomation-title">Curve Comparison</h5>
                    <div class="form-group">
                        <table class="table availableCurve">
                            <thead style="display: block">
                            <tr>
                                <th style="width: 25%">Curve 1</th>
                                <th style="width: 25%">Curve 2</th>
                                <th style="width: 25%">Difference</th>
                                <th style="width: 25%">Correlation</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody style="display: block; height: 10em; overflow-y: auto">
                            <tr ng-repeat="curve in wiModal.curves">
                                <td style="width: 25%">
                                    <select class="form-control wi-select-control"
                                            ng-model="wiModal.idCurve"
                                            ng-options="cur.id as cur.name for cur in wiModal.curves"
                                            ng-change="wiModal.selectedCurve(wiModal.idCurve)">
                                    </select>
                                </td>
                                <td style="width: 25%">
                                    <select class="form-control wi-select-control"
                                            ng-model="wiModal.curves"
                                            ng-options="cur.id as cur.name for cur in wiModal.curves">
                                    </select>
                                </td>
                                <td style="width: 25%"></td>
                                <td style="width: 25%"></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class='btn btn-default' ng-click='wiModal.onRunButtonClicked()'><span class="run-16x16"></span>Run</button>
                <button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()'><span class="close-16x16"></span>Close</button>
            </div>
        </div>
    </div>
</div>