<wi-tabset name='MYTAB' toggle='false'>
    <wi-tab heading='Edit Structure'>
        <div class="row">
            <div class="col-sm-4" style="height:90%;border: 1px solid rgb(175, 175, 175); overflow-y: overlay;background:white">
                <h2>List Family</h2>
                <ul id="family">
                    <li ng-repeat="family in wiTestCtrl.families">
                        <input type="checkbox" name="{{family.name}}" value="{{family}}">
                        {{family.name}}
                    </li>
                </ul>
            </div>
            <div class="col-sm-1">
                <div style="height: 60%">
                    <button ng-click="wiTestCtrl.data()">
                        <span class="arrow-right-16x16"></span>
                    </button>
                </div>
                <div style="height: 40%;">
                    <button ng-click="wiTestCtrl.target()">
                        <span class="arrow-right-16x16"></span>
                    </button>
                </div>
            </div>
            <div class="col-sm-4" style="height:90%;border: 1px solid rgb(175, 175, 175); background:white">
                <div style="width: 100%; height: 60%; overflow-y:overlay">
                    <h3>Data</h3>
                    <ul>
                        <li ng-repeat="data in wiTestCtrl.dt track by $index ">{{data.name}}</li>
                    </ul>
                </div>
                <div style="width: 100%; height: 40%;overflow-y:overlay">
                    <h3>Target</h3>        
                    <ul>
                            <li ng-repeat="target in wiTestCtrl.tg track by $index">{{target.name}}</li>
                        </ul>
                    </div>
            </div>
        </div>
    </wi-tab>
    <wi-tab heading='List Wells'>
        <div class="row">
            <div class="col-sm-4" style="height:90%;border: 1px solid rgb(175, 175, 175); overflow-y: overlay;background:white">
                <h2>List Wells</h2>
                <ul id="well">
                    <li ng-repeat="well in wiTestCtrl.wells">
                        <input type="checkbox" name="{{well.name}}" value="{{well}}">
                        {{well.name}}
                    </li>
                </ul>
            </div>
            <div class="col-sm-1">
                <div style="height: 60%">
                    <button ng-click="wiTestCtrl.dataW()">
                        <span class="arrow-right-16x16"></span>
                    </button>
                </div>
                <div style="height: 40%;">
                    <button ng-click="wiTestCtrl.targetW()">
                        <span class="arrow-right-16x16"></span>
                    </button>
                </div>
            </div>
            <div class="col-sm-4" style="height:90%;border: 1px solid rgb(175, 175, 175); background:white">
                <div style="width: 100%; height: 60%; overflow-y:overlay">
                    <h3>Data</h3>
                    <ul>
                        <li ng-repeat="data in wiTestCtrl.curves_dt track by $index">
                            <ui-select ng-model="wiTestCtrl.curve"
                                on-select="wiTestCtrl.changeDateset()"
                                class="normal-text">
                                <ui-select-match placeholder='Select a dataset'>
                                    {{wiTestCtrl.curve.name}}
                                </ui-select-match>
                                <ui-select-choices  position="down"
                                                    repeat='curve in wiTestCtrl.curves_dt[$index]' >
                                    <div class="normal-text">{{curve.name}}</div>
                                </ui-select-choices>
                            </ui-select>
                        </li>
                    </ul>
                </div>
                <div style="width: 100%; height: 40%;overflow-y:overlay">
                    <h3>Target</h3>        
                        <ul>
                            <li ng-repeat="data in wiTestCtrl.curves_tg track by $index">
                                <ui-select ng-model="wiTestCtrl.curve"
                                    on-select="wiTestCtrl.changeDateset()"
                                    class="normal-text">
                                    <ui-select-match placeholder='Select a dataset'>
                                        {{wiTestCtrl.curve.name}}
                                    </ui-select-match>
                                    <ui-select-choices  position="down"
                                                        repeat='curve in wiTestCtrl.curves_tg[$index]' >
                                        <div class="normal-text">{{curve.name}}</div>
                                    </ui-select-choices>
                                </ui-select>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
    </wi-tab>
    <wi-tab heading='Result'>
        <div style='background-color:white;padding-bottom:5px;'>
            Result
        </div>
    </wi-tab>
</wi-tabset>
