<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true" ng-disabled='wiModal.applyingInProgress'>&times;</button>
                <h4><span class="curve-fill-data-gaps-16x16"></span>&nbsp;Fill Gaps</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class='col-sm-12 form-horizontal form-condensed'>
                        <div id="settings">
                            <h5>Settings</h5>
                            <div class="container-fluid">
                                <div class='form-group'>
                                    <label class="col-sm-2">Select well</label>
                                    <div class="col-sm-4">
                                        <!-- <select class="form-control wi-form-control" ng-model="wiModal.selectedWell" ng-options="well as well.properties.name for well in wiModal.wells" ng-change="wiModal.onWellChange()">
                                       </select> -->
                                       <ui-select ng-model="wiModal.selectedWell"
                                       ng-change="wiModal.onWellChange()">
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat='well in wiModal.wells | filter: {name: $select.search} track by $index'>
                                                {{well.name}}</ui-select-choices>
                                            <ui-select-no-choice>Well not found</ui-select-no-choice>
                                        </ui-select>
                                    </div>
                                    <label class="col-sm-2">Input Curve</label>
                                    <div class="col-sm-4">
                                        <ui-select ng-model="wiModal.SelectedCurve" class="normal-text"
                                         ng-change="wiModal.getCurveData()">
                                            <ui-select-match placeholder='Select a curve'>{{wiModal.SelectedCurve.properties.name}}</ui-select-match>
                                            <ui-select-choices group-by="wiModal.groupFn" repeat='curve in wiModal.curves | filter:{properties: {name:$select.search}} track by curve.id'>
                                                <div class="padding-left-20px">{{curve.properties.name}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Top Depth</label>
                                    <div class="col-sm-4">
                                        <input class="form-control wi-form-control" type="number" ng-model="wiModal.topDepth" step="any">
                                    </div>
                                    <label class="col-sm-2">Botton Depth</label>
                                    <div class="col-sm-2 padding-right-0">
                                        <input ng-model="wiModal.bottomDepth" type="number" class="form-control wi-form-control" step="any">
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-default wi-form-control width-100-percent" ng-click="wiModal.clickDefault()">Default</button>
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label class="col-sm-3">Null value's Number</label>
                                    <div class="col-sm-3">
                                        <input class="form-control wi-form-control" type="number" ng-model="wiModal.Nullnumber" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">Gaps maximum with</label>
                                    <div class="col-sm-3">
                                        <input class="form-control wi-form-control" type="number" step='any' ng-model="wiModal.gapsMaximum">
                                    </div>
                                    <div class="col-sm-3">
                                        <label>
                                            <input ng-model="wiModal.calcMethod" type="radio" value="sample">
                                            &nbsp;In samples
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>
                                            <input ng-model="wiModal.calcMethod" type="radio" value="depth">
                                            &nbsp;In M
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Output">
                            <h5>Output</h5>
                            <div class="container-fluid">
                                <div class='form-group'>
                                    <label class="col-sm-2">Dataset</label>
                                    <div class="col-sm-4">
                                        <!-- <select class="form-control wi-form-control" ng-options="dataset as dataset.properties.name for dataset in wiModal.datasets"
                                                 ng-model="wiModal.selectedDataset">
                                        </select> -->
                                        <ui-select ng-model="wiModal.selectedDataset">
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat='dataset in wiModal.datasets | filter: {name: $select.search} track by $index'>
                                                {{dataset.name}}
                                            </ui-select-choices>
                                            <ui-select-no-choice>Dataset not found</ui-select-no-choice>
                                        </ui-select>
                                    </div>
                                    <label class="col-sm-2">Name</label>
                                    <div class="col-sm-4">
                                        <input class="form-control wi-form-control" ng-model="wiModal.curveName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Output Suffix</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control wi-form-control" ng-model='wiModal.suffix'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Advance">
                            <h5>Advance(optional)</h5>
                            <div class="container-fluid">
                                <div class='form-group'>
                                    <label class="col-sm-2">Curve Search</label>
                                    <div class="col-sm-4">
                                        <input class="form-control wi-form-control" ng-model="filterCurve">
                                    </div>
                                    <label class="col-sm-2">Dataset Search</label>
                                    <div class="col-sm-4">
                                        <input  class="form-control wi-form-control" ng-model="filterDataset">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Select other curves to fill gaps:</label>
                                    <div class="col-sm-8">
                                        <table class="table availableCurve">
                                            <thead style="display:block">
                                                <tr>
                                                    <th style="width: 20%" ng-click="wiModal.checkAll()">
                                                        <i class='glyphicon glyphicon-ok' ng-class="{'color-black': wiModal.checked, 'color-lightgray': !wiModal.checked}"></i>
                                                        Check all
                                                    </th>
                                                    <th style="width: 40%">Curve</th>
                                                    <th style="width: 40%">Dataset</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody style="overflow-y: scroll;display:block;height:10em; overflow-x:hidden">
                                                <tr ng-repeat="curve in wiModal.curves | filter:{name: filterCurve, properties:{dataset:filterDataset}}| filter: wiModal.CurveF track by $index"
                                                   ng-class="{'selected': curve.flag}" ng-click="wiModal.select(curve)">
                                                    <td style="width: 20%">
                                                        <i class='glyphicon glyphicon-ok' ng-class="{'color-black': curve.flag, 'color-lightgray': !curve.flag}"></i>
                                                    </td>
                                                    <td style="width: 40%">{{curve.name}}</td>
                                                    <td style="width: 40%">{{curve.properties.dataset}}</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class='btn btn-default' ng-click='wiModal.onRunButtonClicked()'
                    ng-disabled='wiModal.applyingInProgress || wiModal.SelectedCurve == undefined'><span class="run-16x16"></span>&nbsp;Run</button>
                    <button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()'
                    ng-disabled='wiModal.applyingInProgress'><span class="close-16x16"></span>&nbsp;Close</button>
                </div>
            </div>
        </div>
    </div>
