<div class="left-side">
    <div class="heading">
        <h5>Marker Sets</h5>
        <div class="button-area">
            <label title="Create new marker set" class="btn pull-right" ng-click="$ctrl.createMarkerSet()" ng-disabled="!$ctrl.getSelectedWell()">
                <i class="ti-plus"></i>
            </label>
            <label title="Refresh marker set list" class="btn" ng-click="$ctrl.getMarkerSetList()">
                <i class="ti-reload"></i>
            </label>
        </div>
    </div>
    <div class="search-box">
        <i class="fa fa-search icon"></i>
        <input type="text" class="input" ng-model="filterMarkerSet" placeholder="Search">
    </div>
    <div class="content-area">
        <wi-base-treeview name="markerManagerTreeview" config="$ctrl.treeConfig" on-select-function="$ctrl.onTreeSelect" filter="{{filterMarkerSet}}"
            show-context-menu-function="$ctrl.showTreeContextMenu">
        </wi-base-treeview>
    </div>
</div>
<div class="right-side">
    <div class="heading">
        <div class="order">
            <h5 style="margin: 9px 0">Order by: &nbsp;</h5>
            <select class="form-control" ng-init="$ctrl.markerOrder='depth'" ng-model="$ctrl.markerOrder" ng-disabled="!$ctrl.selectedMarkerSet.length">
                <option value="depth">Depth</option>
                <option value="markerTemplate.name">Name</option>
                <option value="markerTemplate.description">Description</option>
            </select>
        </div>
        <div class="search-box">
            <i class="fa fa-search icon"></i>
            <input type="text" class="form-control" ng-model="filterMarker" ng-disabled="!$ctrl.selectedMarkerSet.length">
        </div>
        <div class="button-area">
            <label title="Apply changes" class="btn" ng-disabled="!$ctrl.hasChanges" ng-click="$ctrl.saveChanges()">
                <i class="ti-check"></i>
            </label>
            <label title="Swap two markers" class='btn' ng-click="$ctrl.swapTwoMarkers()" ng-disabled="$ctrl.selectedMarkers.length !== 2">
                <i class="ti-arrows-vertical"></i>
            </label>
            <label title="Move Zone up" class='btn' ng-click="$ctrl.moveMarkerUp()" ng-disabled="!$ctrl.selectedMarkers.length">
                <i class="ti-arrow-up"></i>
            </label>
            <label title="Move Zone down" class='btn' ng-click="$ctrl.moveMarkerDown()" ng-disabled="!$ctrl.selectedMarkers.length">
                <i class="ti-arrow-down"></i>
            </label>
            <label title="Delete selected templates" class="btn" ng-click="$ctrl.deleteSelectedMarkers()" ng-disabled="!$ctrl.selectedMarkers.length">
                <i class="ti-close"></i>
            </label>
            <label title="Create new template" class="btn" ng-click="$ctrl.addMarker()" ng-disabled="!$ctrl.selectedMarkerSet || $ctrl.selectedMarkerSet.length && $ctrl.selectedMarkers.length !== 1">
                <i class="ti-plus"></i>
            </label>
            <label title="Refresh templates list" class="btn" ng-click="$ctrl.selectMarkerSet($ctrl.selectedIdMarkerSet)" ng-disabled="!$ctrl.selectedMarkerSet">
                <i class="ti-reload"></i>
            </label>
        </div>
    </div>
    <div class="content-area smooth-scroll">
        <table class="text-on-table table table-bordered" ng-show="$ctrl.selectedMarkerSet.length">
            <thead>
                <tr>
                    <th></th>
                    <th>Marker Name</th>
                    <th witdth="20%">Depth</th>
                    <th width="20%">Line Style</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="marker in $ctrl.selectedMarkerSet | orderBy: $ctrl.markerOrder | filter: filterMarker" ng-class="{selected: marker.flag}"
                    ng-if="!marker.deleted">
                    <td ng-click="$ctrl.onSelect(marker, $event)">
                        <i class="check glyphicon glyphicon-ok"></i>
                    </td>
                    <td>{{marker.markerTemplate.name}}</td>
                    <td>
                        <input type="number" step="any" ng-model="marker.depth" class="form-control" ng-change="$ctrl.markerEdited(marker);">
                    </td>
                    <td>
                        <svg height="28" width="100%" style="padding: 0 12px">
                            <line x1="0" y1="14" x2="100%" y2="14" stroke-width="{{marker.markerTemplate.lineWidth}}" stroke-dasharray="{{marker.markerTemplate.lineStyle.join(',')}}" stroke="{{marker.markerTemplate.color}}"></line>
                        </svg>
                    </td>
                    <td>{{marker.markerTemplate.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>