<div class="left-side">
    <div class="heading">
        <h5>Marker Set Templates</h5>
        <div class="button-area">
            <label title="Create new template" class="btn pull-right" ng-click="$ctrl.createTemplate()">
                <i class="ti-plus"></i>
            </label>
            <label title="Refresh templates list" class="btn" ng-click="$ctrl.getTemplateList()">
                <i class="ti-reload"></i>
            </label>
        </div>
    </div>
    <div class="search-box">
        <i class="fa fa-search icon"></i>
        <input type="text" class="input" ng-model="filter" placeholder="Search">
    </div>
    <div class="content-area">
        <div class="list">
            <div ng-repeat="mstName in $ctrl.markerSetTemplateNames | filter:filter" ng-click="$ctrl.selectMst(mstName)" ng-class="{active: $ctrl.selectedMstName === mstName}"
                class="item">
                {{mstName}}
            </div>
        </div>
    </div>
</div>
<div class="right-side">
    <div class="heading">
        <div class="order">
            <h5 style="margin: 9px 0">Order by: &nbsp;</h5>
            <select class="form-control" ng-init="$ctrl.markerTemplateOrder='none'" ng-model="$ctrl.markerTemplateOrder" ng-disabled="!$ctrl.selectedMst.length">
                <option value="none">None</option>
                <option value="name">Name</option>
                <option value="color">Color</option>
                <option value="lineStyle">Line Style</option>
                <option value="description">Description</option>
            </select>
        </div>
        <div class="search-box">
            <i class="fa fa-search icon"></i>
            <input type="text" class="form-control" ng-model="filterTemplate" ng-disabled="!$ctrl.selectedMst.length">
        </div>
        <div class="button-area">
            <label title="Apply changes" class="btn" ng-disabled="!$ctrl.hasChanges" ng-click="$ctrl.saveChanges()">
                <i class="ti-check"></i>
            </label>
            <label title="Delete selected templates" class="btn" ng-click="$ctrl.deleteSelectedMarkerTemplates()" ng-disabled="$ctrl.getSelectedMarkerTemplates().length === 0">
                <i class="ti-close"></i>
            </label>
            <label title="Create new template" class="btn" ng-click="$ctrl.addMarkerTemplate()" ng-disabled="!$ctrl.selectedMst">
                <i class="ti-plus"></i>
            </label>
            <label title="Refresh templates list" class="btn" ng-click="$ctrl.getTemplateList()" ng-disabled="!$ctrl.selectedMst">
                <i class="ti-reload"></i>
            </label>
        </div>
    </div>
    <div class="content-area smooth-scroll">
        <table class="text-on-table table table-bordered" ng-show="$ctrl.selectedMst.length">
            <thead>
                <tr>
                    <th></th>
                    <th>Marker Template Name</th>
                    <th>Color</th>
                    <th width="20%">Line Style</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="markerTemplate in $ctrl.selectedMst | orderBy: $ctrl.markerTemplateOrder | filter: filterTemplate"
                    ng-class="{selected: markerTemplate.flag}" ng-if="!markerTemplate.deleted">
                    <td ng-click="$ctrl.onSelect(markerTemplate, $event)">
                        <i class="check glyphicon glyphicon-ok"></i>
                    </td>
                    <td>
                        <input type="text" ng-model="markerTemplate.name" class="form-control" ng-change="$ctrl.markerTemplateEdited(markerTemplate);">
                    </td>
                    <td>
                        <button ng-click="$ctrl.colorMarkerTemplate(markerTemplate);" ng-style="{'background-color':markerTemplate.color}" class="form-control wi-form-control"
                            style="width: 103px; height: 28px; margin: auto;">
                    </td>
                    <td>
                        <ui-select theme="bootstrap" ng-model="markerTemplate.lineStyle" ng-change="$ctrl.markerTemplateEdited(markerTemplate);" search-enabled="false">
                            <ui-select-match>
                                <svg height="20" width="100%" style="padding: 0 12px">
                                    <line x1="0" y1="10" x2="100%" y2="10" stroke-dasharray="{{$select.selected.join(',')}}"
                                            style="stroke: {{markerTemplate.color}}; stroke-width: 1}"></line>
                                </svg>
                            </ui-select-match>
                            <ui-select-choices repeat="style in $ctrl.lineStyles">
                                <svg height="20" width="100%">
                                    <line x1="0" y1="10" x2="100%" y2="10" stroke-dasharray="{{style.join(',')}}"
                                            style="stroke: {{markerTemplate.color}}; stroke-width: 1"></line>
                                </svg>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td>
                        <input type="text" ng-model="markerTemplate.description" class="form-control">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>