<div class='modal fade'>
    <div class='modal-dialog'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">&times;</button>
                <h4><span class="curve-listing-16x16"></span>&nbsp;Rescale Curve</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" name="modalCurveRescale">
                    <h5 class="modal-infomation-title"><span class="well-16x16"></span>&nbsp;Well</h5>
                    <div class="form-group">
                        <label class="control-label col-sm-3"> Select well:</label>
                        <div class="col-sm-9">
                            <select class="form-control wi-form-control"
                                    ng-model="wiModal.idWell"
                                    ng-options="well.id as well.properties.name for well in wiModal.wells"
                                    ng-change="wiModal.selectedWell(wiModal.idWell)">
                            </select>
                        </div>
                    </div>
                    <h5 class="modal-infomation-title"><span class="depth-blank-16x16"></span>&nbsp;Depth</h5>
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="">Top</label>
                        <div class="col-sm-4">
                            <input ng-model="wiModal.topDepth"
                                   type="number" class="form-control wi-form-control" step="any">
                        </div>
                        <label for="" class="control-label col-sm-1" style="padding-left: 0">Bottom</label>
                        <div class="col-sm-4">
                            <input ng-model="wiModal.bottomDepth"
                                   type="number" class="form-control wi-form-control" step="any">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-default small-button"
                                    ng-click="wiModal.defaultDepth()">Default</button>
                        </div>
                    </div>
                    <h5 class="modal-infomation-title"> Input</h5>
                    <div class="form-group">
                        <label class="control-label col-sm-3"> Curve input</label>
                        <div class="col-sm-9">
                            <select class="form-control wi-form-control"
                                    ng-model="wiModal.idCurve"
                                    ng-options="curve.id as curve.name for curve in wiModal.curves"
                                    ng-change="wiModal.selectedCurve(wiModal.idCurve)">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3"> Left scale</label>
                        <div class="col-sm-3">
                            <input type="number" class="form-control wi-form-control">
                        </div>
                        <label for="" class="control-label col-sm-3"> Right scale</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control wi-form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label"> Logarithmic</label>
                        <div class="col-sm-1">
                            <input type="checkbox" class="input-check">
                        </div>
                    </div>
                    <h5 class="modal-infomation-title">Output</h5>
                    <div class="form-group">
                        <label class="control-label col-sm-3"> Dataset</label>
                        <div class="col-sm-9">
                            <select class="form-control wi-form-control"
                                    >
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3"> Curve output</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control wi-form-control" ng-model="wiModal.nameCurve">
                        </div>
                        <label for="" class="control-label col-sm-3"> Unit</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control wi-form-control" ng-model="wiModal.unitCurve">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3"> Left scale</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control wi-form-control">
                        </div>
                        <label for="" class="control-label col-sm-3"> Right scale</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control wi-form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label"> Logarithmic</label>
                        <div class="col-sm-1">
                            <input type="checkbox" class="input-check">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class='btn btn-default' ng-click='wiModal.onRunButtonClicked()'><span class="run-16x16"></span>Run</button>
                <button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()'><span class="close-16x16"></span>Close</button>
            </div>
        </div>
    </div>
</div>
