<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="curve-listing-16x16"></span>&nbsp;Rescale Curve</h4>
            </div>
            <div class="modal-body" style="padding-bottom:0;">
                <div class="">
                    <form class="form-horizontal form-condensed dialog-style" action="" name="modalRescaleCurve">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5><span class=""></span></h5>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="wellName"><span class="well-16x16"></span>Well</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control wi-form-control" value="" id="wellName" name="wellName" ng-model="wiModal.well.data.label" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onApplyButtonClicked();" class="btn btn-default"><span class="apply-16x16"></span>&nbsp;Apply</button>
                <button type="button" ng-click="wiModal.onOkButtonClicked();" class="btn btn-default"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
