<div>
    <style>
        wi-task wi-tab>div {
            height: calc(100% - 30px);
        }

        wi-task .bordered {
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        wi-task wi-tab .inventory-side {
            display: flex;
            flex-direction: column;
            padding: 0;
            flex: 1;
            overflow: hidden;
            background-color: #ffffff;
            margin-bottom: 0;
        }

        wi-task wi-tab .inventory-side .panel-heading {
            padding-top: 0;
            padding-bottom: 0;
        }

        wi-task .height24px span.btn.btn-default {
            line-height: 20px;
            height: 24px;
        }

        .ui-select-bootstrap>ul.ui-select-choices,
        .ui-select-bootstrap>ul.ui-select-no-choice {
            position: fixed;
            top: auto;
            left: auto;
            width: inherit;
        }

        #testElement .wi-parent-id,
        #testElement .icon-expanded {
            display: none;
        }
        .dropLabel{
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
            font-size: 48px;
            transform: translateY(-50%);
            color: #aaa;
        }
    </style>
    <div class="form-group">
        <wi-tabset>
            <wi-tab heading="Configure Inputs & Outputs">
                <div style='padding:10px;display:flex;flex-direction:row;height:100%;'>
                    <div style='flex:1;display:flex;flex-direction:column;padding: 5px 0 0 5px;' class='bordered'>
                        <div>
                            <label class="btn btn-default" ng-click="wiTask.onSelectionTypeChanged()" ng-class='{active: wiTask.selectionType==wiTask.FAMILY_GROUP_SELECTION}'>
                                <input type="radio" name="filterBy" class="display-none" value='{{wiTask.FAMILY_GROUP_SELECTION}}' ng-model="wiTask.selectionType">
                                <span class='zone-table-16x16'></span>
                            </label>
                            <label class="btn btn-default  " ng-click="wiTask.onSelectionTypeChanged()" ng-class='{active: wiTask.selectionType==wiTask.FAMILY_SELECTION}'>
                                <input type="radio" name="filterBy" class="display-none" value='{{wiTask.FAMILY_SELECTION}}' ng-model="wiTask.selectionType">
                                <span class='user-define-16x16'></span>
                            </label>
                            <label class="btn btn-default  " ng-click="wiTask.onSelectionTypeChanged()" ng-class='{active: wiTask.selectionType==wiTask.CURVE_SELECTION}'>
                                <input type="radio" name="filterBy" class="display-none" value='{{wiTask.CURVE_SELECTION}}' ng-model="wiTask.selectionType">
                                <span class='curve-16x16'></span>
                            </label>
                        </div>
                        <div style='position:relative;margin: 5px 0;'>
                            <i style="position:absolute;line-height:2.5em;left:0.5em;font-size:14px;" class="fa fa-search"></i>
                            <input wi-enter="wiTask.onFilterEnterKey(wiTask.filterText1);" style='text-indent:1.5em;' class='form-control' type='text'
                                ng-model='wiTask.filterText1'>
                        </div>
                        <div style="flex:2;display:flex;overflow-x:hidden;overflow-y:auto;background-color:white;">
                            <wi-scroll id-scroll='"selectionScroll"' style='flex:1;display:flex;flex-direction:column' up-trigger="wiTask.upTrigger"
                                down-trigger="wiTask.downTrigger">
                                <wi-base-treeview config='wiTask.selectionList' on-click-function="wiTask.onClick" filter="{{wiTask.selectionType == wiTask.FAMILY_SELECTION?wiTask.filterText:wiTask.filterText1}}">
                                </wi-base-treeview>
                            </wi-scroll>
                        </div>
                    </div>
                    <div style="margin-left:5px;flex:2;padding:5px;">
                        <ul style='padding-left:0;'>
                            <li style="display:flex;flex-direction:row; margin-bottom:5px;" ng-repeat="item in wiTask.taskConfig.inputs">
                                <div style='flex-basis:20em;text-align:right;margin-right:5px;'>
                                    <button style='width:100%;vertical-align:baseline;' class="btn btn-default" type="button" ng-click="wiTask.onSelectTemplate($index)">{{item.name}}
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div style="flex:1;position:relative;">
                                    <span ng-class="{'zone-table-16x16': item.type==wiTask.FAMILY_GROUP_SELECTION, 'user-define-16x16': item.type==wiTask.FAMILY_SELECTION, 'curve-16x16': item.type==wiTask.CURVE_SELECTION}"
                                        style='position:absolute;top:50%;transform:translateY(-50%);left:0.5em;'></span>
                                    <input type="text" style='padding-left:2em;' class='form-control' ng-model='item.label' disabled>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </wi-tab>
            <wi-tab heading='Select Inputs'>
                <div style="height:100%;display:flex;flex-direction:row;padding:10px;">
                    <div class="panel panel-default inventory-side">
                        <div style='display:flex;' class='panel-heading'>
                            <h5 style='margin-right:10px;'>Project</h5>
                            <wi-item-dropdown ng-show='!wiTask.isFrozen' style='flex:1;margin:5px 0;' class='height24px' icon="'project-open-16x16'"
                                on-wi-dropdown-init='wiTask.getProjectList' on-item-changed="wiTask.projectChanged">
                            </wi-item-dropdown>
                            <input style='flex:1;margin:5px 0; height:24px;font-size:14px;' class='form-control' ng-show='wiTask.isFrozen' ng-model='wiTask.projectName'
                                ng-disabled='true'>
                            <button style='margin:5px 0 5px 5px;padding:0 10px;' class='btn btn-default' title="Reload project" ng-click="wiTask.refreshProject()">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </div>
                        <div style='background-color:white;border:none;padding-top: 2px;padding-bottom: 2px;' class='panel-heading'>
                            <form style='width:100%;display:flex;' ng-submit='wiTask.prjSearch()'>
                                <i style="font-size: 16px; line-height:28px;z-index:1;color:#aaa;" class="fa fa-search"></i>
                                <input type='text' style='flex:1; margin-left: -22px; padding-left: 32px;color:steelblue;' ng-model='wiTask.prjFilter' size='10'>
                            </form>
                        </div>
                        <wi-scroll id-scroll="'projectTreeScroll'" style='flex:1;display:flex;flex-direction:column;' up-trigger='wiTask.upTriggerPrj'
                            , down-trigger='wiTask.downTriggerPrj'>
                            <wi-base-treeview id='__projectWellTree' name="projectTreeview" config="wiTask.projectConfig" container="wiTask" on-click-function="wiTask.prjClickFunction"
                                filter="{{wiTask.prjFilter}}" show-id="false">
                            </wi-base-treeview>
                        </wi-scroll>
                    </div>
                    <div class='wi-droppable' style="flex:1;margin-left: 5px;" wi-element-ready="wiTask.droppableSetting();">
                        <div class="panel panel-default" style='height: 100%;'>
                            <div class="panel-heading">
                                <span>Inputs</span>
                                <button class="btn btn-default">
                                    <span class="delete-16x16"></span> Delete
                                </button>
                            </div>
                            <div style="height: 100%; position: relative;">
                                <wi-base-treeview id='_taskDataTree' name='taskDataTree' style="margin-left: 0px;"
                                config='wiTask.taskConfig.inputData' on-click-function='wiTask.taskClickFuntion'
                                ></wi-base-treeview>
                                <div ng-if="!wiTask.taskConfig.inputData.length" class='dropLabel'>DROP DATASET HERE</div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </wi-tab>
        </wi-tabset>
    </div>
</div>