<html>

<head>
    <title>I2G Lightweight</title>
    <link rel="shortcut icon" href="img/Well_Insight.ico" type="image/x-icon">
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/css/jquery-ui.css" rel="stylesheet">
    <link href="vendor/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/css/themify-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="vendor/css/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/css/angular-wizard.min.css">
    <!-- color picker -->
    <link rel="stylesheet" type="text/css" href="vendor/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" type="text/css" href="css/color-picker.css">
    <link rel="stylesheet" href="vendor/css/angular-resizable.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/css/multiple-select.css">
    <link rel="stylesheet" href="vendor/css/select.css">
    <link rel="stylesheet" type="text/css" href="css/dialogs.css">
    <link rel="stylesheet" href="css/sprite_16.css">
    <link rel="stylesheet" href="css/sprite_32.css">
    <link rel='stylesheet' href='vendor/css/goldenlayout-base.css'>
    <link type="text/css" rel="stylesheet" href="vendor/css/goldenlayout-light-theme.css" />
    <link rel='stylesheet' href='vendor/css/nouislider.min.css'>
    <link href='css/wi-button.css' rel='stylesheet'>
    <link href='css/wi-dropdown.css' rel='stylesheet'>
    <link href='css/wi-toolbar.css' rel='stylesheet'>
    <link href='css/wi-tab.css' rel='stylesheet'>
    <link href='css/wi-list.css' rel='stylesheet'>
    <link href='css/wi-context-menu.css' rel='stylesheet'>
    <link href='css/wi-treeview.css' rel='stylesheet'>
    <link href='css/wi-base-treeview.css' rel='stylesheet'>
    <link href='css/wi-status-bar.css' rel='stylesheet'>
    <link href='css/wi-slidingbar.css' rel='stylesheet'>
    <link href='css/wi-resizable-x.css' rel='stylesheet'>
    <link href='css/wi-reference-window.css' rel='stylesheet'>
    <link href='css/wi-multi-input.css' rel='stylesheet'>
    <link href='css/wi-custom-input.css' rel='stylesheet'>
    <link href='css/wi-item-list.css' rel='stylesheet'>
    <link href='css/wi-item-dropdown.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/wi-comboview.css">
    <link rel="stylesheet" href="css/wi-d3-comboview.css">
    <link rel="stylesheet" href="css/wi-inventory.css">
    <link rel="stylesheet" href="css/wi-curve-listing.css">
    <link href='css/wi-logplot.css' rel='stylesheet'>
    <link href='css/wi-crossplot.css' rel='stylesheet'>
    <link href='css/wi-histogram.css' rel='stylesheet'>
    <link href='css/wi-d3-histogram.css' rel='stylesheet'>
    <link href='css/wi-d3-crossplot.css' rel='stylesheet'>
    <link href='css/wi-d3.css' rel='stylesheet'>
    <link href='css/wi-explorer.css' rel='stylesheet'>
    <link href='css/wii-explorer.css' rel='stylesheet'>
    <link href='css/wii-items.css' rel='stylesheet'>
    <link href='css/wii-properties.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/wi-zone.css">
    <link rel="stylesheet" href="css/wi-container.css">
    <link rel="stylesheet" href="css/wi-user.css">
    <link rel="stylesheet" href="css/wi-predict-model.css">
    <link rel="stylesheet" href="css/wi-spinner.css">
    <link rel="stylesheet" href="css/wi-multiselect.css">
    <link rel="stylesheet" href="css/wi-condition-node.css">
    <link href='css/graph.css' rel='stylesheet'>
    <link href='css/main.css' rel='stylesheet'>
    <link href='css/simpleLayout.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/wi-export.css">
    <!-- Insert this line above script imports  -->
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <script src="vendor/js/jquery.min.js"></script>
    <script src="vendor/js/async.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <script src="vendor/js/angular.min.js"></script>
    <script src="vendor/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <!--<script src="vendor/js/moment.min.js"></script>-->
    <script src="vendor/js/ng-file-upload.min.js"></script>
    <script src="vendor/js/angular-modal-service.min.js"></script>
    <script src="vendor/js/jquery-ui.js"></script>
    <script src="vendor/js/jquery.mousewheel.min.js"></script>
    <script src='vendor/js/goldenlayout.min.js'></script>
    <script src='vendor/js/d3.min.js'></script>
    <script src='vendor/js/ResizeSensor.js'></script>
    <script src="vendor/js/angular-resizable.min.js"></script>
    <script src="vendor/js/simple-statistics.min.js"></script>
    <script src="vendor/js/spin.min.js"></script>
    <!-- color picker -->
    <script type="text/javascript" src="vendor/js/bootstrap-colorpicker.min.js"></script>
    <script type="text/javascript" src="vendor/js/EventEmitter-4.0.3.min.js"></script>
    <script type="text/javascript" src="vendor/js/angularjs-dropdown-multiselect.min.js"></script>
    <!-- <script type="text/javascript" src="vendor/js/lodash.js"></script> -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
    <script src="vendor/js/math.min.js"></script>
    <script src="vendor/js/select.js"></script>
    <script src="vendor/js/nouislider.min.js"></script>
    <!--select line style && line width-->
    <script src="vendor/js/angular-sanitize.min.js"></script>
    <script src="vendor/js/toastr.min.js"></script>
    <script type="text/javascript" src="vendor/js/angular-wizard.min.js"></script>

    <!-- <script src="vendor/js/angular-toastr.tpls.js"></script>
    <link rel="stylesheet" href="vendor/css/angular-toastr.css" /> -->

</head>

<body ng-app='wiapp' wi-initialization>
    <div class='main' id="main" ng-controller="AppController as app">
        <div class="ribbon-wrapper">
            <wi-tabset toggle='true' on-toggle='onRibbonToggle'>
                <wi-tab heading="Main" closable='false'>
                    <wi-toolbar name="MiscToolbar" label="Miscelaneous" container="ribbon">
                        <wi-button name="InventoryInspection" icon="browse-project-32x32" label="Invt. Inspector" container="ribbon" disabled="handlers.isDisabled()" class="height65" handler="handlers.InventoryInspectionButtonClicked">
                        </wi-button>
                        <wi-button name="InventoryConnect" icon="browse-project-32x32" label="Invt. Connect" container="ribbon" disabled="handlers.isDisabled()" class="height65" handler="handlers.InventoryConnectButtonClicked">
                        </wi-button>

                        <wi-button name="BatchTools" icon="well-load-32x32" label="Batch Tools" container="ribbon" disabled="handlers.isDisabled()" class="height65" handler="handlers.BatchToolsClicked"></wi-button>
                        <wi-button name="MachineLearning" icon="caculation-multilinerregression-32x32" label="Machine Learning" container="ribbon" disabled="handlers.isDisabled()" class="height65" handler="handlers.MachineLearningButtonClicked"></wi-button>

                        <wi-button name="ExportTool" icon="export-well-top-32x32" label="Export Tool" container="ribbon" disable="handlers.isDisabled()" class="height65" handler="handlers.ExportToolButtonClicked"></wi-button>
                        <wi-button name="NeuralNetWorkPlayground" icon="browse-project-32x32" label="NN Playground" container="ribbon" disabled="handlers.isDisabled()" class="height65" handler="handlers.NeuralNetworkPlaygroundButtonClicked"></wi-button>
                        <wi-button name="wiPlotPlayground" icon="browse-project-32x32" label="Wi Plot" container="ribbon" disabled="handlers.isDisabled()" class="height65" handler="handlers.wiPlotButtonClicked"></wi-button>
                        <wi-button name="wiXplot" icon="browse-project-32x32" label="Wi Xplot" container="ribbon" disabled="handlers.isDisabled()" class="height65" handler="handlers.wiXplotButtonClicked"></wi-button>
                        <wi-button name="ExitButton" icon="exit-32x32" label="Exit" container="ribbon" disabled="handlers.isDisabled()" class="height65" handler="handlers.ExitButtonClicked"></wi-button>
                    </wi-toolbar>
                </wi-tab>
            </wi-tabset>
        </div>
        <div id='myLayout'></div>
        <wi-user class="user-wrapper" name='user'></wi-user>
        <wi-context-menu name="ContextMenu"></wi-context-menu>
        <wi-spinner name="SPINNER"></wi-spinner>
    </div>

    <template id="wi-plot-playground">
        <div style='height:100%;display:flex;flex-direction:column;background-color:#f4f4f4;' ng-controller="wiPlotPlaygroundController as wiPlotCtrl">
            <h3 class="content-heading">Wi Plot Sample</h3>
            <div class="row container-fluid">
                <div class="col-md-1"></div>
                <button class="btn btn-default col-md-2" ng-click="wiPlotCtrl.makeRandomData()">Random data</button>
                <button class="btn btn-default col-md-2" ng-click="wiPlotCtrl.makeLineColor()">Random Line Color</button>
                <button class="btn btn-default col-md-2" ng-click="wiPlotCtrl.makePointColor()">Random Point Color</button>
                <button class="btn btn-default col-md-2" ng-click="wiPlotCtrl.toggleLine()" ng-class="wiPlotCtrl.plotOption.showLine ? 'active':''">Show Line</button>
                <button class="btn btn-default col-md-2" ng-click="wiPlotCtrl.togglePoint()" ng-class="wiPlotCtrl.plotOption.showPoint ? 'active':''">Show Point</button>
            </div>
            <wi-plot style='flex:1; display: flex;' configs="wiPlotCtrl.plotConfig" options="wiPlotCtrl.plotOption"></wi-plot>
        </div>
    </template>

    <template id="wi-xplot">
        <div style='height:100%;display:flex;flex-direction:column;background-color:#f4f4f4;' ng-controller="wiXplotController as wiPlotCtrl">
            <h3 class="content-heading">Wi Xplot Sample</h3>
            <div class="row container-fluid">
                <div class="col-md-1"></div>
                <ui-select multiple ng-model="$item"
                            ng-change="wiPlotCtrl.onChange($item)"
                            close-on-select="false">
                    <ui-select-match placeholder='Select pairs'>{{$item}}</ui-select-match>
                    <ui-select-choices repeat='pair in wiPlotCtrl.data'>
                        <div>{{pair}}</div>
                    </ui-select-choices>
                </ui-select>
                <label class="font-weight-normal">MinorX</label>
                    <input type="number" min="0" max="10" ng-model="wiPlotCtrl.config.minorX">
                <label class="font-weight-normal">MinorY</label>
                    <input type="number" min="0" max="10" ng-model="wiPlotCtrl.config.minorY">
                <label class="font-weight-normal">LogX</label>
                    <input type="checkbox" value="" ng-model="wiPlotCtrl.config.logX" ng-change="wiPlotCtrl.checkLogStatus()">
                <label class="font-weight-normal">LogY</label>
                    <input type="checkbox" value="" ng-model="wiPlotCtrl.config.logY" ng-change="wiPlotCtrl.checkLogStatus()">
                <label class="font-weight-normal">Left</label>
                    <input type="number" id="scaleLeft"
                            ng-model="wiPlotCtrl.config.scale.left"
                            ng-change="wiPlotCtrl.checkLogValueX(wiPlotCtrl.config.scale.left, 'scaleLeft')">
                <label class="font-weight-normal">Right</label>
                    <input type="number" id="scaleRight"
                            ng-model="wiPlotCtrl.config.scale.right"
                            ng-change="wiPlotCtrl.checkLogValueX(wiPlotCtrl.config.scale.right, 'scaleRight')">
                <label class="font-weight-normal">Bottom</label>
                    <input type="number" id="scaleBottom"
                            ng-model="wiPlotCtrl.config.scale.bottom"
                            ng-change="wiPlotCtrl.checkLogValueY(wiPlotCtrl.config.scale.bottom, 'scaleBottom')">
                <label class="font-weight-normal">Top</label>
                    <input type="number" id="scaleTop"
                            ng-model="wiPlotCtrl.config.scale.top"
                            ng-change="wiPlotCtrl.checkLogValueY(wiPlotCtrl.config.scale.top, 'scaleTop')">
                <button class="btn btn-default col-md-2" ng-click="wiPlotCtrl.testUpdate()">Test update</button>
            </div>
            <wi-xplot style='flex:1; display: flex;' id-curves='wiPlotCtrl.idCurves' config='wiPlotCtrl.config'></wi-xplot>
        </div>
    </template>

    <template id="neural-network-playground">
        <div style='height:100%;display:flex;flex-direction:column;background-color:#f4f4f4;' ng-controller="NeuralController as network">
            <h3 class="content-heading">Neural Network Playground</h3>
            <!--<wi-inventory style='flex:1;' id-project='1'></wi-inventory>-->
            <div class="row">
                <div class="col-md-6 col-md-offset-2">
                    <span class="lead">
                        <button type="button" class="btn btn-default" name="removeLayers" ng-click="network.removeHiddenLayerButtonClicked()">-</button>
                        <span class="label label-success">{{ network.hiddenLayer.length }}</span>
                        <button type="button" class="btn btn-default" name="addLayers" ng-click="network.addHiddenLayerButtonClicked()">+</button>
                        Hidden Layers
                    </span>

                </div>
               
                <!-- <div class="col-md-2">
                    <button type="button" class="btn btn-primary" name="button" ng-click="network.neuralNetWorkProperties()">Configure network</button>
                </div> -->
            </div>
            <wi-neural-network style='flex:1;' input-curves="network.inputCurves" output-curves="network.outputCurves" hidden-layer="network.hiddenLayer"></wi-neural-network>
        </div>
    </template>

    <template id="well-import">
        <div style='height:100%;display:flex;flex-direction:column;background-color:#f4f4f4;'>
            <h3 class="content-heading">Mega Import</h3>
            @@include('./well-import/index.html')
        </div>
    </template>

    <template id='online-inventory'>
        <div style='height:100%;display:flex;flex-direction:column;background-color:#f4f4f4;'>
            <h3 class="content-heading">Inventory Inspection</h3>
            @@include('./online-inventory/index.html')
        </div>
    </template>

    <template id='inventory-connect'>
        <div style='height:100%;display:flex;flex-direction:column;background-color:#f4f4f4;'>
            <h3 class="content-heading">Inventory Connect</h3>
            <wi-inventory style='flex:1;' id-project='1'></wi-inventory>
            <!-- <wi-inventory style='flex:1;'></wi-inventory> -->
        </div>
    </template>

    <template id='machine-learning'>
        <div style='height:100%;display:flex;flex-direction:column;background-color:#f4f4f4;'>
            <h3 class="content-heading">Machine Learning</h3>
            <wi-workflow-machine-learning name="wiWorkflowPlayer" id-project='1'></wi-workflow-machine-learning>
        </div>
    </template>
    <div id="testElement"></div>

    <template id="export-tool">
        <div style='height:100%;display:flex;flex-direction:column;background-color:#f4f4f4;'>
            <h3 class="content-heading">Export Tool</h3>
            <wi-export></wi-export>
        </div>
    </template>

    <script src="js/simpleLayout.js.bundle.js"></script>
    <!--<script src="http://192.168.0.91:33333/socket.io/socket.io.js"></script>-->
    <script src="http://batch.sflow.me/socket.io/socket.io.js"></script>
    <!-- Insert this line after script imports -->
    <script>
        if (window.module) module = window.module;
    </script>
</body>

</html>
