<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Depth Track Properties</h4>
            </div>
            <div class="modal-body padding-0">
                <form action="" class="form-horizontal">
                    <div class="container-fluid">
                        <div id="header">
                            <h5>Header</h5>
                            <div class="form-group">
                                <div class="col-sm-7">
                                    <label for="isShowTitle" class="normal-text">
                                        <input type="checkbox" id="isShowTitle" ng-model="wiModal.isShowTitle">Show title
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-5 normal-text" for="title">Title</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control wi-form-control" value="" name="title" id="title" ng-model="wiModal.title" ng-disabled="!wiModal.isShowTitle">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="topJust" class="control-label col-sm-5 normal-text">Top Justification</label>
                                <div class="col-sm-7">
                                    <select ng-model="wiModal.topJustification" name="topJust" value="" class="form-control wi-form-control" id="topJust" ng-disabled="!wiModal.isShowTitle">
                                            <option value="left">Left</option>
                                            <option value="center">Center</option>
                                            <option value="right">Right</option>
                                        </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bottomJust" class="control-label col-sm-5 normal-text">Bottom Justification</label>
                                <div class="col-sm-7">
                                    <select ng-model="wiModal.bottomJustification" name="bottomJust" value="" class="form-control wi-form-control" id="bottomJust"
                                        ng-disabled="!wiModal.isShowTitle">
                                            <option value="left">Left</option>
                                            <option value="center">Center</option>
                                            <option value="right">Right</option>
                                        </select>
                                </div>
                            </div>
                        </div>
                        <div id="color">
                            <h5>Color</h5>
                            <div class="form-group">
                                <label class="control-label col-sm-5 normal-text" for="track-background">Track background</label>
                                <div class="col-sm-7">
                                    <div class="float-left">
                                        <input kendo-color-picker k-palette="'websafe'" class="form-control wi-form-control" ng-model="wiModal.trackColor" />
                                    </div>
                                    <div class="float-left">
                                        <input type="text" class="form-control wi-form-control" id="track-background" ng-model="wiModal.trackColor">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="geometry">
                            <h5>Geomatry</h5>
                            <div class="form-group">
                                <label class="control-label col-sm-5 normal-text" for="width">Width (inchs)</label>
                                <div class="col-sm-7">
                                    <input type="number" step="0.001" class="form-control wi-form-control" id="width" ng-model="wiModal.width">
                                </div>
                            </div>
                        </div>
                        <div id="parameters">
                            <h5>Parameters</h5>
                            <div class="form-group">
                                <label class="control-label col-sm-5 normal-text" for="parameters-set">Parameter Set</label>
                                <div class="col-sm-7">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-5 normal-text" for="zone-set">
                                  Zone Set</label>
                                <div class="col-sm-7">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onApplyButtonClicked()" class="btn btn-default"><span class="apply-16x16"></span>&nbsp;Apply</button>
                <button type="button" ng-click="wiModal.onOkButtonClicked()" class="btn btn-default"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked()" class="btn btn-default"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>