wi-d3-histogram {
    & > div {
        display:flex;
        flex-direction: column;
        width: 100%;
        h1, h2, h3, h4, h5 {
            flex-grow: 0;
            text-align: center;
            margin:2px 0;
        }
        .d3-histogram-region {
            display: flex;
            position: relative;
            flex: 1;
        }
    }
    //display:flex;
    overflow: hidden;
    .rg-left, .rg-right {
        & > span {
            cursor: col-resize;
        }
    }
    .rg-top, .rg-down {
        & > span {
            cursor: row-resize;
        }
    }
}
