
<wi-toolbar name="DatabasesToolbar" icon="" label="" layout="" description="" type="">
		<wi-button name="NewProjectButton" icon="project-new-32x32" label="" layout="" description="" type="small" handler="handlers.NewProjectButtonClicked">

		</wi-button>
		<wi-button name="OpenProjectButton" icon="project-open-32x32" label="" layout="" description="" type="small" handler="handlers.OpenProjectButtonClicked">

		</wi-button>
		<wi-button name="CloseProjectButton" icon="project-close-32x32" label="" layout="" description="" type="small" handler="handlers.CloseProjectButtonClicked">

		</wi-button>

</wi-toolbar>
