
<wi-toolbar name="Toolbar" icon="" Description="" ="7">
		<wi-button name="ExplorerButton1Button" icon="help-32x32" Description="" ="6" handler="handlers.ExplorerButton1ButtonClicked">

		</wi-button>
		<wi-button name="ExplorerButton2Button" icon="info-frp-32x32" Description="" ="6" handler="handlers.ExplorerButton2ButtonClicked">

		</wi-button>
		<wi-button name="ExplorerButton3Button" icon="" Description="" ="6" handler="handlers.ExplorerButton3ButtonClicked">

		</wi-button>

</wi-toolbar>
