<style>
    #mydiv {
        position: absolute;
        z-index: 9;
        text-align: center;
    }
    
    #mydivheader {
        width: 350px;
        padding: 5px;
        cursor: move;
        z-index: 10;
        background-color: #4080ff;
        color: rgb(0, 0, 0);
        font-weight: bold;
        border: 1px solid rgb(148, 148, 148);
    }
    #chat {
        background: white;
        height: 400px;
        border: 1px solid rgb(148, 148, 148);
    }
    #users {
        position: absolute;
        z-index: 10;
        top: 32px;
        width: 40%;
        border: 1px solid rgb(180, 180, 180);
        background: #ececec;
    }
    #list-user li {
        list-style-type: none;
        text-align: left;
        cursor: pointer;
    }
    #list-user {
        padding: 15px;
    }
</style>
<div id="mydiv" ng-init="show=false; showUsers=false; name=''">
    <div id="mydivheader">
        <span style="float: left; cursor: pointer" ng-click="showUsers= !showUsers"><i class="fa fa-comment" style="font-size: 20px"></i></span>
        WI Communication
        <span style="float: right;cursor: pointer" ng-click="show= !show"><i ng-show="!show" class="fa fa-chevron-down"></i><i ng-show="show" class="fa fa-chevron-up"></i></span>
    </div>

    <div id="chat" ng-show="show" >
        {{name}}
    </div>
    <div id="users" ng-show="showUsers">
        <ul id="list-user">
            <li ng-click="name='nhan'; show=true; showUsers=false;">nhan<i class="fa fa-circle" style="color: green; padding:3; float: right"></i></li>
            <li ng-click="name='thuy'; show=true; showUsers=false;">thuy<i class="fa fa-circle" style="color: green; padding:3; float: right"></i></li>
            <li ng-click="name='thang'; show=true; showUsers=false;">thang<span><i class="fa fa-circle" style="color: rgb(97, 97, 97); padding:3; float: right"></i></li>
            <li ng-click="name='thong'; show=true; showUsers=false;">thong<span><i class="fa fa-circle" style="color: green; padding:3; float: right"></i></li>
        </ul>
    </div>
</div>