<html>
<head>
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/css/font-awesome.min.css" rel="stylesheet">
    <link href='css/main.css' rel='stylesheet'>
    <link href='css/wi-status-bar.css' rel='stylesheet'>

    <script src="vendor/js/jquery.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <script src="vendor/js/angular.min.js"></script>
    <script src="vendor/js/ui-bootstrap-tpls-0.14.3.js"></script>

    <script src='js/main-statusbar.js.bundle.js'></script>
    
    <title>Test</title>
</head>

<body ng-app='helloapp'>
<div ng-controller="WiDummy">
    <wi-status-bar></wi-status-bar>
</div>
</body>
</html>
