<div class='modal fade'>
    <div class='modal-dialog'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Attribute</h4>
            </div>
            <div class="modal-body">
                <wi-tabset>
                    <wi-tab heading="Lines">
                        <div class="container-fluid">
                            <form action="" class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 normal-text" for="style">Line Width</label>
                                            <div class="col-sm-8">
                                                <ui-select theme="bootstrap" ng-model="wiModal.options.lines.width">
                                                    <ui-select-match>
                                                        <div class="col-sm-2 text-left">{{$select.selected.name}}</div>
                                                        <svg height="10" width="100%" class="col-sm-10">
                                                            <line x1="0" y1="5" x2="100%" y2="5"
                                                                  style="stroke: {{wiModal.options.lines.color}}; stroke-width: {{$select.selected.param}}"></line>
                                                        </svg>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="width in wiModal.widthes">
                                                        <div class="col-sm-2 text-left">{{width.name}}</div>
                                                        <svg height="10" width="100%" class="col-sm-10">
                                                            <line x1="0" y1="5" x2="100%" y2="5"
                                                                  style="stroke: {{wiModal.options.lines.color}}; stroke-width: {{width.param}}"></line>
                                                        </svg>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 normal-text" for="style">Line Style</label>
                                            <div class="col-sm-8">
                                                <ui-select theme="bootstrap" ng-model="wiModal.options.lines.style">
                                                    <ui-select-match>
                                                        <svg height="10" width="100%" class="col-sm-12">
                                                            <line x1="0" y1="5" x2="100%" y2="5" stroke-dasharray="{{$select.selected.param.join(',')}}"
                                                                  style="stroke: {{wiModal.options.lines.color}}; stroke-width: 1}"></line>
                                                        </svg>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="style in wiModal.styles" class="text-left">
                                                        <div class="container-fluid">
                                                            <!--<div class="col-sm-2 text-left"></div>-->
                                                            <svg height="10" width="100%" class="col-sm-12">
                                                                <line x1="0" y1="5" x2="100%" y2="5" stroke-dasharray="{{style.param.join(',')}}"
                                                                      style="stroke: {{wiModal.options.lines.color}}; stroke-width: 1"></line>
                                                            </svg>
                                                        </div>

                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 normal-text" for="color">Line Color</label>
                                            <div class="col-sm-8 text-left">
                                                <input kendo-color-picker k-palette="'websafe'"
                                                       class="form-control wi-form-control"
                                                       ng-model="wiModal.options.lines.color"/>
                                                {{wiModal.options.lines.color}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                    <wi-tab heading="Solid fill">
                        <div class="container-fluid">
                            <form action="" class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 normal-text" for="color">Solid fill color</label>
                                        <div class="col-sm-8 text-left">
                                            <!-- <input kendo-color-picker k-palette="'websafe'"
                                                   class="form-control wi-form-control"
                                                   ng-model="wiModal.options.lines.color"/> -->
                                            <input type="color" name=""
                                                    ng-model="wiModal.options.lines.color">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                    <wi-tab heading="Pattern">
                        <div class="container-fluid">
                            <form action="" class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Pattern</label>
                                            <div class="col-sm-8">
                                                <ui-select theme="bootstrap" ng-model="wiModal.options.patternFill.pattern">
                                                    <ui-select-match>
                                                        <wi-canvas-rect name="_selectedPatternFill" 
                                                                        pattern="{{wiModal.options.patternFill.pattern}}" 
                                                                        width="270" height="20" 
                                                                        foreground="{{wiModal.options.patternFill.foreground}}" 
                                                                        background='{{wiModal.options.patternFill.background}}'>
                                                        </wi-canvas-rect>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="selectedPattern in wiModal.selectPatterns">
                                                        <wi-canvas-rect name="{{selectedPattern}}" pattern="{{selectedPattern}}" 
                                                                        width="270" height="20" 
                                                                        foreground="{{wiModal.options.patternFill.foreground}}" 
                                                                        background='{{wiModal.options.patternFill.background}}'>
                                                        </wi-canvas-rect>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-6 small-text">Foreground</label>
                                            <div class="col-sm-6 text-left">
                                                <input kendo-color-picker k-palette="'websafe'"
                                                       class="form-control wi-form-control"
                                                       ng-model="wiModal.options.patternFill.foreground"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-6 small-text">Background</label>
                                            <div class="col-sm-6 text-left">
                                                <input kendo-color-picker k-palette="'websafe'"
                                                       class="form-control wi-form-control"
                                                       ng-model="wiModal.options.patternFill.background"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                    <wi-tab heading="Custom fill">
                        <div class="container-fluid">
                            <form action="" class="form-horizontal">

                            </form>
                        </div>
                    </wi-tab>
                </wi-tabset>
            </div>
            <div class="modal-footer">
                <button class='btn btn-default' ng-click='wiModal.onOkButtonClicked()'><span class="ok-16x16"></span>&nbsp;Ok</button>
                <button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()' data-dismiss="modal"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
