<html>
<head>
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href='css/wi-canvas-rect.css' rel='stylesheet'>

    <link rel="stylesheet" href="css/sprite_32.css">
    <link rel="stylesheet" href="css/sprite_16.css">
    <link href='css/graph.css' rel='stylesheet'>

    <script src="vendor/js/jquery.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <script src="vendor/js/angular.min.js"></script>

    <script src='js/main-canvas-rect-test.js.bundle.js'></script>

    <title>Test canvas rect</title>
    
</head>

<body ng-app='helloapp'>
<div ng-controller="WiDummy">
    <wi-canvas-rect name="canvas" pattern="limestone" width="200" height="20px" foreground="#fff" background='#0f0'></wi-canvas-rect>
</div>



</body>
</html>
