<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()"
                        aria-hidden="true">&times;
                </button>
                <h4 class="modal-title">Shading Properties</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" name="modalShadingProperties">
                    <div class="row">
                        <h5>Header</h5>
                        <div class="col-sm-4">Name</div>
                        <div class="col-sm-8">
                            <input type="text" ng-model="wiModal.props.name"
                                    class="form-control wi-form-control">
                        </div>
                    </div>
                    <div class="row">
                        <h5>Fill</h5>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Fill pattern</label>
                                <div class="col-sm-8">
                                    <ui-select theme="bootstrap" ng-model="wiModal.props.positiveFill.name">
                                        <ui-select-match>
                                            <wi-canvas-rect name="_selectedPatternCanvas" 
                                                            pattern="{{wiModal.props.positiveFill.name}}" 
                                                            width="300" height="20" 
                                                            foreground="{{wiModal.props.positiveFill.foreground}}" 
                                                            background='{{wiModal.props.positiveFill.background}}'>
                                            </wi-canvas-rect>
                                        </ui-select-match>
                                        <ui-select-choices repeat="selectedPattern in wiModal.selectPatterns">
                                            <wi-canvas-rect name="{{selectedPattern}}" pattern="{{selectedPattern}}" 
                                                            width="300" height="20" 
                                                            foreground="{{wiModal.props.positiveFill.foreground}}" 
                                                            background='{{wiModal.props.positiveFill.background}}'>
                                            </wi-canvas-rect>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-6 small-text">Foreground</label>
                                <div class="col-sm-6 text-left">
                                    <button ng-click="wiModal.foreground()"
                                            ng-style="{'background-color':wiModal.props.positiveFill.foreground}"
                                            class="form-control wi-form-control width-80px">Change</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-6 small-text" for="background">Background</label>
                                <div class="col-sm-6 text-left">
                                    <button ng-click="wiModal.background()"
                                            ng-style="{'background-color':wiModal.props.positiveFill.background}"
                                            class="form-control wi-form-control width-80px">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="normal-text">
                                    <input type="checkbox" id="displayFill"
                                           value="" name=""
                                           ng-model="wiModal.props.isNegPosFill"
                                           ng-change="wiModal.enableFill('positiveNegative', wiModal.props.isNegPosFill);">
                                    Positive/Negative Fill
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="normal-text">
                                    <input type="checkbox" id="displayFill"
                                           value="" name="">
                                    Ignore Missing Values
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="positiveNegative">
                            <div class="container-fluid">
                                <h5>Positive/Negative Fill</h5>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="normal-text">
                                            <input type="checkbox" id="noPositiveFill"
                                                   value="" name=""
                                                   ng-model="wiModal.options.positiveFill.isFill"
                                                   ng-change="wiModal.enableFill('positiveFill', !wiModal.options.positiveFill.isFill);">
                                            No Positive fill
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div id="positiveFill">
                                            <div class="form-group">
                                                <label class="control-label col-sm-6 small-text">Positive Color</label>
                                                <div class="col-sm-6 text-left">
                                                    <button ng-click="wiModal.posPositiveForeground()"
                                                            ng-style="{'background-color':wiModal.options.positiveFill.foreground}"
                                                            class="form-control wi-form-control width-80px">Change</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="noNegativeFill" class="normal-text">
                                            <input type="checkbox" id="noNegativeFill"
                                                   value="" name=""
                                                   ng-model="wiModal.options.negativeFill.isFill"
                                                   ng-change="wiModal.enableFill('negativeFill', !wiModal.options.negativeFill.isFill);">
                                            No Negative fill
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div id="negativeFill">
                                            <div class="form-group">
                                                <label class="control-label col-sm-6 small-text" >Negative color</label>
                                                <div class="col-sm-6 text-left">
                                                    <button ng-click="wiModal.negPositiveForeground()"
                                                            ng-style="{'background-color':wiModal.options.negativeFill.foreground}"
                                                            class="form-control wi-form-control width-80px">
                                                            Change
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h5>Fill</h5>
                        <div class="col-sm-3">
                            <label class="small-text">
                                <input type="radio" name="" value="left">&nbsp;Left
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <label class="small-text">
                                <input type="radio" name="" value="right">&nbsp;Right
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <label class="small-text">
                                <input type="radio" name="" ng-value="custom">&nbsp;Custom
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label col-sm-3 small-text">Value</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control wi-form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <p class="dialog-error" ng-if="wiModal.error">Error: {{wiModal.error}}</p>
            </div>
            <div class="modal-footer">
                <button ng-click="wiModal.onOkButtonClicked()" class="btn btn-default">
                    <span class="ok-16x16"></span>&nbsp;Close
                </button>
                <button class="btn btn-default" ng-click="wiModal.onCancelButtonClicked()">
                    <span class="cancel-16x16"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>
