@@include("./toolbar/index.html")

<div class="filter-block">
    <span>Filter: </span>
    <input type="text" placeholder="Search ...">
</div>

<div class="label_treeview">
    <span>Name</span><span>Unit</span>
</div>
<div style='padding-left: 10px; background-color:#fff; overflow-y: scroll; height: calc(100% - 94px);'
id="treeContent">
    <wi-treeview contextmenuholder="{{wiExplorer.name}}" name="{{wiExplorer.treeviewName}}" config="wiExplorer.treeConfig" container="wiExplorer"></wi-treeview>
</div>
