<div class="container-fluid" id="container" ng-controller="wipmController">
    <h2 class="content-heading" style="border-bottom: none">WIPM</h2>
    <div class="row">
        <div class="col-sm-3" id="left">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#create" ng-click="create=true;retrain=predict=list=result=false;">Create Model</a></li>
                <li><a data-toggle="pill" href="#retrain" ng-click="retrain=true;create=predict=list=result=false;">Retrain model</a></li>
                <li><a data-toggle="pill" href="#predict" ng-click="predict=true;retrain=create=list=result=false;">Predict</a></li>
                <li><a data-toggle="pill" href="#list" ng-click="list=true;retrain=predict=create=result=false;">List model</a></li>
            </ul>
        </div>
        <div class="col-sm-9" id="right">
            @@include('./createForm.html')
            @@include('./retrainForm.html')
            @@include('./predictForm.html')
            @@include('./listModel.html')
        </div>
    </div>
</div>