<form ng-if="predict" ng-controller="predictFormController as predict" id="predict">
    <h3>Predict</h3>
    <div class="form-group form-inline">
        <label class="control-label col-sm-3">Model name</label>
        <select ng-options="x as x.name for x in predict.models track by x.id" 
                ng-model="predict.model" 
                class="form-control wi-form-control"
                required>
        </select>
    </div>
    <div class="form-group form-inline container-fluid" style="padding-left: 0">
        <label class="control-label col-sm-3">Chose obs</label>
        <label class="col-sm-3">Well
            <ui-select ng-model="predict.well"
                        on-select="predict.changeWell()"
                        class="normal-text">
                <ui-select-match placeholder='Select a curve'>
                    {{predict.well.name}}
                </ui-select-match>
                <ui-select-choices  position="down"
                                    repeat='well in predict.wells | filter:{name:$select.search} track by well.idWell' >
                    <div class="normal-text">{{well.name}}</div>
                </ui-select-choices>
            </ui-select>
        </label>
        <label class="control-label col-sm-3">Dataset
            <ui-select ng-model="predict.dataset"
                on-select="predict.changeDateset()"
                class="normal-text">
                <ui-select-match placeholder='Select a dataset'>
                    {{predict.dataset.name}}
                </ui-select-match>
                <ui-select-choices  position="down"
                                    repeat='dataset in predict.datasets | filter:{name:$select.search} track by dataset.idDataset' >
                    <div class="normal-text">{{dataset.name}}</div>
                </ui-select-choices>
            </ui-select>
        </label>
        <label class="control-label col-sm-3">Curve
            <ui-select ng-model="predict.curve"
                        on-select="predict.changeCurve()"
                        class="normal-text">
                <ui-select-match placeholder='Select a curve'>
                    {{predict.curve.name}}
                </ui-select-match>
                <ui-select-choices  position="down"
                                    repeat='curve in predict.curves | filter:{name:$select.search} track by curve.idCurve' >
                    <div class="normal-text">{{curve.name}}</div>
                </ui-select-choices>
            </ui-select>
        </label>
    </div>
    <!-- <div class="form-group form-inline">
        <label class="col-sm-3">Observation set</label>
        <input type="file" accept=".csv" on-read-file="predict.read_data($fileContent)" required>
    </div>-->
    <div class="form-group form-inline">
        <button class="btn btn-primary" ng-click="predict.predict()">Predict</button>
    </div> 
</form> 