
<form ng-if="retrain" ng-controller="retrainFormController as retrain" id="retrain">
    <h3>Retrain</h3>
    <div class="form-group form-inline">
        <label class="control-label col-sm-3">Model name</label>
        <select ng-model="retrain.model"
                ng-options="x as x.name for x in retrain.models track by x.id" 
                ng-change="retrain.changeModel(retrain.model.type)"
                class="form-control wi-form-control"
                >
        </select>
    </div>
    <div class="form-group form-inline" ng-show="!retrain.rnd">
        <label class="control-label col-sm-3">Number of epochs</label>
        <input class="form-control wi-form-control" type="number" ng-model="retrain.params['n_epochs']" required>
    </div>
    <div class="form-group form-inline" ng-show="!retrain.rnd">
        <label class="control-label col-sm-3">Learning rate</label>
        <input class="form-control wi-form-control" type="number" step="0.001" ng-model="retrain.params['learning_rate']" required>
    </div>
    <div class="form-group form-inline">
        <label class="control-label col-sm-3">Dataset</label>
        <label class="control-label"> Data <input class="form-control wi-form-control" type="file" id="data" accept=".csv" on-read-file="retrain.read_data($fileContent)" required></label>
        <label class="control-label"> Target <input class="form-control wi-form-control" type="file" id="target" accept=".csv" on-read-file="retrain.read_target($fileContent)" required></label>
    </div>
    <div class="form-group form-inline">
        <button class="btn btn-primary" ng-click="retrain.retrain()">Retrain</button>
    </div>
</form>