<div class='modal fade'>
    <div class='modal-dialog'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">&times;</button>
                <h4>Define Variable Shading</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-condensed">
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="normal-text">Shading controlled by curve:</p>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <select class="form-control wi-form-control"
                                    ng-model="wiModal.options.curveControl"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-3">
                            <p>Start:</p>
                        </div>
                        <div class="col-sm-3">
                            <p>End:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-2">
                            <p class="small-text margin-top-0_5em">Curve Value:</p>
                        </div>
                        <div class="col-sm-3">
                            <input type="number" name=""
                                class="form-control wi-form-control"
                                ng-model="wiModal.options.startX">
                        </div>
                        <div class="col-sm-3">
                            <input type="number" name=""
                                class="form-control wi-form-control"
                                ng-model="wiModal.options.endX">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="small-text">
                                <input type="radio" ng-value="gradient">
                                Use Gradient
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <p class="small-text margin-top-0_5em">Color:</p>
                        </div>
                        <div class="col-sm-3">
                            <div class="addon valign-middle" 
                                ng-style="{'background-color':wiModal.options.startColor}"><img/></div>
                                    <button ng-click="wiModal.startColor()"
                                            class="form-control wi-form-control width-80px">Change</button>
                        </div>
                        <div class="col-sm-3">
                            <div class="addon valign-middle" 
                                ng-style="{'background-color':wiModal.options.endColor}"><img/></div>
                                    <button ng-click="wiModal.endColor()"
                                            class="form-control wi-form-control width-80px">Change</button>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-4">
                            <label class="small-text">
                                <input type="radio" ng-value="palette">
                                Use Palette
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <p class="small-text margin-top-0_5em">Palette Name:</p>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control wi-form-control"></select>
                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="small-text">
                                <input type="radio" ng-value="values">
                                Use Values
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        
                    </div> -->
                </form>                   
            </div>
            <div class="modal-footer">
                <button class='btn btn-default' ng-click='wiModal.onOkButtonClicked()'><span class="ok-16x16"></span>&nbsp;Close</button>
            </div>
        </div>
    </div>
</div>
