<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="images-properties-16x16"></span>&nbsp;Histogram Format</h4>
            </div>
            <div class="modal-body dialog-style" style='overflow: auto;'>
                <wi-tabset>
                    <wi-tab heading="Curves Selections">
                        <div class="container-fluid">
                            <form class="form-horizontal form-condensed">
                                <div style='padding:10px;display:flex;flex-direction:row;height:100%;'>
                                    <div class='panel panel-default tree-side'>
                                        <div class='panel-heading' style='display: flex;'>
                                            <h5 style="flex:1;" class="margin-top-0_5em">Data type</h5>
                                            <div style='flex:2;text-align: right;'>
                                                <label class="btn btn-default" ng-click="wiModal.onSelectionTypeChanged(wiModal.FAMILY_GROUP_SELECTION)" ng-class='{active: wiModal.selectionType==wiModal.FAMILY_GROUP_SELECTION}'
                                                    style="margin-right: 5px;" title='Family Group'>
                                                    <span class='zone-table-16x16'></span>
                                                </label>
                                                <label class="btn btn-default  " ng-click="wiModal.onSelectionTypeChanged(wiModal.FAMILY_SELECTION)" ng-class='{active: wiModal.selectionType==wiModal.FAMILY_SELECTION}'
                                                    style="margin-right: 5px;" title='Family'>
                                                    <span class='user-define-16x16'></span>
                                                </label>
                                                <label class="btn btn-default  " ng-click="wiModal.onSelectionTypeChanged(wiModal.CURVE_SELECTION)" ng-class='{active: wiModal.selectionType==wiModal.CURVE_SELECTION}'
                                                    title='Curve'>
                                                    <span class='curve-16x16'></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div style='position:relative;margin: 5px;'>
                                            <i style="position:absolute;line-height:2.5em;left:0.5em;font-size:14px;" class="fa fa-search"></i>
                                            <input wi-enter="wiModal.onFilterEnterKey(wiModal.filterText1);" style='text-indent:1.5em;' class='form-control' type='text'
                                                ng-model='wiModal.filterText1'>
                                        </div>
                                        <div style="flex:2;display:flex;overflow-x:hidden;overflow-y:auto;background-color:white;">
                                            <wi-scroll id-scroll='"selectionScroll"' style='flex:1;display:flex;flex-direction:column' up-trigger="wiModal.upTrigger"
                                                down-trigger="wiModal.downTrigger">
                                                <wi-base-treeview config='wiModal.selectionList' on-click-function="wiModal.onClick" filter="{{wiModal.selectionType == wiModal.FAMILY_SELECTION?wiModal.filterText:wiModal.filterText1}}"
                                                    name='wiCrossplotFormatModalSelectionTreeName'>
                                                </wi-base-treeview>
                                            </wi-scroll>
                                        </div>
                                    </div>
                                    <div style="margin-left:5px;flex:2;padding:0px 5px; display:flex; flex-direction: column;">
                                        <div style="flex:1;display:flex;overflow: hidden;flex-direction: column;" class='panel panel-default'>
                                            <div class="panel-heading">
                                                <h5>Inputs</h5>
                                            </div>
                                            <ul style='padding-left:0;margin: 5px;flex:1;overflow-y: auto;'>
                                                <li style="display:flex;flex-direction:row; margin-bottom:5px;" ng-repeat="item in wiModal.taskConfig.inputs">
                                                    <div style='flex:1;margin-right:5px;'>
                                                        <button style='width:100%;vertical-align:baseline;' class="btn btn-default" type="button" ng-click="wiModal.onSelectTemplate($index)">{{item.name}}
                                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                    <div style="flex:2;position:relative;">
                                                        <span ng-class="{'zone-table-16x16': item.type==wiModal.FAMILY_GROUP_SELECTION, 'user-define-16x16': item.type==wiModal.FAMILY_SELECTION, 'curve-16x16': item.type==wiModal.CURVE_SELECTION}"
                                                            style='position:absolute;top:50%;transform:translateY(-50%);left:0.5em;'></span>
                                                        <input type="text" style='padding-left:2em;' class='form-control' ng-model='item.label' disabled>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div style="flex:1;display:flex;overflow: hidden;flex-direction: column;" class='panel panel-default'>
                                            <div class="panel-heading">
                                                <h5>Default Parameters</h5>
                                            </div>
                                            <ul style='padding-left:0;margin: 5px;flex:1;overflow-y: auto;'>
                                                <li style="display:flex;flex-direction:row; margin-bottom:5px;" ng-repeat="item in wiModal.taskConfig.parameters track by $index">
                                                    <label style='flex:1;text-align:center;line-height: 2.5em;font-size: 14px;'>{{item.name}}</label>
                                                    <input type="number" class="form-control" ng-model="item.value" step="any" ng-if="item.type=='number'" style="flex:2;">
                                                    <select class='form-control' ng-model='item.value' ng-options="choice as choice.name for choice in item.choices track by choice.value"
                                                        ng-if='item.type=="select"' style="flex:2;"></select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                    <wi-tab heading="Datasets Selections" on-show="wiModal.onTabChange">
                        <div class="container-fluid">
                            <form class="form-condensed">
                                <div style="height:100%;display:flex;flex-direction:row;padding:10px;">
                                    <div class="panel panel-default tree-side">
                                        <div style='display:flex;' class='panel-heading'>
                                            <h5>Project</h5>
                                            <wi-item-dropdown ng-show='!wiModal.isFrozen' style='flex:1;margin:5px 0;' class='height24px' icon="'project-open-16x16'"
                                            on-wi-dropdown-init='wiModal.getProjectList'
                                            on-item-changed="wiModal.projectChanged">
                                            </wi-item-dropdown>
                                        </div>
                                        <div style='margin: 5px;position: relative;'>
                                            <i style="position:absolute;line-height:2.5em;left:0.5em;font-size:14px;" class="fa fa-search"></i>
                                            <input type='text' class='form-control' style='text-indent:1.5em;' ng-if='wiModal.idxTab==0' ng-model='wiModal.prjFilter'
                                                size='20'>
                                            <input type='text' class='form-control' style='text-indent:1.5em;' ng-if='wiModal.idxTab==1' ng-model='wiModal.zoneFilter'
                                                size='20'>
                                        </div>
                                        <div style='flex:1;display:flex;flex-direction:column;'>
                                            <wi-base-treeview id='{{wiModal.projectTreeName}}' name="wiCrossplotFormatModalProjectTreeName"
                                            config="wiModal.projectConfig" container="wiModal"
                                            on-click-function="wiModal.prjClickFunction"
                                            on-ready-function='wiModal.onPrjReady'
                                            filter="{{wiModal.prjFilter}}">
                                            </wi-base-treeview>
                                        </div>
                                    </div>
                                    <div class='wi-droppable' style="flex:2;margin-left: 5px;" wi-element-ready="wiModal.droppableSetting();">
                                        <div class="panel panel-default" style='height: 100%;display:flex;flex-direction: column;'>
                                            <div class="panel-heading">
                                                <h5>Input Data</h5>
                                            </div>
                                            <div style='margin: 5px;position: relative;'>
                                                <i style="position:absolute;line-height:2.5em;left:0.5em;font-size:14px;" class="fa fa-search"></i>
                                                <input type='text' class='form-control' style='text-indent:1.5em;' ng-model='wiModal.inputFilter' size='10'>
                                            </div>
                                            <div style="flex: 1; position: relative; overflow-y: auto;">
                                                <wi-base-treeview id='{{wiModal.taskDataTreeName}}' name='wiCrossplotFormatModalTaskDataTreeName' style="margin-left: 0px;" config='wiModal.taskConfig.inputData'
                                                    on-click-function='wiModal.taskClickFunction' show-context-menu-function='wiModal.taskShowContextMenu'
                                                    filter='{{wiModal.inputFilter}}' filter-by='{{wiModal.typeFilter}}'></wi-base-treeview>
                                                <div ng-if="!wiModal.taskConfig.inputData.length" class='dropLabel'>DROP DATASET HERE</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                    <wi-tab heading="Configurations">
                        <div class="container-fluid">
                            <form class="form-horizontal form-condensed"
                            style="display:flex;flex-direction:column;height:90%">
                                <div class="row" style="margin-left:0px;margin-right:0px;">
                                    <div class="col-sm-4 input-field">
                                        <label>Left</label>
                                        <input type="number" class="form-control wi-form-control" id="scaleLeft" ng-model="wiModal.config.scale.left"
                                            ng-change="wiModal.checkLogaValue(wiModal.config.scale.left, 'scaleLeft')" style="margin-bottom:6px;">
                                    </div>
                                    <div class="col-sm-4 input-field">
                                        <label>Right</label>
                                        <input type="number" class="form-control wi-form-control" id="scaleRight" ng-model="wiModal.config.scale.right"
                                            ng-change="wiModal.checkLogaValue(wiModal.config.scale.right, 'scaleRight')" style="margin-bottom:6px;">
                                    </div>
                                    <div class="col-sm-4 input-field">
                                        <label>Divisions</label>
                                        <input type="number" class="form-control wi-form-control"
                                        ng-model="wiModal.config.numOfDivisions" style="margin-bottom:6px;">
                                    </div>
                                    <div class="col-sm-4 input-field">
                                        <input type="checkbox" ng-model="wiModal.config.loga">
                                        <label>Loga</label>
                                    </div>
                                    <div class="col-sm-4 input-field">
                                        <input type="checkbox" ng-model="wiModal.config.showGrid">
                                        <label>Show Grid</label>
                                    </div>
                                    <div class="col-sm-4 input-field">
                                        <input type="checkbox" ng-model="wiModal.config.flipHorizontal">
                                        <label>Flip Horizontal</label>
                                    </div>
                                    <div class="col-sm-4 input-field">
                                        <input type="radio" name='plotType' ng-model="wiModal.config.plotType" value="Frequency">
                                        <label>Frequency count</label>
                                    </div>
                                    <div class="col-sm-4 input-field">
                                        <input type="radio" name='plotType' ng-model="wiModal.config.plotType" value="Percent">
                                        <label>Percentile</label>
                                    </div>
                                </div>
                                <hr style="width:100%;">
                                <div style="flex:1;display:flex;flex-direction:row;padding:10px;">
                                    <div class="panel panel-default tree-side">
                                        <div style='display:flex;' class='panel-heading'>
                                            <h6 style="font-weight:700">Datasets</h6>
                                        </div>
                                        <div style="flex: 1; position: relative; overflow-y: auto;">
                                            <wi-base-treeview id='{{wiModal.taskDataTreeName}}' name='wiCrossplotFormatModalTaskDataTreeName' style="margin-left: 0px;" config='wiModal.inputDataClone'
                                            on-click-function='wiModal.datasetPropsClickFunction'>
                                            </wi-base-treeview>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex:2;padding-left:10px;">
                                        <div class="panel panel-default"
                                        style='display:flex;flex-direction:column;margin-bottom:0px;width:100%'>
                                            <div class='panel-heading'>
                                                <h6 style="font-weight:700">
                                                    Display Properties ({{wiModal.selectedDatasetProps.name}})
                                                </h6>
                                            </div>
                                            <div ng-if="wiModal.selectedDatasetProps">
                                                <div class="col-sm-6 input-field">
                                                    <input type="checkbox"
                                                    ng-model="wiModal.selectedDatasetProps.options.showGaussian">
                                                    <label>Show Gaussian</label>
                                                </div>
                                                <div class="col-sm-6 input-field">
                                                    <input type="checkbox"
                                                    ng-model="wiModal.selectedDatasetProps.options.showCumulative">
                                                    <label>Show Cumulative</label>
                                                </div>
                                                <div class="col-sm-6 input-field">
                                                    <input type="radio" name='plot{{props.idCurve}}'
                                                    ng-model="wiModal.selectedDatasetProps.options.plot"
                                                    value="Bar">
                                                    <label>Bar</label>
                                                </div>
                                                <div class="col-sm-6 input-field">
                                                    <input type="radio" name='plot{{props.idCurve}}'
                                                    ng-model="wiModal.selectedDatasetProps.options.plot"
                                                    value="Curve">
                                                    <label>Curve</label>
                                                </div>
                                                <div class="col-sm-6 input-field">
                                                    <label>Color</label>
                                                    <div style="display:inline-block;margin-left:10px;margin-bottom:5px;vertical-align:middle;">
                                                        <button type="button"
                                                        ng-click="wiModal.pickColor(wiModal.selectedDatasetProps);"
                                                        ng-style="{'background-color':wiModal.selectedDatasetProps.options.lineColor}"
                                                        class="form-control wi-form-control width-80px thick-border"
                                                        style="width:70px;">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                </wi-tabset>
                <div id="dragObjElement"></div>
            </div>

            <div class="modal-footer">
                <button ng-if='!wiModal.hideApply' type="button" ng-click="wiModal.onApplyButtonClicked();" class="btn btn-default">
                    <span class="apply-16x16"></span>&nbsp;Apply
                </button>
                <button type="button" ng-click="wiModal.onOkButtonClicked();" class="btn btn-default">
                    <span class="ok-16x16"></span>&nbsp;Ok
                </button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default">
                    <span class="close-16x16"></span>&nbsp;Close
                </button>
            </div>
        </div>
    </div>
    <style>
        .input-field {
            margin-top:12px;
        }
        .margin-bottom-0 {
            margin-bottom: 0;
        }

        .margin-top-0_25em {
            margin-top: 0.25em;
        }

        .margin-top-0_5em {
            margin-top: 0.5em;
        }

        wi-tabset>div {
            height: calc(100% - 180px);
        }

        .bordered {
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        wi-tab .tree-side {
            display: flex;
            flex-direction: column;
            padding: 0;
            flex: 1;
            overflow: hidden;
            background-color: #ffffff;
            margin-bottom: 0;
        }

        wi-tab .panel-heading {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .height24px span.btn.btn-default {
            line-height: 20px;
            height: 24px;
        }

        .ui-select-bootstrap>ul.ui-select-choices,
        .ui-select-bootstrap>ul.ui-select-no-choice {
            position: fixed;
            top: auto;
            left: auto;
            width: inherit;
        }

        #dragObjElement .wi-parent-node {
            padding: 5px;
            background-color: #eee;
            border: 1px solid steelblue;
            border-radius: 5px;
        }

        #dragObjElement .icon-expanded {
            display: none;
        }

        .dropLabel {
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
            font-size: 48px;
            transform: translateY(-50%);
            color: #aaa;
        }
    </style>
</div>
