<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="images-properties-16x16"></span>&nbsp;Histogram Format</h4>
            </div>

            <div class="modal-body">
                <wi-tabset>
                    <wi-tab heading='Scales'>
                        <div class="padding-1em container-fluid">
                            <div class="row">
                                <form class='col-sm-12 form-horizontal form-condensed'>
                                    <div id="choosedepth">
                                        <h5>Choose Depth</h5>
                                        <div class="col-sm-offset-1 col-sm-11 container-fluid">
                                            <div class="form-group">
                                                <input class="col-sm-1" type="radio" name="depth" ng-model="wiModal.depthType" ng-change="wiModal.onDepthTypeChanged()" value="intervalDepth">
                                                <label>Interval Depths</label>
                                            </div>
                                            <div class='form-group'>
                                                <label class="col-sm-3">Top(m)</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control wi-form-control" type="number" ng-model="wiModal.histogramProps.intervalDepthTop" ng-disabled="!(wiModal.depthType=='intervalDepth')"
                                                        required min="0">
                                                </div>
                                                <label class="col-sm-3">Bottom(m)</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control wi-form-control" type="number" ng-model="wiModal.histogramProps.intervalDepthBottom" ng-disabled="!(wiModal.depthType=='intervalDepth')"
                                                        required min="0">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input class="col-sm-1" type="radio" name="depth" value="zonalDepth" ng-change="wiModal.onDepthTypeChanged()" ng-model="wiModal.depthType"
                                                    ng-disabled="!wiModal.zoneSetList.length">
                                                <label>Zone Depths</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3">Zones</label>
                                                <div class="col-sm-3">
                                                    <select class="form-control wi-form-control" ng-disabled="wiModal.depthType=='intervalDepth'" ng-model="wiModal.selectedZoneSet"
                                                        ng-change="wiModal.onZoneSetChange()" ng-options="ZoneSet as ZoneSet.properties.name for ZoneSet in wiModal.zoneSetList track by ZoneSet.id">
                                                    </select>
                                                </div>
                                                <label class="col-sm-3">Active Zones</label>
                                                <div class="col-sm-3">
                                                    <select class="form-control wi-form-control" ng-disabled="wiModal.depthType=='intervalDepth'" ng-model="wiModal.SelectedActiveZone"
                                                        ng-change="wiModal.onActiveZoneChange()">
                                                        <option value="All" ng-selected="wiModal.histogramProps.activeZone=='All'">All</option>
                                                        <option value="{{Zone.id}}" ng-repeat="Zone in wiModal.zoneSetList[wiModal.selectedZoneSet.idx].children"
                                                        ng-selected="wiModal.histogramProps.activeZone==Zone.id">
                                                            {{Zone.properties.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="xaxes">
                                        <h5>X Axes</h5>
                                        <div class="col-sm-offset-1 col-sm-11 container-fluid">
                                            <div class='form-group'>
                                                <label class="col-sm-3">Curve name</label>
                                                <div class="col-sm-3">
                                                    <!-- <select class="form-control wi-form-control" ng-model="wiModal.SelectedCurve" ng-change="wiModal.onSelectCurveChange()" ng-options="curve as curve.datasetCurve for curve in wiModal.curvesArr">
                                                    </select> -->
                                                    <ui-select ng-model="wiModal.SelectedCurve"
                                                        ng-change="wiModal.onSelectCurveChange()">
                                                        <ui-select-match placeholder='Select a curve'>{{wiModal.SelectedCurve.properties.name}}</ui-select-match>
                                                        <ui-select-choices group-by="'datasetName'"
                                                        repeat='curve in wiModal.curvesArr | filter: $select.search'>
                                                        <div class="padding-left-20px">{{curve.properties.name}}</div>
                                                    </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <label class="col-sm-3">Number of Divisions</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control wi-form-control" type="number" ng-model="wiModal.histogramProps.divisions">
                                                </div>
                                            </div>
                                            <div class='form-group'>
                                                <label class="col-sm-3">Left scale</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control wi-form-control" type="number" ng-model="wiModal.histogramProps.leftScale">
                                                </div>
                                                <label class="col-sm-3">Right scale</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control wi-form-control" type="number" ng-model="wiModal.histogramProps.rightScale">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <input type="checkbox" ng-model="wiModal.histogramProps.showGaussian">
                                                    <label>Show Gaussian</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" ng-model="wiModal.histogramProps.loga">
                                                    <label>Loga</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" ng-model="wiModal.histogramProps.showGrid">
                                                    <label>Show Grid</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" ng-model="wiModal.histogramProps.flipHorizontal">
                                                    <label>Flip Horizontal</label>
                                                </div>
                                            </div>
                                            <!-- <div class='form-group'>
                                                <label class="col-sm-3">Line style</label>
                                                <div class="col-sm-3">
                                                    <select class="form-control wi-form-control">
                                                        <option value="">None</option>
                                                    </select>
                                                </div>
                                                <label class="col-sm-3">Line color</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control wi-form-control" type="Button">
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div id="yaxes">
                                        <h5>Y Axes</h5>
                                        <div class="col-sm-offset-1 col-sm-11 container-fluid">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    <input type="radio" name='plotType' ng-model="wiModal.histogramProps.plotType" value="Frequency">
                                                    <label>Frequency count</label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="radio" name='plotType' ng-model="wiModal.histogramProps.plotType" value="Percent">
                                                    <label>Percentile</label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="col-sm-6">Color</label>
                                                    <div class="col-sm-6">
                                                        <input ng-style="{'background-color':wiModal.histogramProps.color}" ng-click="wiModal.chooseChartColor();" class="form-control wi-form-control width-80px thick-border"
                                                            type="button">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </wi-tab>
                    <wi-tab heading='Discriminators'>
                        <div class="container-fluid">
                            <form class='form-horizontal'>
                                <div>
                                    <h5>Discriminators</h5>
                                    <div class="width-95-percent float-left">
                                        <table class="font-size-10px table table-bordered curveTable">
                                            <thead>
                                                <tr>
                                                    <th>Use</th>
                                                    <th>Value/ Curve</th>
                                                    <th>Func</th>
                                                    <th>Value/ Curve</th>
                                                    <th>Clear</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="" id="">
                                                    </td>
                                                    <td>
                                                        <select name="" id=""></select>
                                                    </td>
                                                    <td>
                                                        <select name="" id=""></select>
                                                    </td>
                                                    <td>
                                                        <select name="" id=""></select>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default">
                                                            <span class="delete-16x16"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="" id="">
                                                    </td>
                                                    <td>
                                                        <select name="" id=""></select>
                                                    </td>
                                                    <td>
                                                        <select name="" id=""></select>
                                                    </td>
                                                    <td>
                                                        <select name="" id=""></select>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default">
                                                            <span class="delete-16x16"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </wi-tab>
                    <wi-tab heading='Options'>
                        <div class="padding-1em container-fluid">
                            <div class="row">
                                <form class='col-sm-12 form-horizontal form-condensed'>
                                    <div id="histogramname">
                                        <h5>Histogram Name</h5>
                                        <div class="col-sm-offset-1 col-sm-11 container-fluid">
                                            <div class="form-group">
                                                <label class="col-sm-3">Histogram Name</label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control wi-form-control" ng-model="wiModal.histogramProps.name">
                                                </div>
                                                <div class="col-sm-6"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="hardcopy">
                                        <h5>Hard Copy</h5>
                                        <div class="col-sm-offset-1 col-sm-11 container-fluid">
                                            <div class="form-group">
                                                <label class="col-sm-3">Width(inch)</label>
                                                <div class="col-sm-3">
                                                    <input type="number" ng-model="wi.histogramProps.hardCopyWidth" class="form-control wi-form-control">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="checkbox">
                                                    <label>Plot Zone, depth and parameter i</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3">Height(inch)</label>
                                                <div class="col-sm-3">
                                                    <input type="number" ng-model="wiModal.histogramProps.hardCopyHeight" class="form-control wi-form-control">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="checkbox">
                                                    <label>Plot Archive Zone Ti</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </wi-tab>
                    <wi-tab heading='Reference Window'>
                        <div class="padding-1em container-fluid">
                            <div class="row">
                                <form class='col-sm-12 form-horizontal form-condensed'>
                                    <div class="form-group">
                                        <label class="col-sm-2">Top Depth (m)</label>
                                        <div class="col-sm-2">
                                            <input type="number" class="form-control wi-form-control" step="0.01" ng-model="wiModal.histogramProps.referenceTopDepth">
                                        </div>
                                        <label class="col-sm-3">Bottom Depth (m)</label>
                                        <div class="col-sm-2">
                                            <input type="number" class="form-control wi-form-control" step="0.01"
                                            ng-model="wiModal.histogramProps.referenceBottomDepth">
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-default width-100-percent text-ellipsis"
                                            ng-click="wiModal.defaultDepthButtonClick()">Depth Default</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2">Scale 1</label>
                                        <div class="col-sm-2">
                                            <input type="number" list='scaleOpt' class="form-control wi-form-control"
                                            ng-model="wiModal.histogramProps.referenceScale">
                                            <datalist id="scaleOpt">
                                                <option value="1">1</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="200">200</option>
                                                <option value="300">300</option>
                                                <option value="500">500</option>
                                                <option value="1000">1000</option>
                                                <option value="2000">2000</option>
                                                <option value="3000">3000</option>
                                                <option value="5000">5000</option>
                                            </datalist>
                                        </div>
                                        <label class="col-sm-3">Vert. Line Number</label>
                                        <div class="col-sm-2">
                                            <input type="number" class="form-control wi-form-control"
                                            ng-model="wiModal.histogramProps.referenceVertLineNumber">
                                        </div>
                                        <div class="col-sm-3">
                                                <input type="checkbox" ng-model="wiModal.histogramProps.referenceDisplay">
                                                <label>Display</label>
                                            </div>
                                    </div>
                                    <div class="form-group padding-1em">
                                            <input type="checkbox" ng-model="wiModal.histogramProps.referenceShowDepthGrid">
                                            <label>Show Depth Grid Line</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-11">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th style="width:25%">Curve Name</th>
                                                        <th>Left</th>
                                                        <th>Right</th>
                                                        <th>Vis.</th>
                                                        <th>Log</th>
                                                        <th>Color</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="ref_curve in wiModal.ref_Curves_Arr"
                                                    ng-click="wiModal.setClickedRow($index)"
                                                    ng-class="{selected:$index == wiModal.SelectedRefCurve, 'display-none': ref_curve.flag === wiModal._FDEL}">
                                                        <td ng-class="{'color-navy': $index == wiModal.SelectedRefCurve}">
                                                        </td>
                                                        <td>
                                                            <ui-select ng-model="ref_curve.curve"
                                                                ng-change="wiModal.onRefCurveChange($index, 'curve')">
                                                                <ui-select-match placeholder='Select a curve'>{{ref_curve.curve.name}}</ui-select-match>
                                                                <ui-select-choices group-by="'datasetName'"
                                                                repeat='curve.properties as curve in wiModal.curvesArr | filter: $select.search'>
                                                                <div class="padding-left-20px">{{curve.properties.name}}</div>
                                                            </ui-select-choices>
                                                            </ui-select>
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control wi-form-control"
                                                            ng-model="ref_curve.left" step='1'
                                                            ng-change="wiModal.onRefCurveChange($index)">
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control wi-form-control"
                                                            ng-model="ref_curve.right" step='1'
                                                            ng-change="wiModal.onRefCurveChange($index)">
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" ng-model="ref_curve.visiable"
                                                            ng-change="wiModal.onRefCurveChange($index)">
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" ng-model="ref_curve.log"
                                                            ng-change="wiModal.onRefCurveChange($index)">
                                                        </td>
                                                        <td>
                                                            <input ng-style="{'background-color':ref_curve.color}" ng-click="wiModal.chooseRefCurveColor($index);" class="form-control wi-form-control width-80px thick-border" type="button">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-1 padding-0">
                                            <button type="button" class="btn btn-default" ng-click="wiModal.DeleteRefCurve()">
                                                <i class="delete-16x16"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-click="wiModal.AddRefCurve()">
                                                <i class="plus-16x16"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </wi-tab>
                </wi-tabset>
            </div>

            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onApplyButtonClicked();" class="btn btn-default" ng-disabled="wiModal.IsNotValid();">
                    <span class="apply-16x16"></span>&nbsp;Apply
                </button>
                <button type="button" ng-click="wiModal.onOKButtonClicked();" class="btn btn-default" ng-disabled="wiModal.IsNotValid();">
                    <span class="ok-16x16"></span>&nbsp;Ok
                </button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default">
                    <span class="close-16x16"></span>&nbsp;Close
                </button>
            </div>
        </div>
    </div>
</div>
