
<wi-toolbar name="CrossPlotToolbar">
		<wi-button name="SaveFormatButton" icon="save-16x16" type="small" tooltip="Edit Format" handler="handlers.SaveFormatButtonClicked">

		</wi-button>
		<wi-button name="PrintButton" icon="print-16x16" type="small" tooltip="Print" handler="handlers.PrintButtonClicked">

		</wi-button>
		<wi-button name="EditFormatButton" icon="properties-16x16" type="small" tooltip="Edit Format" handler="handlers.EditFormatButtonClicked">

		</wi-button>
		<wi-button name="ActiveZoneButton" icon="zone-edit-16x16" type="small" tooltip="Active Zone" handler="handlers.ActiveZoneButtonClicked">

		</wi-button>
		<wi-button name="FrequencyInfoButton" label="Frequency Info" type="small" handler="handlers.FrequencyInfoButtonClicked">

		</wi-button>
		<wi-button name="DefaultZoomButton" icon="zoom-default-16x16" type="small" tooltip="Zoom Default" handler="handlers.DefaultZoomButtonClicked">

		</wi-button>
		<wi-button name="ZoomInButton" icon="zoom-in-16x16" type="small" tooltip="Zoom In" handler="handlers.ZoomInButtonClicked">

		</wi-button>
		<wi-button name="ZoomOutButton" icon="zoom-out-16x16" type="small" tooltip="Zoom Out" handler="handlers.ZoomOutButtonClicked">

		</wi-button>
		<wi-button name="ZAxesButton" label="Z Axes" type="small" handler="handlers.ZAxesButtonClicked">

		</wi-button>
		<wi-dropdown name="FunctionsDropdown" label="Functions" type="small">
				<wi-button name="CreatePolygonButton" label="Create Polygon" type="small" class="height-auto" handler="handlers.CreatePolygonButtonClicked">

				</wi-button>
				<wi-button name="CreateRectangleButton" label="Create Rectangle" type="small" class="height-auto" handler="handlers.CreateRectangleButtonClicked">

				</wi-button>
				<wi-button name="DeleteAreaButton" label="Delete Area" type="small" class="height-auto" handler="handlers.DeleteAreaButtonClicked">

				</wi-button>
				<wi-button name="CreateUserLineButton" label="Create User Line" type="small" class="height-auto" handler="handlers.CreateUserLineButtonClicked">

				</wi-button>
				<wi-button name="DeleteUserLineButton" label="Delete User Line" type="small" class="height-auto" handler="handlers.DeleteUserLineButtonClicked">

				</wi-button>
				<wi-button name="UserDefineLineButton" label="User Define Line" type="small" class="height-auto" handler="handlers.UserDefineLineButtonClicked">

				</wi-button>
				<wi-button name="PolygonManagerButton" label="Polygon Manager" type="small" class="height-auto" handler="handlers.PolygonManagerButtonClicked">

				</wi-button>
				<wi-button name="RegressionLineButton" label="Regession Line" type="small" class="height-auto" handler="handlers.RegressionLineButtonClicked">

				</wi-button>

		</wi-dropdown>
		<wi-dropdown name="TernaryDropdown" label="Ternary" type="small">
				<wi-button name="ConfigTernaryDiagramButton" label="Config Ternary Diagram" type="small" class="height-auto" handler="handlers.ConfigTernaryDiagramButtonClicked">

				</wi-button>

		</wi-dropdown>

</wi-toolbar>
