<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Image View - {{wiModal.currentImageName}}</h4>
            </div>
            <div class="modal-body">
                <div class="image">
                    <img src="{{wiModal.currentImageUrl}}" alt="{{wiModal.currentImageName}}">
                </div>
                <p class="dialog-error" ng-if="wiModal.error">Error: {{wiModal.error}}</p>
            </div>
        </div>
    </div>
    <style>
        .image {
            text-align: center;
            overflow: auto;
        }
        .image img {
            max-width: auto;
            max-height: auto;
        }
    </style>
</div>