wi-condition-node {
    & > div {
        border: 1px solid rgb(209, 202, 202);
    }
    .condition-parent{
        display: flex;
        flex-direction: row;
    }
    .condition-child {
        padding: 1rem;
    }

    .condition-operator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 5rem;
    }
}