wi-condition-node {
    .condition-node{
        display: flex;
    }
    .condition-operands {
        flex: 1;
    }
    .condition-operator {
        text-align: center;
        flex-basis: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1em;
    }
    .condition-item {
        padding: 1em;
        display: block;
        border: 1px solid rgb(209, 202, 202);
    }
    .condition-item-selected {
        background: steelblue;
    }
    .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-1, .col-xs-8, .col-xs-6, .container-fluid {
        padding-left: 3px;
        padding-right: 3px;
    }
    wi-multi-input{
        .multi-input-selected{
            height: auto;
            padding: 2px 8px;
        }
    }
}