<div class='condition-item' 
    ng-class="{'condition-item-selected': wiConditionNode.item.selected}"
    ng-click="wiConditionNode.doSelect($event)">
    
    <div ng-if="!wiConditionNode.isNull() && !wiConditionNode.item.children" class="container-fluid">
        <div class='col-xs-5'>
            <select class='form-control' ng-model="wiConditionNode.item.left.value"
                ng-options="curve.id as curve.properties.name group by curve.datasetName for curve in wiConditionNode.curveOptions"
                ng-change="wiConditionNode.update()"></select>
        </div>
        <div class='col-xs-3'>
            <select class='form-control' ng-model="wiConditionNode.item.comparison" 
                ng-options="com for com in wiConditionNode.comparisons"
                ng-change="wiConditionNode.update()"></select>
        </div>
        <div class='col-xs-4'>
            <wi-multi-input model='wiConditionNode.item.right' curves-list='wiConditionNode.curveOptions'
            ng-change='wiConditionNode.update()'></wi-multi-input>
        </div>
    </div>
    <div ng-if="!wiConditionNode.isNull() && wiConditionNode.item.children" class='condition-node' 
        >
        <div class="condition-operands">
            <div ng-repeat="childNode in wiConditionNode.item.children" class='container-fluid'>
                <wi-condition-node item='childNode' curve-options='wiConditionNode.curveOptions' on-delete='wiConditionNode.onDelete' root='wiConditionNode.root'>
                </wi-condition-node>
            </div>
        </div>
        <div class="condition-operator">
            <select class='form-control width-auto' ng-model="wiConditionNode.item.operator"
                ng-options="op for op in wiConditionNode.operators"
                ng-change="wiConditionNode.update()"></select>
        </div>
    </div>
</div>