<div class='condition-item'
    ng-class="{'condition-item-selected': wiConditionNode.item.selected}"
    ng-click="wiConditionNode.doSelect($event)">

    <div ng-if="!wiConditionNode.isNull() && !wiConditionNode.item.children" class="container-fluid">
        <div class='col-xs-5'class='form-control'>
            <ui-select ng-model='wiConditionNode.item.left.value' ng-change="wiConditionNode.update()">
                <ui-select-match placeholder='Select a curve'>{{$select.selected.properties.name}}</ui-select-match>
                <ui-select-choices group-by="wiConditionNode.groupFn"
                repeat='curve.id as curve in wiConditionNode.curveOptionsWithDepth | filter:{name:$select.search} track by curve.id'>
                <div class="padding-left-20px">{{curve.properties.name}}</div>
            </ui-select-choices>
            </ui-select>
        </div>
        <div class='col-xs-2'class='form-control'>
            <ui-select ng-model='wiConditionNode.item.comparison'
            ng-change="wiConditionNode.update()"
            search-enabled='false'>
                <ui-select-match>{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat='com in wiConditionNode.comparisons'>{{com}}</ui-select-choices>
            </ui-select>
        </div>
        <div class='col-xs-5'>
            <wi-multi-input ng-model='wiConditionNode.item.right' model='wiConditionNode.item.right' curves-list='wiConditionNode.curveOptions'
            ng-change='wiConditionNode.update()' value-only='wiConditionNode.item.left.value'></wi-multi-input>
        </div>
    </div>
    <div ng-if="!wiConditionNode.isNull() && wiConditionNode.item.children" class='condition-node'
        >
        <div class="condition-operands">
            <div ng-repeat="childNode in wiConditionNode.item.children">
                <wi-condition-node item='childNode' curve-options='wiConditionNode.curveOptions' root='wiConditionNode.root'>
                </wi-condition-node>
            </div>
        </div>
        <div class="condition-operator">
            <select class='form-control width-auto' ng-model="wiConditionNode.item.operator"
                ng-options="op for op in wiConditionNode.operators"
                ng-change="wiConditionNode.update()"></select>
        </div>
    </div>
</div>