<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" ng-click="wiModal.close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="well-marker-add-16x16"></span>&nbsp;Create New Well</h4>                

            </div>
            <div class="modal-body">
                <div class="">
                    <h5 class="modal-infomation-title">Well Infomation</h5>
                    <form class="form-horizontal" action="" name="modalAddNew">
                        <div class="form-group">
                          <label class="control-label col-sm-4" for="wellName">Well name:</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" value="" id="wellName" name="wellName" ng-model="wellName" required>
                            <span ng-show ="modalAddNew.wellName.$dirty && modalAddNew.wellName.$error.required">Required*</span>
                          </div>
                        </div>
            
                        <div class="form-group">
                          <label class="control-label col-sm-4" for="topDepth">Top Depth (m)</label>
                          <div class="col-sm-8">
                            <input type="number" class="form-control" value="" id="topDepth" name="topDepth" ng-model="topDepth" currency-mask>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-4" for="bottomDepth">Bottom Depth (m):</label>
                          <div class="col-sm-8">
                            <input type="number" class="form-control" value="" id="bottomDepth" name="bottomDepth" ng-model="bottomDepth">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-4" for="step">Step (m):</label>
                          <div class="col-sm-8">
                            <input type="number" class="form-control" value="" id="step" name="step" ng-model="step">
                          </div>
                        </div>
                        <p>Leave blank for loading modules to auto create when loading first file</p>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.close(wiModal.onOK())" class="btn btn-default" data-dismiss="modal"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.close('Cancel')" class="btn btn-default" data-dismiss="modal"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>