<div class='modal fade'>
    <div class='modal-dialog modal-sm'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCloseButtonClicked()" aria-hidden="true">&times;</button>
                <h4>Warning</h4>
            </div>
            <div class="modal-body text-center padding-2em">
                <span class="margin-left-0_5em" style="color:darkorange; font-weight: bold" ng-bind-html="wiModal.warning"></span>
            </div>
            <div class="modal-footer">
                <button class='btn btn-default' ng-click='wiModal.onCloseButtonClicked()'>Close</button>
            </div>
        </div>
    </div>
</div>
