<div class='modal fade' data-backdrop="static" data-keyboard="false">
	<div class='modal-dialog'>
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="wiModal.close(null)" aria-hidden="true">&times;</button>
				<h4 ng-bind-html="wiModal.title"></h4>
			</div>
			<div class="modal-body text-center">
				<form class="form-horizontal" action="" name="modalBlankPlot">
					<div class="form-group">
						<label class="control-label col-sm-3" for="name">{{wiModal.inputName}}:</label>							
						<div class="col-sm-9">
							<input ng-if="!wiModal.type" type="text" class="form-control"
								ng-model="wiModal.input"
                                wi-enter="wiModal.onOkButtonClicked()" 
                                ng-click="wiModal.error = null"
                                ng-blur="wiModal.onBlur();"
								required autofocus>
							<select ng-if="wiModal.type == 'select'"
											ng-model="wiModal.input"
											ng-options="option.value as option.label for option in wiModal.options"></select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class='btn btn-default' ng-click='wiModal.onOkButtonClicked()'
						ng-disabled="!wiModal.input.length">Ok</button>
				<button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()'>Cancel</button>
			</div>
		</div>
	</div>
</div>
