<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="track-bolk-32x32"></span>&nbsp;Track bulk update</h4>
            </div>
            <div class="modal-body dialog-style">
                <p></p>
                <form class='form-horizontal form-condensed'>
                    <table class="text-on-table table table-bordered scrollTable">
                        <thead class="background-header-table">
                            <tr>
                                <th rowspan="2" width="5%"></th>
                                <th rowspan="2" width="10%">Type</th>
                                <th colspan="1" width="15%">Header</th>
                                <th colspan="4" width="40%">Grid</th>
                                <th colspan="2" width="20%">Geometry</th>
                                <th rowspan="2" width="10%">Color Track</th>
                            </tr>
                            <tr>
                                <th width="15%">Title</th>
                                <th width="10%">Show value</th>
                                <th width="10%">Show depth</th>
                                <th width="10%">Major</th>
                                <th width="10%">Minor</th>
                                <th width="10%">Width (inchs)</th>
                                <th width="10%">Zoom factor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="track in wiModal.tracks"
                                ng-class="{selected:$index == selectedRow}"
                                ng-click="wiModal.setClickedRow($index)">
                                <td width="5%">
                                    <input type="checkbox"
                                            ng-model="track.check">
                                </td>
                                <td width="10%">
                                    {{track.type}}
                                </td>
                                <td width="15%">
                                    <input type="text" ng-model="track.title"
                                            class="form-control wi-form-control">
                                </td>
                                <td width="10%">
                                    <input type="checkbox" 
                                            ng-model="track.showValueGrid"
                                            ng-disabled="track.type != 'Log Track'">
                                </td>
                                <td width="10%">
                                    <input type="checkbox" 
                                            ng-model="track.showDepthGrid"
                                            ng-disabled="track.type != 'Log Track'">
                                </td>
                                <td width="10%">
                                    <input type="number" step="any" 
                                            ng-model="track.majorTicks"
                                            class="form-control wi-form-control"
                                            ng-disabled="track.type != 'Log Track'">
                                </td>
                                <td width="10%">
                                    <input type="number" step="any" 
                                            ng-model="track.minorTicks"
                                            class="form-control wi-form-control"
                                            ng-disabled="track.type != 'Log Track'">
                                </td>
                                <td width="10%">
                                    <input type="number" step="any" 
                                            ng-model="track.width"
                                            class="form-control wi-form-control"
                                            ng-change="wiModal.getSum()">
                                </td>
                                <td width="10%">
                                    <input type="number" step="any"
                                            ng-model="track.zoomFactor"
                                            class="form-control wi-form-control">
                                </td>
                                <td width="10%">
                                    <button ng-click="wiModal.colorTrack(track);"
                                            ng-style="{'background-color':track.color}"
                                            class="form-control wi-form-control width-80px thick-border"
                                            ng-disabled="track.type == 'Object Track'">
                                    </button>
                                </td>
                            </tr>
                            <tr style="background: #EBEDEF;">
                                <td colspan="7" style="text-align: right;">Sum of widths/ Logplot Width</td>
                                <td style="text-align: left;" colspan="3">
                                    {{wiModal.sumWidth}} / {{wiModal.widthOfLogplot}} (inchs)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onApplyButtonClicked();" 
                        ng-disabled="wiModal.applyingInProgress" class="btn btn-default">
                    <span class="apply-16x16"></span>&nbsp;Apply
                </button>
                <button type="button" ng-click="wiModal.onOkButtonClicked();" 
                        ng-disabled="wiModal.applyingInProgress" class="btn btn-default">
                    <span class="ok-16x16"></span>&nbsp;Ok
                </button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default">
                    <span class="close-16x16"></span>&nbsp;Close
                </button>
            </div>
        </div>
    </div>
</div>
