<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="wiModal.close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">&nbsp;Depth Conversion</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
			                <label class="control-label col-sm-5" for="well">Select well</label>
			                <div class="col-sm-7">
		                  		<select ng-model="wiModal.selectWell" name="selectWell" ng-options="item for item in wiModal.selectWellList track by item" class="form-control"></select>
			                </div>
			            </div>
	              	</div>
				</div>
				<div class="row">
					<div class="col-sm-6">

					</div>
					<div class="col-sm-6">
						
					</div>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>