<div class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="wiModal.close()" aria-hidden="true">&times;</button>
                <h4 class="modal-title">&nbsp;Depth Conversion</h4>
			</div>
			<div class="modal-body">
                <form class="form-horizontal" action="" name="modalAddNew">
					<div class="row">
						<div class="col-sm-7">
							<div class="form-group">
				                <label class="control-label col-sm-4" for="well">Select well</label>
				                <div class="col-sm-8">
			                  		<select ng-model="wiModal.selectWell" name="selectWell" ng-options="item for item in wiModal.selectWellList track by item" class="form-control"></select>
				                </div>
				            </div>
		              	</div>
						<div class="col-sm-offset-5"></div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							<div class="col-sm-4">
							</div>
							<div class="col-sm-8">
								<p><span class="depth-blank-16x16"></span>&nbsp;Originals Depths</p>
							</div>
						</div>
						<div class="col-sm-4">
							<p><span class="depth-blank-16x16"></span>&nbsp;New Depth</p>
						</div>
						<div class="col-sm-offsert-1"></div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							<div class="form-group">
	                          <label class="control-label col-sm-4" for="step">Step</label>
	                          <div class="col-sm-8">
	                            <input type="number" class="form-control" value="" id="originalStep" name="step" ng-model="wiModal.originalsDepth.step">
	                          </div>
	                        </div>
							<div class="form-group">
	                          <label class="control-label col-sm-4" for="topDepth">Top Depth</label>
	                          <div class="col-sm-8">
	                            <input type="number" class="form-control" value="" id="originalTopDepth" name="topDepth" ng-model="wiModal.originalsDepth.topDepth">
	                          </div>
	                        </div>
							<div class="form-group">
	                          <label class="control-label col-sm-4 small-text" for="bottomDepth">Bottom Depth</label>
	                          <div class="col-sm-8">
	                            <input type="number" class="form-control" value="" id="originalBottomDepth" name="bottomDepth" ng-model="wiModal.originalsDepth.bottomDepth">
	                          </div>
	                        </div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<input type="number" class="form-control" value="" id="newStep" name="step" ng-model="step">
							</div>
							<div class="form-group">
								<input type="number" class="form-control" value="" id="newTopDepth" name="topDepth" ng-model="topDepth">
							</div>
							<div class="form-group">
								<input type="number" class="form-control" value="" id="newBottomDepth" name="bottomDepth" ng-model="bottomDepth">
							</div>
							<div class="areaWrap">
								<label>
									<input type="radio" name="fixed" value="topFixed" ng-model="fixed" ng-checked="true">&nbsp;Fixed Top
								</label><br>
								<label>
									<input type="radio" name="fixed" value="bottomFixed" ng-model="fixed">&nbsp;Fixed Bottom
								</label>
							</div>
						</div>
						<div class="col-sm-offset-1"></div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="wiModal.runClick()" class="btn btn-default"><span class="run-16x16"></span>&nbsp;Run</button>
                <button type="button" ng-click="wiModal.close('Cancel')" class="btn btn-default"><span class="close-16x16"></span>&nbsp;Cancel</button>
			</div>
		</div>
	</div>
</div>