wi-curve-listing{
    .curve-listing-main-content{
        flex: 1;
        display: flex;
        flex-direction: row;
        padding: 5px;
        height: 100%;
        width:100%;
        background-color:white;
    }
    .listing{
        width: 30%;
        min-width: 20%;
        max-width: 40%;
        display: flex;
        margin-right: 14px;
    }
    .tree-side{
        display: flex;
        flex-direction: column;
        padding: 0;
        flex: 1;
        overflow: hidden;
        margin-bottom: 0;
    }

    .editing{
        flex: 1;
        overflow: hidden;
        height: 95%;
    }
    #dataContainer.active:after {
        content: "DROP A CURVE HERE";
        color: #ccc;
        font-size: 3em;
        width: 100%;
        display: inline-block;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
    }

    #dragElement{
        .wi-parent-node{
            padding: 5px;
            background-color: #eee;
            border: 1px solid steelblue;
            border-radius: 5px;
        }
        .wi-parent-unit, .icon-expanded, .wi-parent-family{
            display: none;
        }
    }
    .handsontable table{
        font-size: 13px;
    }
}