<div class="modal" data-backdrop="static" data-keyboard="false">
	    <div class="modal-dialog modal-sm chooseColor">
	        <div class="modal-content">
	            <div class="modal-body">
	            	<P>Color Track</P>
					<input type="hidden" class="form-control" id="cp" />
					<div id="demo"></div>
					<div class="container-fluid padding-top-2em">
						<div class="row">
							<form action="" ng-submit="wiModal.updateColor();">
								<div class="col-sm-3 padding-0 text-center">
									<input type="number" class='color-comp text-center' min="0" max="255" name="R" ng-model="wiModal.color.r">
								</div>
								<div class="col-sm-3 padding-0 text-center">
									<input type="number" class='color-comp text-center' min="0" max="255" name="G" ng-model="wiModal.color.g">
								</div>
								<div class="col-sm-3 padding-0 text-center">
									<input type="number" class='color-comp text-center' min="0" max="255" name="B" ng-model="wiModal.color.b">
								</div>
								<div class="col-sm-3 padding-0 text-center">
									<input type="number" class='color-comp text-center' step="0.00001" name="A" ng-model="wiModal.color.a">
								</div>
								<input type="submit" style="position: absolute; left: -9999px">
							</form>
						</div>
						<div class="row">
							<div class="col-sm-3 text-center">R</div>
							<div class="col-sm-3 text-center">G</div>
							<div class="col-sm-3 text-center">B</div>
							<div class="col-sm-3 text-center">A</div>
						</div>
					</div>
	            </div>
	            <div class="modal-footer">
	            	<button class='btn btn-default' ng-click='wiModal.onOkButtonClicked()'><span class="ok-16x16"></span>&nbsp;Ok</button>
					<button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()'><span class="cancel-16x16"></span>&nbsp;Cancel</button>
	            </div>
	        </div>
	    </div>
	</div>