<div>
        <style>
            wi-workflow-machine-learning>div {
                height: 100%;
                flex: 1;
                display: flex;
                background-color: #f7f7f7;
            }
    
            wi-workflow-machine-learning .bordered {
                border: 1px solid #aaa;
                border-radius: 4px;
                border-color: #aaa;
            }
    
            wi-workflow-machine-learning #tplTree .wi-treeview-container {
                padding-left: 0;
            }
    
            wi-workflow-machine-learning .inventory-side {
                display: flex;
                flex-direction: column;
                padding: 0;
                flex: 1;
                overflow: hidden;
                background-color: #ffffff;
                margin-bottom: 0;
            }
    
            wi-workflow-machine-learning .inventory-side .panel-heading {
                padding-top: 0;
                padding-bottom: 0;
            }
    
            wi-workflow-machine-learning .height24px span.btn.btn-default {
                line-height: 20px;
                height: 24px;
            }
    
            wi-workflow-machine-learning .ui-select-bootstrap>ul.ui-select-choices li,
            wi-workflow-machine-learning .ui-select-bootstrap>ul.ui-select-no-choice li {
                display: block;
                width: 100%;
            }
    
            wi-workflow-machine-learning .ui-select-bootstrap>.ui-select-choices,
            wi-workflow-machine-learning .ui-select-bootstrap>.ui-select-no-choice {
                width: auto;
            }
    
            wi-workflow-machine-learning .ui-select-match-text {
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            #testElement .wi-parent-id,
            #testElement .icon-expanded {
                display: none;
            }
    
            wi-workflow-machine-learning .disabled-color {
                opacity: 0.2;
            }
    
            /* wizard styles */
    
            wi-workflow-machine-learning>div>div {
                display: flex;
                flex: 1;
            }
    
            wi-workflow-machine-learning div[indicators-position],
            wi-workflow-machine-learning div.steps,
            wi-workflow-machine-learning section {
                display: flex;
                flex: 1;
            }
    
            wi-workflow-machine-learning div[indicators-position] {
                flex-direction: column;
                position: relative;
            }
    
            wi-workflow-machine-learning div[indicators-position]>h2 {
                text-align: center;
                font-size: 2em;
                margin-top: 6px;
            }
    
            wi-workflow-machine-learning ul.steps-indicator {
                height: 60px;
            }
    
            wi-workflow-machine-learning .steps-indicator li a:before,
            .steps-indicator:before {
                background-color: #aaa;
            }
    
            @keyframes blink-animation {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
    
            wi-workflow-machine-learning .steps-indicator li.current a:before {
                background-color: blue;
                animation: blink-animation 2s steps(5, start) infinite;
                -webkit-animation: blink-animation 1s steps(5, start) infinite;
            }
    
            /* end wizard styles */
    
            wi-workflow-machine-learning .wi-droppable {
                border: 4px dashed #ccc;
                border-radius: 4px;
                min-height: 5em;
                position: relative;
                padding: 1em;
                margin-bottom: 20px;
            }
    
            wi-workflow-machine-learning .wi-droppable::after {
                content: "DROP DATASETS HERE";
                color: #ccc;
                font-size: 3em;
                width: 100%;
                display: inline-block;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            wi-workflow-machine-learning .hidden-nn {
                font-size: 5em;
                color: #ccc;
                text-align: center;
                border-style: dashed;
                padding-top: 100px;
            }
            wi-workflow-machine-learning ul.table-row {
                list-style: none;
                padding-left: 0;
                white-space: nowrap;
                display: table-row;
            }
    
            wi-workflow-machine-learning ul.table-head {
                font-weight: 700;
                background-color: #ddd;
            }
    
            wi-workflow-machine-learning ul.table-row.table-head li {
                border-left-color: white;
            }
    
            wi-workflow-machine-learning ul.table-row>li {
                padding: 0 0.5em;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                border: 1px solid #ddd;
                border-right-color: transparent;
                vertical-align: middle;
                height: 28px;
                line-height: 28px;
                width: 120px;
            }
    
            wi-workflow-machine-learning .control-button {
                float: left;
                cursor: pointer;
                line-height: 1.5em;
            }
    
            wi-workflow-machine-learning .right {
                float: right;
                cursor: pointer;
                line-height: 1.5em;
            }
    
            wi-workflow-machine-learning .block-button {
                padding-left: 6px;
                padding-right: 6px;
                background: white;
                border-radius: 50%;
                border: 1px solid #888;
            }
            .wizard-control {
                position:absolute;
                top: 5px;
                left: 5px;
                right: 5px;
            }
        </style>
        <wizard indicators-position="top" on-finish="wiWorkflowMachineLearning.finishWizard()">
            <wz-step wz-title="Selection curve">
                <div style='display:flex; flex-direction:column;flex:1;'>
                    <div style='padding:10px;display:flex;flex-direction:row;flex:1;'>
                        <div style='flex:1;display:flex;flex-direction:column;margin-bottom:0;' class='bordered panel panel-default'>
                            <div class='panel-heading' style='padding:5px;'>
                                <h5 style="margin-right:10px;display:inline;line-height:2;">Data type</h5>
                                <label class="btn btn-default" style='float:right; margin-right: 5px;' ng-click="wiWorkflowMachineLearning.onSelectionTypeChanged(wiWorkflowMachineLearning.FAMILY_GROUP_SELECTION)"
                                    ng-class='{active: wiWorkflowMachineLearning.selectionType==wiWorkflowMachineLearning.FAMILY_GROUP_SELECTION}'
                                    title="Main Family">
                                    <span class='zone-table-16x16'></span>
                                </label>
                                <label class="btn btn-default" style='float:right; margin-right: 5px;' ng-click="wiWorkflowMachineLearning.onSelectionTypeChanged(wiWorkflowMachineLearning.FAMILY_SELECTION)"
                                    ng-class='{active: wiWorkflowMachineLearning.selectionType==wiWorkflowMachineLearning.FAMILY_SELECTION}' title="Family">
                                    <span class='user-define-16x16'></span>
                                </label>
                                <label class="btn btn-default" style='float:right; margin-right: 5px;' ng-click="wiWorkflowMachineLearning.onSelectionTypeChanged(wiWorkflowMachineLearning.CURVE_SELECTION)"
                                    ng-class='{active: wiWorkflowMachineLearning.selectionType==wiWorkflowMachineLearning.CURVE_SELECTION}' title="Curve">
                                    <span class='curve-16x16'></span>
                                </label>
                            </div>
                            <div style='position:relative;'>
                                <i style="position:absolute;line-height:2.5em;left:0.5em;font-size:14px;" class="fa fa-search"></i>
                                <input wi-enter="wiWorkflowMachineLearning.onFilterEnterKey(wiWorkflowMachineLearning.filterText1);" style='text-indent:1.5em;' class='form-control'
                                    type='text' ng-model='wiWorkflowMachineLearning.filterText1'>
                            </div>
                            <wi-scroll id-scroll='"selectionScroll"' style='flex:1;display:flex;flex-direction:column' up-trigger="wiWorkflowMachineLearning.upTrigger"
                                down-trigger="wiWorkflowMachineLearning.downTrigger">
                                <wi-base-treeview id='tplTree' config='wiWorkflowMachineLearning.selectionList' on-click-function="wiWorkflowMachineLearning.onClick" filter="{{wiWorkflowMachineLearning.selectionType == wiWorkflowMachineLearning.FAMILY_SELECTION?wiWorkflowMachineLearning.filterText:wiWorkflowMachineLearning.filterText1}}">
                                </wi-base-treeview>
                            </wi-scroll>
                        </div>
                        <div style="margin-left:5px;flex:2;padding:0 5px;overflow-y:auto;">
            
                        <!-- start edit step 1 -->
            
                            <div style='width:100%;' class='bordered panel panel-default'>
                                <div style='background-color:#eee;' class='panel-heading'>
                                    <span style='font-weight:700;'>Selection curve</span>
                                    <span ng-click="wiWorkflowMachineLearning.addCurveInput()" style="float: right; cursor: pointer; font-size: 14px;"><i class="ti-plus"></i>  Add input curve</span>
                                </div>
                                <div style='border-top: 1px solid #eee;' class='panel-body'>
                                    <ul style='padding-left:0;'>
                                        <li style="display:flex;flex-direction:row; margin-bottom:5px;" 
                                            ng-style="wiWorkflowMachineLearning.outputCurveStyle($index)"
                                            ng-repeat="item in wiWorkflowMachineLearning.workflowConfig.model.inputs track by $index">
                                            <div style='flex-basis:20em;text-align:right;margin-right:5px;'>
                                                <button style='width:100%;vertical-align:baseline;' class="btn btn-default" type="button"
                                                    ng-click="wiWorkflowMachineLearning.onSelectTemplate($index);"
                                                    ng-disabled='wf.disabled'>{{item.class}}
                                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div style="flex:1;position:relative;">
                                                <span ng-class="{'zone-table-16x16': item.type==wiWorkflowMachineLearning.FAMILY_GROUP_SELECTION, 'user-define-16x16': item.type==wiWorkflowMachineLearning.FAMILY_SELECTION, 'curve-16x16': item.type==wiWorkflowMachineLearning.CURVE_SELECTION}"
                                                    style='position:absolute;top:50%;transform:translateY(-50%);left:0.5em;'></span>
                                                <input type="text" style='padding-left:2em;' class='form-control' ng-model='item.label' disabled>
                                            </div>
                                            <span ng-if="$index < (wiWorkflowMachineLearning.workflowConfig.model.inputs.length - 1)" ng-click="wiWorkflowMachineLearning.removeCurveInput($index)" style="padding-top: 10px; padding-left: 10px; cursor: pointer"><i class="ti-close"></i></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        <!-- end edit step 1 -->

                            <!-- <div ng-repeat="wf in wiWorkflowMachineLearning.workflowConfig.steps" style='width:100%;' class='bordered panel panel-default' ng-init='wf.expanded = true;parentIdx = $index;'>
                                <div style='background-color:#eee;' class='panel-heading'>
                                    <span class="control-button" ng-class="{'fa fa-chevron-up': wf.expanded, 'fa fa-chevron-down': !wf.expanded}" ng-click='wf.expanded = !wf.expanded'
                                        style='margin-right:5px;'>
                                    </span>
                                    <span ng-click="wf.disabled = !wf.disabled" class='ti-check control-button block-button' ng-class='{"disabled-color": wf.disabled}'
                                        style='margin-right:10px;color:black;padding-left:3px;padding-right:3px;'>
                                    </span>
                                    <span style='font-weight:700;'>{{wf.name}}</span>
                                </div>
                                <div style='border-top: 1px solid #eee;' class='panel-body' ng-show='wf.expanded'>
                                    <ul style='padding-left:0;'>
                                        <li style="display:flex;flex-direction:row; margin-bottom:5px;" ng-repeat="item in wf.inputs track by $index">
                                            <div style='flex-basis:20em;text-align:right;margin-right:5px;'>
                                                <button style='width:100%;vertical-align:baseline;' class="btn btn-default" type="button" ng-click="wiWorkflowMachineLearning.onSelectTemplate(parentIdx, $index)"
                                                    ng-disabled='wf.disabled'>{{item.name}}
                                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div style="flex:1;position:relative;">
                                                <span ng-class="{'zone-table-16x16': item.type==wiWorkflowMachineLearning.FAMILY_GROUP_SELECTION, 'user-define-16x16': item.type==wiWorkflowMachineLearning.FAMILY_SELECTION, 'curve-16x16': item.type==wiWorkflowMachineLearning.CURVE_SELECTION}"
                                                    style='position:absolute;top:50%;transform:translateY(-50%);left:0.5em;'></span>
                                                <input type="text" style='padding-left:2em;' class='form-control' ng-model='item.label' disabled>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                            <!-- <div style="padding-bottom: 5px; text-align: right">
                                <button ng-click="wiWorkflowMachineLearning.addCurveInput()" class="btn btn-default">
                                    <span>Add input curve</span>
                                    <i class="curve-new-16x16"></i>
                                </button>
                                <button ng-click="wiWorkflowMachineLearning.removeCurveInput()" class="btn btn-default">
                                    <span>Remove input curve</span>
                                    <i class="curve-remove-16x16"></i>
                                </button>
                            </div> -->
                        </div>
                    </div>
                    <div class="wizard-control">
                        <button ng-disabled="!wiWorkflowMachineLearning.validate();" ng-click="wiWorkflowMachineLearning.updateNNConfig();" wz-next class='btn btn-default' style='float: right;'>
                            <span>Next</span>
                            <i class='arrow-right-16x16' style='vertical-align:text-bottom;'></i>
                        </button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Model Params">
                <div style="display:flex;flex:1;overflow:hidden;flex-direction:column;">
                    <div style="padding: 10px;display:flex;flex:1;flex-direction:row;">
                        <div style="display:flex;flex-direction:column;flex:0.3;padding:10px;overflow:auto;">
                            <form class="form-horizontal">
                                <div class="bordered" style="padding:10px; margin-bottom: 10px" ng-show="!wiWorkflowMachineLearning.workflowConfig.steps[0].disabled">
                                    <h4 style="text-align: center">Edit infomation model</h4>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Type</label>
                                        <div class="col-sm-9">
                                            <wi-item-dropdown on-wi-dropdown-init="wiWorkflowMachineLearning.onModelTypeListInit" style='width:100%;'
                                                on-item-changed="wiWorkflowMachineLearning.onModelTypeChanged"></wi-item-dropdown>
                                        </div>
                                    </div>
                                    <div class='form-group' ng-repeat='param in wiWorkflowMachineLearning.currentModelType.parameters'>
                                        <label ng-if='param.type != "nnconfig"' class="control-label col-sm-3">{{param.name}}</label>
                                        <div ng-if="param.type == 'number'" class='col-sm-9'>
                                            <input style="width: 100%;" class="form-control wi-form-control"
                                                type="number" ng-model="param.value" step='{{param.step}}' min="{{param.min}}" max="{{param.max}}">
                                        </div>
                                        <div ng-if="param.type=='select'" class='col-sm-9'>
                                            <ui-select ng-model="param.value">
                                                <ui-select-match>
                                                    {{param.value.name}}
                                                </ui-select-match>
                                                <ui-select-choices style="width: 100%;" repeat='choice in param.choices'>
                                                    {{choice.name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div ng-if="param.type=='nnconfig'" class='col-sm-12' >
                                            <div class="well container-fluid">
                                                <h4>{{param.name}}</h4>
                                                <label class="control-label col-sm-3">Layers</label>
                                                <div class="col-sm-9">
                                                    <input ng-model='param.value.nLayer' type="number"
                                                        ng-change="wiWorkflowMachineLearning.nnConfigNLayerChanged(param.value);wiWorkflowMachineLearning.updateNNConfig();" 
                                                        class="form-control wi-form-control" min="1">
                                                </div>
                                                <div ng-repeat="layer in param.value.layerConfig">
                                                    <label class="control-label col-sm-3">{{layer.name}}</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control wi-form-control" ng-model="layer.value" type="number"
                                                            ng-change="wiWorkflowMachineLearning.updateNNConfig();" min="1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="bordered" style="display:flex;flex:0.7;flex-direction:column;padding:10px;overflow:auto;"  ng-if="wiWorkflowMachineLearning.currentModelType.name === 'MultiPerceptron' || wiWorkflowMachineLearning.currentModelType.name === 'ConjugateGradient'" style="display:flex;flex:9;flex-direction:column;padding:10px;overflow:auto;">
                            <wi-neural-network style='flex:1;' 
                                container='wiWorkflowMachineLearning'
                                input-curves="wiWorkflowMachineLearning.nnConfig.inputs" 
                                output-curves="wiWorkflowMachineLearning.nnConfig.outputs" 
                                hidden-layer="wiWorkflowMachineLearning.nnConfig.layers"></wi-neural-network>
                        </div>
                        <div class="hidden-nn" style="display:flex;flex:0.7;flex-direction:column;padding:10px;overflow:auto;padding-top: 100px;"  ng-if="wiWorkflowMachineLearning.currentModelType.name !== 'MultiPerceptron' && wiWorkflowMachineLearning.currentModelType.name !== 'ConjugateGradient'">
                            Neural Network is disabled
                        </div>
                    </div>
                    <div class="wizard-control">
                        <button wz-previous class='btn btn-default' style='float: left;'>
                            <i class='arrow-left-16x16' style='vertical-align:text-bottom;'></i>
                            <span>Back</span>
                        </button>
                        <button wz-next class='btn btn-default' style='float: right;' ng-click="wiWorkflowMachineLearning.refreshInputData();">
                            <span>Next</span>
                            <i class='arrow-right-16x16' style='vertical-align:text-bottom;'></i>
                        </button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title='Data Inputs'>
                <div style='display:flex; flex-direction:column;flex:1;'>
                    <div style="display:flex;flex:1;flex-direction:row;padding:10px;">
                        <div class="bordered panel panel-default inventory-side">
                            <div style='display:flex;' class='panel-heading'>
                                <h5 style='margin-right:10px;'>Project</h5>
                                <wi-item-dropdown ng-show='!wiWorkflowMachineLearning.isFrozen' style='flex:1;margin:5px 0;' class='height24px' icon="'project-open-16x16'"
                                    on-wi-dropdown-init='wiWorkflowMachineLearning.getProjectList' on-item-changed="wiWorkflowMachineLearning.projectChanged">
                                </wi-item-dropdown>
                                <input style='flex:1;margin:5px 0; height:24px;font-size:14px;' class='form-control' ng-show='wiWorkflowMachineLearning.isFrozen'
                                    ng-model='wiWorkflowMachineLearning.projectName' ng-disabled='true'>
                                <button style='margin:5px 0 5px 5px;padding:0 10px;' class='btn btn-default' title="Reload project" ng-click="wiWorkflowMachineLearning.refreshProject()">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                            <div style='position:relative;'>
                                <i style="position:absolute;line-height:2.5em;left:0.5em;font-size:14px;" class="fa fa-search"></i>
                                <input type='text' style='text-indent:1.5em;' ng-model='wiWorkflowMachineLearning.prjFilter' size='10' class="form-control">
                            </div>
                            <wi-scroll id-scroll="'projectTreeScroll'" style='flex:1;display:flex;flex-direction:column;' up-trigger='wiWorkflowMachineLearning.upTriggerPrj'
                                down-trigger='wiWorkflowMachineLearning.downTriggerPrj'>
                                <wi-base-treeview id='__projectWellTree' name="projectTreeview" config="wiWorkflowMachineLearning.projectConfig" container="wiWorkflowPlayer"
                                    on-click-function="wiWorkflowMachineLearning.prjClickFunction" filter="{{wiWorkflowMachineLearning.prjFilter}}"
                                    show-id="true">
                                </wi-base-treeview>
                            </wi-scroll>
                        </div>
                        <div style="flex:3.5;display:flex;flex-direction:column; margin-left:5px;padding:0 5px;overflow:hidden;">
                            <div style="flex:1;padding:10px 0;overflow:auto;width:100%;">
                                <div ng-repeat='wf in wiWorkflowMachineLearning.workflowConfig.steps' class='bordered panel panel-default' style='display:table;min-width:100%;'
                                    wi-element-ready="wiWorkflowMachineLearning.droppableSetting(wf);" id="{{wf.name}}" ng-init="wf.expanded=true">
                                    <div class='panel-heading' style='background-color:#eee;'>
                                        <span class='control-button' ng-class="{'fa fa-chevron-up':  wf.expanded, 'fa fa-chevron-down': !wf.expanded}" ng-click='wf.expanded = !wf.expanded'
                                            style='margin-right:5px;'>
                                        </span>
                                        <span style='margin-right:10px;padding-right:2px;' ng-click="wf.function();" class='fa fa-play control-button block-button'
                                            title="test run"></span>
                                        <span style='font-weight:700;'>{{wf.name}}</span>
                                    </div>
                                    <div ng-show="wf.expanded" class='panel-body' style="border-top: 1px solid #eee;overflow:visible;">
                                        <ul ng-if='wf.inputData.length' class='table-row table-head'>
                                            <li style="width: 61px;">Remove</li>
                                            <li>Well</li>
                                            <li>Dataset</li>
                                            <li ng-repeat='inputItem in wf.inputs'>{{inputItem.type}}</li>
                                        </ul>
                                        <ul class='table-row' ng-repeat="item in wf.inputData track by $index">
                                            <li style="width: 61px; text-align: center;cursor: pointer;" ng-click="wiWorkflowMachineLearning.removeWell(wf, $index);">X</li>
                                            <li title='{{item.well.name}}'>{{item.well.name}}</li>
                                            <li title='{{item.dataset.name}}'>{{item.dataset.name}}</li>
                                            <li style='height:auto;overflow:visible;padding:0;' ng-repeat="input in item.inputs">
                                                <ui-select ng-model="input.value">
                                                    <ui-select-match>
                                                        {{$select.selected.name}}
                                                    </ui-select-match>
                                                    <ui-select-choices style="width: 100%" repeat="curve in input.choices">
                                                        {{curve.name}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-control">
                        <button wz-previous ng-click="wiWorkflowMachineLearning.getListModel();" class=' btn btn-default' style='float: left;'>
                            <i class='arrow-left-16x16' style='vertical-align:text-bottom;'></i>
                            <span>Back</span>
                        </button>
                    </div>
                </div>
            </wz-step>
        </wizard>
    </div>