<!--<h4 style="text-align: center;padding-top:1em;">Zip Archives</h4>-->
<style>
    wi-tab.well-log>div, wi-tab.well-header>div, wi-tab.well-top>div {
        height: calc(100% - 76px);
        background: white;
        overflow-x:hidden;
        overflow-y:auto;
        padding:1em 2em;
    }
    wi-tab.well-log>div {
        color: maroon;
    }
    wi-tab.well-header>div {
        color: rgba(0,128,0,1);
    }
    wi-tab.well-top>div {
        color: rgba(0,0,128,1);
    }
    wi-tab.well-log>div>ul>li {
        border-color: maroon;
    }
    wi-tab.well-header>div>ul>li {
        color: rgba(0,128,0,1);
    }
    wi-tab.well-top>div>ul>li {
        color: rgba(0,0,128,1);
    }
</style>
<wi-tabset>
    <wi-tab class='well-log' heading='WellLog (zip)' on-show="updateWorkflowList">
        <ul style="padding:1em 0;">
            <li style='display:flex;padding:1em 1em 0.2em;border-bottom: 1px solid black;font-weight:700;'>
                <div style='flex-basis:100px;'>Status</div>
                <div style='flex:1'>Archive name</div>
                <div style='flex:1'>Upload time</div>
                <div style='flex-basis:120px;text-align:right;'>Actions</div>
            </li>
            <li style='display:flex;padding:1em 1em 0.5em;border-bottom: 1px solid #888;font-style:italic;font-weight:200;' ng-repeat='zipArchive in zipArchives'>
                <div style='flex-basis:100px;'>
                    <i class='fa fa-circle' 
                    ng-class="{'color-running': zipArchive.status == 'running','color-processed':zipArchive.status == 'processed', 'color-error':zipArchive.status == 'error', 'color-new':zipArchive.status == 'new'}"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{zipArchive.status}}
                </div>
                <div style='flex:1'>{{zipArchive.workflowName}}</div>
                <div style='flex:1;'>{{zipArchive.workflowConfig.ts | datetimeFormat}}</div>
                <div style='flex-basis:120px;text-align:right;'>
                    <a style="font-size: 12px;padding: 4px 9px;vertical-align: text-bottom;" 
                        href='{{wiBatchUrl}}/log/{{username}}/{{zipArchive.workflowName}}/error.txt' 
                        class='btn btn-default' ng-show="zipArchive.status == 'processed'" target='_blank'>
                        <i class="fa fa-file-o"></i>
                    </a>
                    <!--<button ng-click='nextStage(zipArchive)'><span class='run-16x16'></span></button>-->
                    <button ng-click='runImport(zipArchive)'><span class='run-16x16'></span></button>
                    <button ng-disabled="zipArchive.status=='running'"  ng-click='deleteZipArchive(zipArchive.workflowName)'><span class='close-16x16-edit'></span></button>
                </div>
            </li>
        </ul>
    </wi-tab>
    <wi-tab class='well-header' heading='WellHeader (csv)' on-show="updateWellHeaderCSVList">
        <ul style="padding:1em 0;">
            <li style='display:flex;padding:1em 1em 0.2em;border-bottom: 1px solid black;font-weight:700;'>
                <div style='flex:1'>WellHeader CSV</div>
                <div style='flex:1'>Upload time</div>
                <div style='flex-basis:120px;text-align:right;'>Actions</div>
            </li>
            <li style='display:flex;padding:1em 1em 0.5em;border-bottom: 1px solid #888;font-style:italic;font-weight:200;' ng-repeat='whCSV in wellHeaderCSVs'>
                <div style='flex:1'>{{whCSV.fileName}}</div>
                <div style='flex:1;'>{{whCSV.uploadedTime | datetimeFormat}}</div>
                <div style='flex-basis:120px;text-align:right;'>
                    <a style="font-size: 12px;padding: 4px 9px;vertical-align: text-bottom;" 
                        href='' class='btn btn-default' target='_blank'>
                        <i class="fa fa-file-o"></i>
                    </a>
                    <button ng-click=''><span class='run-16x16'></span></button>
                    <button ng-click='deleteWellHeaderCSV(whCSV.idUserFileUploaded)'><span class='close-16x16-edit'></span></button>
                </div>
            </li>
        </ul>
    </wi-tab>
    <wi-tab class='well-top' heading='WellTop (csv)' on-show='updateWellTopCSVList'>
        <ul style="padding:1em 0;">
            <li style='display:flex;padding:1em 1em 0.2em;border-bottom: 1px solid black;font-weight:700;'>
                <div style='flex:1'>WellTop CSV</div>
                <div style='flex:1'>Upload time</div>
                <div style='flex-basis:120px;text-align:right;'>Actions</div>
            </li>
            <li style='display:flex;padding:1em 1em 0.5em;border-bottom: 1px solid #888;font-style:italic;font-weight:200;' ng-repeat='wtCSV in wellTopCSVs'>
                <div style='flex:1'>{{wtCSV.fileName}}</div>
                <div style='flex:1;'>{{wtCSV.uploadedTime | datetimeFormat}}</div>
                <div style='flex-basis:120px;text-align:right;'>
                    <a style="font-size: 12px;padding: 4px 9px;vertical-align: text-bottom;" 
                        href='' class='btn btn-default' target='_blank'>
                        <i class="fa fa-file-o"></i>
                    </a>
                    <button ng-click=''><span class='run-16x16'></span></button>
                    <button ng-click='deleteWellTopCSV(wtCSV.idUserFileUploaded)'><span class='close-16x16-edit'></span></button>
                </div>
            </li>
        </ul>
    </wi-tab>
</wi-tabset>
