wi-slidingbar {
  position: relative;
  display: block;
  //background-color: #2b542c;
  background-color: #fff;
  margin: 4px;
  padding: 4px;
  overflow: hidden;
  width: 100%;
  flex: 1;
  .ui-widget-content {
    width: 100%;
    background-color: transparent;
  }

  .sliding-bar-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .sliding-handle {
    border: 0;
  }

  .sliding-handle-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //border: 1px solid white;
    background-color: rgba(255, 128, 128, 0.5);
  }
}
