<html>
<head>
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/css/jquery-ui.css" rel="stylesheet">
    <link href="vendor/css/font-awesome.min.css" rel="stylesheet">
    <link href='css/main.css' rel='stylesheet'>
    <link href='css/wi-button.css' rel='stylesheet'>
    <link href='css/wi-slidingbar.css' rel='stylesheet'>

    <script src="vendor/js/jquery.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <script src="vendor/js/angular.min.js"></script>

    <script src="vendor/js/jquery-ui.js"></script>

    <script src='js/main-slidingbar.js.bundle.js'></script>
    
    <title>Test</title>
</head>

<body ng-app='helloapp'>
<div ng-controller="WiDummy">
    <div class="container" style="height: 500px; background-color: #5e5e5e">
        <wi-slidingbar>
            <div>
                <p>Some thing like plot</p>
                <p>Some thing like plot</p>
                <p>Some thing like plot</p>
                <p>Some thing like plot</p>
            </div>
        </wi-slidingbar>
    </div>

    <h1>{{wiSlidingbar.top}} -- {{wiSlidingbar.range}}</h1>
</div>
</body>
</html>
