wi-slidingbar {
  position: relative;
  display: block;
  background-color: #2b542c;
  overflow: hidden;

  .ui-widget-content {
    width: 100%;
    background-color: transparent;
  }

  #sliding-bar-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  #sliding-handle {
    border: 0;
  }

  .sliding-handler-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid white;
  }
}