<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="curve-properties-16x16"></span>&nbsp;Curve Properties</h4>
            </div>
            <div class="modal-body" style="padding-bottom:0;">
                <div class="">
                    <form class="form-horizontal form-condensed dialog-style" action="" name="modalAddNew">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 normal-text padding-top-0" for="wellName"><span class="well-16x16"></span>Well</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control wi-form-control" value="" id="wellName" name="wellName" ng-model="wiModal.well.data.label" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="normal-text">Header</h5>
                                <div class="form-group">
                                    <label class="control-label col-sm-3 padding-left-2em" for="curveName"><span class=""></span>Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control wi-form-control"
                                                value="" id="curveName" name="curveName" ng-model="wiModal.lineObjTemplate.name" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3 padding-left-2em" for="alias"><span class=""></span>Alias</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control wi-form-control"
                                                value="" id="alias" name="alias"
                                                ng-model="wiModal.curveOptions.alias">
                                    </div>
                                </div>
                                <div class="checkShow">
                                    <div class="col-sm-6 padding-left-0">
                                        <label>
                                            <input type="checkbox"
                                                   ng-model="wiModal.curveOptions.showHeader" checked>Show header
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>
                                            <input type="checkbox"
                                                   ng-model="wiModal.curveOptions.showDataset" 
                                                   ng-change="wiModal.onToggleShowDataset()">Show Dataset
                                        </label>
                                    </div>
                                </div>
                                <br><br>
                                <h5 class="normal-text">Scales</h5>
                                <div class="form-group">
                                    <label class="control-label col-sm-5 padding-left-2em" for="minValue">Left value</label>
                                    <div class="col-sm-7">
                                        <input type="number" class="form-control wi-form-control"
                                                value="" id="minValue" name="minValue"
                                                ng-model="wiModal.curveOptions.minValue">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5 padding-left-2em" for="maxValue">Right value</label>
                                    <div class="col-sm-7">
                                        <input type="number" class="form-control wi-form-control"
                                                value="" id="maxValue" name="maxValue"
                                                ng-model="wiModal.curveOptions.maxValue">
                                    </div>
                                </div>
                                <label>
                                    <input type="checkbox"
                                           ng-model="wiModal.curveOptions.autoValueScale">
                                           Auto value scales
                                </label>
                                <div class="form-group">
                                    <label class="col-sm-5 padding-left-2em">Min Depth: </label>
                                    <div class="col-sm-7">
                                        {{wiModal.lineObjTemplate.minDepth}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 padding-left-2em">Max Depth: </label>
                                    <div class="col-sm-7">
                                        {{wiModal.lineObjTemplate.maxDepth}}
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="col-sm-6">
                                <h5 class="normal-text">Sample</h5>
                                <canvas id="sample" width="200" height="200" style="border:1px solid blue"
                                        ng-click="wiModal.canvasClicked();">
                                </canvas>
                            </div>
                            <div class="col-sm-12">
                                <br>
                                <div class="dislayType">
                                    <h5 class="normal-text">Display Type</h5>
                                    <div class="col-sm-6 padding-left-0 ">
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 padding-left-2em">Display As</label>
                                            <div class="col-sm-7">
                                                <select ng-model="wiModal.curveOptions.displayAs" 
                                                        name="displayAs" value="" 
                                                        class="form-control wi-form-control" 
                                                        ng-options="item for item in wiModal.selectData.displayAs track by item"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 padding-left-2em">Wrap mode</label>
                                            <div class="col-sm-7">
                                                <select ng-model="wiModal.curveOptions.wrapMode"
                                                        name="wrapMode" id="wrapMode" value=""
                                                        class="form-control wi-form-control"
                                                        ng-options="item for item in wiModal.selectData.wrapMode track by item" disabled></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 padding-left-2em">Display mode</label>
                                            <div class="col-sm-7">
                                                <select ng-model="wiModal.curveOptions.displayMode"
                                                        name="displayMode" id="displayMode" value=""
                                                        class="form-control wi-form-control"
                                                        ng-options="item for item in wiModal.selectData.displayMode track by item"
                                                        ng-change="wiModal.changeOther();"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5"></label>                                        
                                            <div class="col-sm-7 text-right">
                                                <button type="button" ng-click="wiModal.onEditAttributeButtonClicked()"
                                                        ng-disabled="wiModal.curveOptions.displayMode=='None'"
                                                        id="editAttribute" class="btn btn-default" style="font-size: 11px">Edit</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-5">Log/Linear</label>
                                            <div class="col-sm-7">
                                                <select ng-model="wiModal.curveOptions.displayType"
                                                        name="logLinear" value="" class="form-control wi-form-control"
                                                        ng-options="item for item in wiModal.selectData.logLinear track by item">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5" style="letter-spacing: -0.4px">Block Position</label>
                                            <div class="col-sm-7">
                                                <select ng-model="wiModal.curveOptions.blockPosition"
                                                        name="blockPosition" value="" id="blockPosition"
                                                        class="form-control wi-form-control"
                                                        ng-options="item for item in wiModal.selectData.blockPosition track by item" disabled>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group">
                                            <label class="control-label col-sm-5">Symbol Type</label>
                                            <div class="col-sm-7">
                                                <select ng-model="wiModal.symbolOptions.symbolStyle.symbolName"
                                                        name="symbolType" id="symbolType" value=""
                                                        class="form-control wi-form-control"
                                                        ng-options="item for item in wiModal.selectData.symbolType track by item" disabled>
                                                </select>
                                            </div>
                                        </div> -->
                                        <!-- <input type="checkbox" ng-model="wiModal.curveOptions.ignoreMissingValue" id="ignore" disabled>Ignore Missing Values
                                        <br> -->
                                        <!-- <div class="form-group">
                                            <label class="control-label col-sm-5">Symbol Size</label>
                                            <div class="col-sm-5">
                                                <input type="number" name="symbolSize" id="symbolSize"
                                                       min="1" max="50"
                                                       class="form-control wi-form-control"
                                                       ng-model="wiModal.symbolOptions.symbolStyle.symbolSize"
                                                       ng-change="wiModal.changeOther();" disabled 
                                                       >
                                            </div>
                                        </div> -->
                                        <!-- <div class="form-group">
                                            <div class="col-sm-5"></div>
                                            <div class="col-sm-5">
                                                <button type="button" ng-click="wiModal.onEditSymbolStyleButtonClicked();"
                                                        id="editSymbolStyle"
                                                        class="btn btn-default" disabled>&nbsp;Edit</button>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- <div>
                                <h5 class="normal-text">Display type</h5>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-5">Line Stype</div>
                                        <div class="col-sm-5">
                                            <button type="button" id="editLineStyle"
                                                    ng-click="wiModal.onEditLineStyleButtonClicked();"
                                                    class="btn btn-default" disabled>&nbsp;Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onApplyButtonClicked();" class="btn btn-default"><span class="apply-16x16"></span>&nbsp;Apply</button>
                <button type="button" ng-click="wiModal.onOkButtonClicked();" class="btn btn-default"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
