<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="curve-properties-16x16"></span>&nbsp;Curve Properties</h4>
            </div>
            <div class="modal-body" style="padding-bottom:0;">
                <div class="">
                    <form class="form-horizontal form-condensed" action="" name="modalAddNew">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="wellName"><span class=""></span>Well</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control wi-form-control" value="" id="wellName" name="wellName" ng-model="name" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h5>Header</h5>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="curveName"><span class=""></span>Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control wi-form-control"
                                               value="" id="curveName" name="curveName" ng-model="wiModal.lineObjTemplate.name" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="alias"><span class=""></span>Alias</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control wi-form-control"
                                               value="" id="alias" name="alias"
                                               ng-model="wiModal.curveOptions.alias">
                                    </div>
                                </div>
                                <div class="checkShow">
                                    <input type="checkbox" ng-model="wiModal.curveOptions.showHeader" checked>Show header &nbsp;
                                    <input type="checkbox" ng-model="wiModal.curveOptions.showDataset">Show Dataset
                                </div>
                                <div class="scales">
                                    <h5>Scales</h5>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5" for="minValue">Min value</label>
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control wi-form-control"
                                                   value="" id="minValue" name="minValue"
                                                   ng-model="wiModal.curveOptions.minValue">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5" for="maxValue">Max value</label>
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control wi-form-control"
                                                   value="" id="maxValue" name="maxValue"
                                                   ng-model="wiModal.curveOptions.maxValue">
                                        </div>
                                    </div>
                                    <input type="checkbox" ng-model="wiModal.curveOptions.autoValueScale">&nbsp;Auto value scales
                                    <div class="form-group">
                                        <label class="control-label col-sm-5">Min Depth: </label>
                                        <div class="col-sm-7">
                                            {{wiModal.lineObjTemplate.minDepth}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5">Max Depth: </label>
                                        <div class="col-sm-7">
                                            {{wiModal.lineObjTemplate.maxDepth}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <h5>Sample</h5>
                                <canvas id="sample" width="200" height="200" style="border:1px solid blue"
                                        ng-click="wiModal.canvasClicked();">

                                </canvas>
                            </div>
                            <div class="interpolation">
                                <h5>Interpolation</h5>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 normal-text">Display mode</label>
                                        <div class="col-sm-7">
                                            <select ng-model="wiModal.defaultElement.displayMode"
                                                    name="displayMode" id="displayMode" value=""
                                                    class="form-control wi-form-control"
                                                    ng-options="item for item in wiModal.selectData.displayMode track by item"
                                                    ng-change="wiModal.changeOther();"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 normal-text">Wrap mode</label>
                                        <div class="col-sm-7">
                                            <select ng-model="wiModal.curveOptions.wrapMode"
                                                    name="wrapMode" id="wrapMode" value=""
                                                    class="form-control wi-form-control"
                                                    ng-options="item for item in wiModal.selectData.wrapMode track by item"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 normal-text">Symbol Type</label>
                                        <div class="col-sm-7">
                                            <select ng-model="wiModal.symbolOptions.symbolStyle.symbolName"
                                                    name="symbolType" id="symbolType" value=""
                                                    class="form-control wi-form-control"
                                                    ng-options="item for item in wiModal.selectData.symbolType track by item" disabled="true">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 normal-text">Block Position</label>
                                        <div class="col-sm-7">
                                            <select ng-model="wiModal.curveOptions.blockPosition"
                                                    name="blockPosition" value="" id="blockPosition"
                                                    class="form-control wi-form-control"
                                                    ng-options="item for item in wiModal.selectData.blockPosition track by item">
                                            </select>
                                        </div>
                                    </div>
                                    <input type="checkbox" ng-model="wiModal.curveOptions.ignoreMissingValue" id="ignore">Ignore Missing Values
                                    <br>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 normal-text">Symbol Size</label>
                                        <div class="col-sm-5">
                                            <input type="number" name="symbolSize" id="symbolSize"
                                                   min="1" max="50"
                                                   class="form-control wi-form-control"
                                                   ng-model="wiModal.symbolOptions.symbolStyle.symbolSize"
                                                   ng-change="wiModal.changeOther();"
                                                   disabled="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5"></div>
                                        <div class="col-sm-5">
                                            <button type="button" ng-click="wiModal.onEditSymbolStyleButtonClicked();"
                                                    id="editSymbolStyle"
                                                    class="btn btn-default" disabled="true">&nbsp;Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dislayType">
                                <h5>Display type</h5>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 normal-text">Log/Linear</label>
                                        <div class="col-sm-7">
                                            <select ng-model="wiModal.curveOptions.displayType"
                                                    name="logLinear" value="" class="form-control wi-form-control"
                                                    ng-options="item for item in wiModal.selectData.logLinear track by item">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5">Line Stype</div>
                                        <div class="col-sm-5">
                                            <button type="button" id="editLineStyle"
                                                    ng-click="wiModal.onEditLineStyleButtonClicked();"
                                                    class="btn btn-default">&nbsp;Edit</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 normal-text">Display As</label>
                                        <div class="col-sm-7">
                                            <select ng-model="wiModal.curveOptions.displayAs" 
                                                    name="displayAs" value="" 
                                                    class="form-control wi-form-control" 
                                                    ng-options="item for item in wiModal.selectData.displayAs track by item"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onApplyButtonClicked();" class="btn btn-default"><span class="apply-16x16"></span>&nbsp;Apply</button>
                <button type="button" ng-click="wiModal.onOkButtonClicked();" class="btn btn-default" data-dismiss="modal"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default" data-dismiss="modal"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
