<div class='modal fade' data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">&times;</button>
                <h4>Well header import</h4>
            </div>
            <div style='display:flex;flex-direction:column;' class="modal-body">
                <ul style='height:70%;overflow-y:auto;'>
                    <li ng-repeat='well in wiModal.successWells'>{{well}}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class='btn btn-default' ng-click='wiModal.onOkButtonClicked()'><span class="ok-16x16"></span>&nbsp;Close</button>
            </div>
        </div>
    </div>
</div>
