<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="curve-new-32x32"></span>&nbsp;Add New Curve</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <h5 class="modal-infomation-title">&nbsp;Curve Infomation</h5>
                    <form class="form-horizontal" action="" name="modalAddCurve">
                        <div class="form-group">
                            <label class="col-sm-6">Well:</label>
                            <div class="col-sm-6">
                                <select class="form-control wi-form-control" ng-model="wiModal.SelectedWell"
                                ng-options="well as well.properties.name for well in wiModal.wellArr"
                                ng-change='wiModal.onWellChanged()'></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6">Datasets:</label>
                            <div class="col-sm-6">
                                <select class="form-control wi-form-control"
                                  ng-model="wiModal.datasetName"
                                  ng-options="dataset.id as dataset.properties.name for dataset in wiModal.datasets">
                                  </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6">Family:</label>
                            <div class="col-sm-6">
                                <select class="form-control wi-form-control" ng-model="wiModal.selectedFamily"
                                 ng-options="family as family.name for family in wiModal.families" ng-change='wiModal.onFamilyChanged()'></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6">Curve name:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control wi-form-control" ng-model="wiModal.curveName" ng-change="wiModal.clickBut()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6">Unit:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control wi-form-control" ng-model="wiModal.unit" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6">Initial Value: </label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control wi-form-control"  ng-model="wiModal.initValue">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onRunButtonClicked();" ng-disabled="!wiModal.curveName || wiModal.applyingInProgress" class="btn btn-default"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
