<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="curve-new-32x32"></span>&nbsp;Add New Curve</h4>
            </div>
            <div class="modal-body">
                <style>
                    .ui-select-choices {
                        position: fixed;
                        top: auto;
                        left: auto;
                        width: auto !important;
                        min-width: calc( 50% - 50px);
                    }
                </style>
                <div class="container-fluid">
                    <h5 class="modal-infomation-title">&nbsp;Curve Infomation</h5>
                    <form class="form-horizontal" action="" name="modalAddCurve">
                        <div class="form-group">
                            <label class="col-sm-6">Well:</label>
                            <div class="col-sm-6">
                                <select class="form-control wi-form-control" ng-model="wiModal.SelectedWell"
                                ng-options="well as well.properties.name for well in wiModal.wellArr"
                                ng-change='wiModal.onWellChanged()'></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6">Datasets:</label>
                            <div class="col-sm-6">
                                <select class="form-control wi-form-control"
                                  ng-model="wiModal.datasetName"
                                  ng-options="dataset.id as dataset.properties.name for dataset in wiModal.datasets">
                                  </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6">Main Family:</label>
                            <div class="col-sm-6">
                                <ui-select ng-model="wiModal.mainFamily" ng-init="wiModal.mainFamily = wiModal.mainFamilies[0]"
                                ng-change='wiModal.onMainFamilyChange()'>
                                    <ui-select-match placeholder='Select a main family'>{{$select.selected}}</ui-select-match>
                                    <ui-select-choices
                                    repeat='item in wiModal.mainFamilies | filter:$select.search'>
                                        <div class="padding-left-20px">{{item}}</div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6">Family:</label>
                            <div class="col-sm-6">
                                <ui-select ng-model="wiModal.selectedFamily"
                                    ng-change='wiModal.onFamilyChanged()'>
                                    <ui-select-match placeholder='Select a family'>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices
                                    repeat='family in wiModal.families | filter:{name:$select.search} | filter: wiModal.mainFamilyFilter track by $index'>
                                        <div class="padding-left-20px">{{family.name}}</div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6">Curve name:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control wi-form-control" ng-model="wiModal.curveName" ng-change="wiModal.clickBut()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6">Unit:</label>
                            <div class="col-sm-6">
                                <ui-select search-enabled='false' ng-model='wiModal.unit'>
                                    <ui-select-match placeholder='Select a unit'>{{$select.selected.unit}}</ui-select-match>
                                    <ui-select-choices
                                    repeat='spec.unit as spec in wiModal.selectedFamily.family_spec track by $index'>
                                        <div class="padding-left-20px">{{spec.unit}}</div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6">Initial Value: </label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control wi-form-control"  ng-model="wiModal.initValue">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onRunButtonClicked();" ng-disabled="!wiModal.datasetName || !wiModal.curveName || wiModal.applyingInProgress" class="btn btn-default"><span class="ok-16x16"></span>&nbsp;OK</button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default"><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
