wi-explorer {
  .filter-block {
    display: flex;

    span {
      margin: auto;
    }

    input {
      flex: 1;
    }
  }

  .treeview-header {
    position: relative;

    .header-description {
      position: absolute;
      top:0;
      right: 0;
      bottom: 0;
      width: 100px;
      text-align: right;
      border-left: 1px dotted lightgray;
    }
  }
}