wi-explorer {
  .toolbar-vertical {
    width: 150px;
  }
  .filter-block {
    display: flex;
    margin: 0 auto 0 auto;
    background: #c1c1c1;
    padding: 5px 8px;

    span {
      margin: auto;
      font-weight: bold;
      color: #000;
    }

    input {
      flex: 1;
      margin-left: 5px;
      text-indent: 5px;
    }
  }

  .treeview-header {
    position: relative;

    .header-description {
      position: absolute;
      top:0;
      right: 0;
      bottom: 0;
      width: 100px;
      text-align: right;
      border-left: 1px dotted lightgray;
    }
  }
}