
<wi-toolbar name="Toolbar" label="" icon="">
		<wi-button name="ExplorerButton1Button" label="" icon="help-32x32" handler="handlers.ExplorerButton1ButtonClicked">

		</wi-button>
		<wi-button name="ExplorerButton2Button" label="" icon="info-frp-32x32" handler="handlers.ExplorerButton2ButtonClicked">

		</wi-button>
		<wi-button name="ExplorerButton3Button" label="" icon="" handler="handlers.ExplorerButton3ButtonClicked">

		</wi-button>

</wi-toolbar>


<div class="filter-block">
    <span>Filter: </span>
    <input type="text" placeholder="well or .../dataset or .../curve or ...">
</div>

<div class="label_treeview">
    <span>Name</span><span>Unit</span>
</div>
<wi-treeview config="wiExplorer.treeConfig"></wi-treeview>
