<div class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Combobox Selection</h4>
			</div>
			<div class="modal-body">
				<div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 5%"></th>
								<th style="width: 50%">Name</th>
								<th style="width: 20%; text-align: center;">Color</th>
								<th style="width: 5%"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="tool in wiModal.tools"
								ng-click="wiModal.setClickedRow($index)"
								ng-class="{selected: $index == wiModal.selectedRow, 'display-none': tool.flag === wiModal._DEL}">
								<td style="width: 5%; text-align: center;">
									<i style="transform: translateY(50%); top: -50%"
										ng-class="{'fa fa-chevron-circle-right': $index == wiModal.selectedRow}"></i>
								</td>
								<td style="width: 50%">
									<input type="text" ng-model="tool.name" class="form-control wi-form-control">
								</td>
								<td style="width: 20%; text-align: center;">
									<button ng-click="wiModal.selectColor($index)" ng-style="{'background-color': tool.color}" class="form-control wi-form-control width-80px thick-border"></button>
								</td>
								<td style="width: 3%; text-align: center;">
	                                <button ng-show="$index == wiModal.selectedRow" ng-click="wiModal.onDeleteButtonClicked()" style="transform: translateY(50%); top: -50%; background: transparent; border: 0">
	                                    <i class="fa fa-window-close" aria-hidden="true"></i>
	                                </button>
	                            </td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-xs-3">
							<button class="btn btn-default display-block width-100-percent text-ellipsis" ng-click="wiModal.onAddButtonClicked()" ng-disabled="wiModal.toolCounter >= 10">
								<i class="plus-16x16"></i>
								<span>Add</span>
							</button>
						</div>
						<div class="col-xs-3">
							<button class="btn btn-default display-block width-100-percent text-ellipsis" ng-click="wiModal.onClearAllButtonClicked()" ng-disabled="wiModal.toolCounter <= 0">
								<i class="delete-16x16"></i>
								<span>Clear All</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
                <button type="button" ng-click="wiModal.onOkButtonClicked();" class="btn btn-default">
                    <span class="ok-16x16"></span>&nbsp;Ok
                </button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default">
                    <span class="close-16x16"></span>&nbsp;Cancel
                </button>
            </div>
		</div>
	</div>
</div>