<div class='modal fade' data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog modal-lg'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">&times;</button>
                <h4>Load LAS file</h4>
                <h5>Select File</h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" name="modalImportLAS">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-7">
                                <input type="text" class="form-control" value="{{wiModal.lasFile.name}}" disabled>
                            </div>
                            <div class="col-sm-5">
                                <label for="selected" class="btn btn-default">Select</label>
                                <input id="selected" class="display-none" type="file"
                                       ngf-select
                                       ng-model="wiModal.lasFile"
                                       ngf-max-size="10MB" required/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <h5>Well info</h5>
                        <div class="form-group">
                            <label class="control-label col-sm-4 normal-text" for="wellName">Import As New Well</label>
                            <div class="col-sm-8">
                                <input type="text" id="wellName" class="form-control wi-form-control" name="wellName" 
                                ng-model="wiModal.wellName" ng-change="wiModal.selectedWell=null; wiModal.onWellNameChange()"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4 normal-text" for="selectWell">Select Well Exist</label>
                            <div class="col-sm-8">
                                <select ng-change="wiModal.wellName=null; wiModal.onWellNameChange()" name="selectWell" class="form-control wi-form-control"
                                        ng-options="wellOption.name for wellOption in wiModal.projectLoaded.wells"
                                        ng-model="wiModal.selectedWell">
                                    <option value="">Well Name From LAS File</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4 normal-text" for="topDepth">Top Depth</label>
                            <div class="col-sm-8">
                                <input type="number" id="topDepth" name="topDepth"
                                       value="{{wiModal.selectedWell.topDepth}}" class="form-control wi-form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4 normal-text" for="bottomDepth">Bottom Depth</label>
                            <div class="col-sm-8">
                                <input type="number" id="bottomDepth" name="bottomDepth"
                                       ng-value="wiModal.selectedWell.bottomDepth" class="form-control wi-form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4 normal-text" for="depthUnit">Depth Unit</label>
                            <div class="col-sm-8">
                                <input type="text" id="depthUnit" name="depthUnit"
                                       ng-model="depthUnit" class="form-control wi-form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4 normal-text" for="wellStep">Well step</label>
                            <div class="col-sm-8">
                                <input type="number" id="wellStep" name="wellStep"
                                       value="{{wiModal.selectedWell.step}}" class="form-control wi-form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4 normal-text" for="datasetName">Define new Dataset</label>
                            <div class="col-sm-8">
                                <input type="text" id="datasetName" class="form-control wi-form-control" name="datasetName" 
                                ng-model="wiModal.datasetName" ng-change="wiModal.selectedDataset=null; wiModal.onDatasetNameChange()"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4 normal-text" for="datasetName">Dataset Name</label>
                            <div class="col-sm-8">
                                <select ng-change="wiModal.datasetName=null; wiModal.onDatasetNameChange()" name="datasetName" class="form-control wi-form-control"
                                        ng-options="datasetOption.name for datasetOption in wiModal.selectedWell.datasets"
                                        ng-model="wiModal.selectedDataset">
                                    <option value="">Dataset Name From LAS File</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>
                <p class="dialog-error" ng-if="wiModal.error">Error: {{wiModal.error}}</p>               
            </div>
            <div class="modal-footer">
                <button class='btn btn-default'
                        ng-disabled='!wiModal.lasFile || wiModal.isDisabled || wiModal.error'
                        ng-click='wiModal.onLoadButtonClicked()'><span class="ok-16x16"></span>&nbsp;Load</button>
                <button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()'><span class="close-16x16"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
