wi-dropdown {

  display: inline-block;

  wi-button {
    display: block;
  }

  .dropdown-menu {
    min-width: 0;
  }

  .icon-left {
    display: inline-block;
  }

  .icon-top {
    margin: auto;
    display: block;
  }
}