<div>
    <style>
        wi-step wi-tab>div {
            height: calc(100% - 30px);
        }

        wi-step .bordered {
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
    <!-- <div style='display:flex;'>
        <div class="selection">
            <div ng-init='wiStep.filterBy="group"' class="selection-input">
                <label class="btn btn-default selection-input-item" ng-click="wiStep.onFilterChange()" ng-class='{active: wiStep.filterBy=="group"}'>
                    <input type="radio" name="filterBy" class="display-none" value='group' ng-model="wiStep.filterBy">
                    <span class='zone-table-16x16'></span>
                </label>
                <label class="btn btn-default selection-input-item" ng-click="wiStep.onFilterChange()" ng-class='{active: wiStep.filterBy=="family"}'>
                    <input type="radio" name="filterBy" class="display-none" value='family' ng-model="wiStep.filterBy">
                    <span class='user-define-16x16'></span>
                </label>
                <label class="btn btn-default selection-input-item" ng-click="wiStep.onFilterChange()" ng-class='{active: wiStep.filterBy=="curve"}'>
                    <input type="radio" name="filterBy" class="display-none" value='curve' ng-model="wiStep.filterBy">
                    <span class='curve-16x16'></span>
                </label>
            </div>
            <div class="selection-list">
                <ul class='list-group'>
                    <li ng-repeat="template in wiStep.templates" ng-click='wiStep.selTemplate = template' class='list-group-item' ng-class='{active: template==wiStep.selTemplate}'>
                        <span ng-class="{'zone-table-16x16': wiStep.filterBy=='group', 'user-define-16x16': wiStep.filterBy=='family', 'curve-16x16': wiStep.filterBy=='curve'}"></span>&nbsp; {{template}}
                    </li>
                </ul>
            </div>
        </div>
        <div style="margin-left:1rem;">
            <div class='input'>
                <button class="btn btn-default" type="button" ng-click="wiStep.onSelectTemplate('FR')">
                    Formation Resistivity
                </button>
                <div>
                    <span ng-class="{'zone-table-16x16': wiStep.template.FR.type=='group', 'user-define-16x16': wiStep.template.FR.type=='family', 'curve-16x16': wiStep.template.FR.type=='curve'}"></span>
                    <input type="text" class='form-control' ng-model='wiStep.template.FR.name' disabled>
                </div>
            </div>
            <div class='input'>
                <button class="btn btn-default" type="button" ng-click="wiStep.onSelectTemplate('PR')">
                    Porosity
                </button>
                <div>
                    <span ng-class="{'zone-table-16x16': wiStep.template.PR.type=='group', 'user-define-16x16': wiStep.template.PR.type=='family', 'curve-16x16': wiStep.template.PR.type=='curve'}"></span>
                    <input type="text" class='form-control' ng-model='wiStep.template.PR.name' disabled>
                </div>
            </div>
        </div>
    </div> -->
    <div class="form-group">
        <wi-tabset name='stepInputs'>
            <!-- <wi-tab heading="Configure Input">
                <div style='padding:10px;display:flex;'>
                    <div class="selection">
                            <div ng-init='wiStep.filterBy="group"' class="selection-input">
                                <label class="btn btn-default selection-input-item" ng-click="wiStep.onFilterChange()" ng-class='{active: wiStep.filterBy=="group"}'>
                                    <input type="radio" name="filterBy" class="display-none" value='group' ng-model="wiStep.filterBy">
                                    <span class='zone-table-16x16'></span>
                                </label>
                                <label class="btn btn-default selection-input-item" ng-click="wiStep.onFilterChange()" ng-class='{active: wiStep.filterBy=="family"}'>
                                    <input type="radio" name="filterBy" class="display-none" value='family' ng-model="wiStep.filterBy">
                                    <span class='user-define-16x16'></span>
                                </label>
                                <label class="btn btn-default selection-input-item" ng-click="wiStep.onFilterChange()" ng-class='{active: wiStep.filterBy=="curve"}'>
                                    <input type="radio" name="filterBy" class="display-none" value='curve' ng-model="wiStep.filterBy">
                                    <span class='curve-16x16'></span>
                                </label>
                            </div>
                            <div class="selection-list">
                                <ul class='list-group'>
                                    <li ng-repeat="template in wiStep.templates" ng-click='wiStep.selTemplate = template' class='list-group-item' ng-class='{active: template==wiStep.selTemplate}'>
                                        <span ng-class="{'zone-table-16x16': wiStep.filterBy=='group', 'user-define-16x16': wiStep.filterBy=='family', 'curve-16x16': wiStep.filterBy=='curve'}"></span>&nbsp; {{template}}
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div style="margin-left:1rem;">
                        <div class='input'>
                            <button class="btn btn-default" type="button" ng-click="wiStep.onSelectTemplate('FR')">
                                Formation Resistivity
                            </button>
                            <div>
                                <span ng-class="{'zone-table-16x16': wiStep.template.FR.type=='group', 'user-define-16x16': wiStep.template.FR.type=='family', 'curve-16x16': wiStep.template.FR.type=='curve'}"></span>
                                <input type="text" class='form-control' ng-model='wiStep.template.FR.name' disabled>
                            </div>
                        </div>
                        <div class='input'>
                            <button class="btn btn-default" type="button" ng-click="wiStep.onSelectTemplate('PR')">
                                Porosity
                            </button>
                            <div>
                                <span ng-class="{'zone-table-16x16': wiStep.template.PR.type=='group', 'user-define-16x16': wiStep.template.PR.type=='family', 'curve-16x16': wiStep.template.PR.type=='curve'}"></span>
                                <input type="text" class='form-control' ng-model='wiStep.template.PR.name' disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </wi-tab> -->
            <wi-tab heading="Configure Input">
                <div style='padding:10px;display:flex;flex-direction:row;height:100%;'>
                    <div style='flex:1;display:flex;flex-direction:column;padding: 5px 0 0 5px;' class='bordered'>
                        <div>
                            <label class="btn btn-default" ng-click="wiStep.onSelectionTypeChanged()" ng-class='{active: wiStep.selectionType==wiStep.FAMILY_GROUP_SELECTION}'>
                                <input type="radio" name="filterBy" class="display-none" value='{{wiStep.FAMILY_GROUP_SELECTION}}' ng-model="wiStep.selectionType">
                                <span class='zone-table-16x16'></span>
                            </label>
                            <label class="btn btn-default  " ng-click="wiStep.onSelectionTypeChanged()" ng-class='{active: wiStep.selectionType==wiStep.FAMILY_SELECTION}'>
                                <input type="radio" name="filterBy" class="display-none" value='{{wiStep.FAMILY_SELECTION}}' ng-model="wiStep.selectionType">
                                <span class='user-define-16x16'></span>
                            </label>
                            <label class="btn btn-default  " ng-click="wiStep.onSelectionTypeChanged()" ng-class='{active: wiStep.selectionType==wiStep.CURVE_SELECTION}'>
                                <input type="radio" name="filterBy" class="display-none" value='{{wiStep.CURVE_SELECTION}}' ng-model="wiStep.selectionType">
                                <span class='curve-16x16'></span>
                            </label>
                        </div>
                        <div style='position:relative;margin: 5px 0;'>
                            <i style="position:absolute;line-height:2.5em;left:0.5em;font-size:14px;" class="fa fa-search"></i>
                            <input wi-enter="wiStep.onFilterEnterKey(wiStep.filterText1);" style='text-indent:1.5em;' class='form-control' type='text'
                                ng-model='wiStep.filterText1'>
                        </div>
                        <div style="flex:1;display:flex;overflow-x:hidden;overflow-y:auto;background-color:white;">
                            <wi-scroll id-scroll='"selectionScroll"' style='flex:1;display:flex;flex-direction:column' up-trigger="wiStep.upTrigger"
                                down-trigger="wiStep.downTrigger">
                                <wi-base-treeview config='wiStep.selectionList' on-click-function="wiStep.onClick" filter="{{wiStep.selectionType == wiStep.FAMILY_SELECTION?wiStep.filterText:wiStep.filterText1}}">
                                </wi-base-treeview>
                            </wi-scroll>
                        </div>
                    </div>

                    <div class='bordered' style="margin-left:5px;flex:1;padding:5px;">
                        <ul style='padding-left:0;'>
                            <li style="display:flex;flex-direction:row;" ng-repeat="item in wiStep.inputConfig">
                                <div style='flex-basis:20em;text-align:right;margin-right:5px;'>
                                    <button style='width:100%;vertical-align:baseline;' class="btn btn-default" type="button" ng-click="wiStep.onSelectTemplate(item.name)">{{item.name}}</button>
                                </div>
                                <div style="flex:1">
                                    <span ng-class="{'zone-table-16x16': item.type==wiStep.FAMILY_GROUP_SELECTION, 'user-define-16x16': item.type==wiStep.FAMILY_SELECTION, 'curve-16x16': item.type==wiStep.CURVE_SELECTION}"></span>
                                    <input type="text" class='form-control' ng-model='item.value' disabled>
                                </div>
                            </li>
                        </ul>
                        <!-- <div class='arow'>
                            <button class="btn btn-default" type="button" ng-click="wiStep.onSelectTemplate('FR')">
                                Formation Resistivity
                            </button>
                            <div>
                                <span ng-class="{'zone-table-16x16': wiStep.template.FR.type=='group', 'user-define-16x16': wiStep.template.FR.type=='family', 'curve-16x16': wiStep.template.FR.type=='curve'}"></span>
                                <input type="text" class='form-control' ng-model='wiStep.template.FR.name' disabled>
                            </div>
                        </div>
                        <div class='a-row'>
                            <button class="btn btn-default" type="button" ng-click="wiStep.onSelectTemplate('PR')">
                                Porosity
                            </button>
                            <div>
                                <span ng-class="{'zone-table-16x16': wiStep.template.PR.type=='group', 'user-define-16x16': wiStep.template.PR.type=='family', 'curve-16x16': wiStep.template.PR.type=='curve'}"></span>
                                <input type="text" class='form-control' ng-model='wiStep.template.PR.name' disabled>
                            </div>
                        </div> -->
                    </div>
                </div>

            </wi-tab>
            <wi-tab heading='Select Input'>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Well</th>
                            <th>Dataset</th>
                            <th>Formation Resistivity</th>
                            <th>Porosity</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in wiStep.inputs">
                            <td>{{item.well}}</td>
                            <td>{{item.dataset}}</td>
                            <td>
                                <ui-select ng-model='item.Fr'>
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat='curve in item.FRArr'>{{curve.name}}</ui-select-choices>
                                </ui-select>
                            </td>
                            <td>
                                <ui-select ng-model='item.Pr'>
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat='curve in item.PRArr'>{{curve.name}}</ui-select-choices>
                                </ui-select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" ng-click="wiStep.onDeleteInput($index)">
                                    <span class="delete-16x16"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </wi-tab>
            <wi-tab heading='Parameters'>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Well</th>
                            <th>Dataset</th>
                            <th>Tortuosity Factor (a)</th>
                            <th>Cementation Exponent (m)</th>
                            <th>Saturation Exponent (n)</th>
                            <th>Water Resistivity (Rw)</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in wiStep.inputs">
                            <td>{{item.well}}</td>
                            <td>{{item.dataset}}</td>
                            <td>
                                <input type="number" class="form-control" ng-model='item.a' step='any'>
                            </td>
                            <td>
                                <input type="number" class="form-control" ng-model='item.m' step='any'>
                            </td>
                            <td>
                                <input type="number" class="form-control" ng-model='item.n' step='any'>
                            </td>
                            <td>
                                <input type="number" class="form-control" ng-model='item.Rw' step='any'>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" ng-click="wiStep.onDeleteInput($index)">
                                    <span class="delete-16x16"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </wi-tab>
        </wi-tabset>
    </div>
</div>