<div class="zone-template-manager">
    <div class="left-side">
        <div class="template-tree">
            <div class='left-heading'>
                <h5>Templates</h5>
                <div class="button-area" style="position:relative">
                    <!-- <button class='btn' ng-click="wiZoneTemplateManager.exportTemplate()" ng-disabled="!wiZoneTemplateManager.selectedTemplate">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                    <button class='btn' ng-click="wiZoneTemplateManager.deleteTemplate()" ng-disabled="!wiZoneTemplateManager.selectedTemplate">
                        <i class="fa fa-times"></i> -->
                    <!-- </button> -->
                    <button title="Create new template" class='btn pull-right' ng-click="wiZoneTemplateManager.createTemplate()">
                        <i class="ti-plus"></i>
                    </button>
                    <button title="Refresh templates list" class='btn' ng-click="wiZoneTemplateManager.refreshTemplateList()">
                        <i class="ti-reload"></i>
                    </button>
                    <button title="More" class="btn" ng-click="wiZoneTemplateManager.showMoreButtonContextMenuFunction($event, $index)" ng-disabled="!wiZoneTemplateManager.selectedTemplate">
                        <i class="ti-more"></i>
                    </button>
                </div>
            </div>
            <div class="scroll-container">
                <wi-base-treeview name="zoneTemplateManagerTreeview" config="wiZoneTemplateManager.templateConfig" container="wiZoneTemplateManager"
                    on-click-function="wiZoneTemplateManager.templateClickFunction" filter="" show-context-menu-function="wiZoneTemplateManager.showTreeContextMenuFunction">
                </wi-base-treeview>
            </div>
        </div>
    </div>
    <div class="right-side" style="box-sizing:border-box">
        <div class="right-heading">
            <h5 style="margin-right: 15px; font-weight:bold;display:inline-block" ng-show="wiZoneTemplateManager.zoneTemplates.length !== 0">
                Order by: </h5>
            <select ng-init="wiZoneTemplateManager.zoneTemplateOrder='none'" ng-model="wiZoneTemplateManager.zoneTemplateOrder" ng-show="wiZoneTemplateManager.zoneTemplates.length !== 0">
                <option value="none">None</option>
                <option value="idTemplate" ng-hide="wiZoneTemplateManager.newTemplate">Template id</option>
                <option value="background">Template name</option>
            </select>
            <div class="button-area">
                <button title="Apply changes" class='btn' ng-disabled="!(wiZoneTemplateManager.zoneTemplateEditted || !(!wiZoneTemplateManager.newTemplate || wiZoneTemplateManager.zoneTemplates.length==0))"
                    ng-click="wiZoneTemplateManager.editZoneTemplate()">
                    <i class="ti-check"></i>
                </button>
                <button title="Delete selected zones" class='btn' ng-click="wiZoneTemplateManager.deleteZoneTemplate()" ng-disabled="!(wiZoneTemplateManager.newTemplate || wiZoneTemplateManager.selectedZoneTemplates.length!=0)">
                    <i class="ti-close"></i>
                </button>
                <button title="Create new zone" class='btn' ng-click="wiZoneTemplateManager.createZoneTemplate()" ng-disabled="!wiZoneTemplateManager.selectedTemplate">
                    <i class="ti-plus"></i>
                </button>
                <button title="Refresh zones list" class='btn' ng-click="wiZoneTemplateManager.refreshZoneTemplateList()" ng-disabled="!wiZoneTemplateManager.selectedTemplate || wiZoneTemplateManager.newTemplate">
                    <i class="ti-reload"></i>
                </button>
            </div>
        </div>
        <div class="content-area">
            <div class="zone-area" style="padding-top: 15px">
                <table class="text-on-table table table-bordered" ng-show="wiZoneTemplateManager.zoneTemplates.length!==0">
                    <thead>
                        <tr>
                            <th style="width: 5%"></th>
                            <th width="20%" style="text-align: center;">Zoneset name</th>
                            <!-- <th width="20%">Sample</th> -->
                            <th width="25%" style="text-align: center;">Background</th>
                            <th width="25%" style="text-align: center;">Foreground</th>
                            <th width="25%" style="text-align: center;">Pattern</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="zone in wiZoneTemplateManager.zoneTemplates | orderBy: wiZoneTemplateManager.zoneTemplateOrder" ng-init="zone.flag = false"
                            ng-class="{'selected': zone.flag}">
                            <td style="width: 10%;" class="border-right-gray" ng-click="wiZoneTemplateManager.selectZoneTemplateToggle(zone)">
                                <i class='glyphicon glyphicon-ok' ng-class="{'color-black': zone.flag, 'color-lightgray': !zone.flag}"></i>
                            </td>
                            <td width="20%">
                                <input type="text" ng-model="zone.name" class="form-control" ng-change="wiZoneTemplateManager.onZoneTemplateChanged($index);"
                                    style="height: auto;">
                            </td>
                            <!-- <td width="20%">
                                <wi-canvas-rect name="{{zone.name}}" pattern="{{zone.pattern}}" foreground="{{zone.foreground}}" background="{{zone.background}}"
                                    width="80" height="20">
                                </wi-canvas-rect>
                            </td> -->

                            <td width="25%">
                                <button ng-click="wiZoneTemplateManager.backgroundZoneTemplate($index);" ng-style="{'background-color':zone.background}"
                                    class="form-control wi-form-control thick-border" style="width: 103px; height: 28px; margin: auto;">
                            </td>
                            <td width="25%">
                                <button ng-click="wiZoneTemplateManager.foregroundZoneTemplate($index);" ng-style="{'background-color':zone.foreground}"
                                    class="form-control wi-form-control thick-border" style="width: 103px; height: 28px; margin: auto;">
                                </button>
                            </td>
                            <td width="25%">
                                <button ng-click="wiZoneTemplateManager.choosePattern($index)" class="btn btn-default padding-0 thick-border">
                                    <wi-canvas-rect name="row_{{$index}}" pattern="{{zone.pattern}}" width="100" height="26" foreground="{{zone.foreground}}"
                                        background='{{zone.background}}'>
                                    </wi-canvas-rect>
                                </button>
            </div>
            <!-- <ui-select theme="bootstrap" ng-model="zone.pattern" ng-change="wiZoneTemplateManager.onZoneTemplateChanged($index);" search-enabled="false">
                                    <ui-select-match>
                                        <wi-canvas-rect name="row_{{$index}}" pattern="{{zone.pattern}}" width="80" height="20">
                                        </wi-canvas-rect>
                                    </ui-select-match>
                                    <ui-select-choices repeat="selectedPattern in wiZoneTemplateManager.selectPatterns">
                                        <div>
                                            <span class="col-sm-3 tiny-text padding-0">{{selectedPattern | uppercase}}</span>
                                            <wi-canvas-rect name="{{selectedPattern}}" pattern="{{selectedPattern}}" width="40" height="20" style="float: right;">
                                            </wi-canvas-rect>
                                        </div>
                                    </ui-select-choices>
                                </ui-select> -->
            </td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
</div>