<div class="zone-template-manager">
    <div class="left-side">
        <div class="template-tree" style="display: flex; flex-direction: column;">
            <div class='left-heading' style='flex-basis:40px;'>
                <h5>Templates</h5>
                <div class="button-area" style="position:relative">
                    <label title="Create new template" class='btn pull-right' ng-click="wiZoneTemplateManager.createTemplate()">
                        <i class="ti-plus color-blue"></i>
                    </label>
                    <label title="Refresh templates list" class='btn' ng-click="wiZoneTemplateManager.refreshTemplateList()">
                        <i class="ti-reload color-blue"></i>
                    </label>
                    <label title="More" class="btn" ng-click="wiZoneTemplateManager.showMoreButtonContextMenuFunction($event, $index)" ng-disabled="!wiZoneTemplateManager.selectedTemplate">
                        <i class="ti-more" ng-class="{'color-blue': wiZoneTemplateManager.selectedTemplate, 'color-lightgray': !wiZoneTemplateManager.selectedTemplate}"></i>
                    </label>
                </div>
            </div>
            <div class="left-tree">
                <div style='background-color:white;display: flex;padding-left: 7px; border-bottom: 1px solid #ccc; flex-basis:28px;'>
                    <i style="font-size: 16px; line-height:28px;z-index:1;color:#aaa;float: left;" class="fa fa-search"></i>
                    <input type='text' id="wztmFocus" style='flex:1; margin-left: -22px; padding-left: 32px;color:steelblue;border: none' ng-model="wiZoneTemplateManager.filter"
                        placeholder="[Search]">
                </div>
                <wi-scroll id-scroll="'wztmTreeScroll'" style='display:flex;height:calc(100% - 68px);' up-trigger='wiZoneTemplateManager.upTrigger'
                    down-trigger='wiZoneTemplateManager.downTrigger'>
                    <wi-base-treeview name="zoneTemplateManagerTreeview" config="wiZoneTemplateManager.templateConfig" container="wiZoneTemplateManager"
                        on-click-function="wiZoneTemplateManager.templateClickFunction" filter="{{wiZoneTemplateManager.filter}}"
                        show-context-menu-function="wiZoneTemplateManager.showTreeContextMenuFunction">
                    </wi-base-treeview>
                </wi-scroll>
            </div>
        </div>
    </div>
    <div class="right-side" style="box-sizing:border-box">
        <div class="right-heading" style='flex-basis:40px'>
            <h5 style="margin: 6px; margin-right: 15px; font-weight:bold;display:inline-block" ng-show="wiZoneTemplateManager.zoneTemplates.length !== 0">
                Order by: </h5>
            <select ng-init="wiZoneTemplateManager.zoneTemplateOrder='idZoneTemplate'" ng-model="wiZoneTemplateManager.zoneTemplateOrder" ng-show="wiZoneTemplateManager.zoneTemplates.length !== 0">
                <option value="idZoneTemplate">Zone id</option>
                <option value="name">Zone name</option>
            </select>
            <div class="button-area">
                <label title="Apply changes" class='btn' ng-disabled="!wiZoneTemplateManager.zoneTemplateEditted" ng-click="wiZoneTemplateManager.editZoneTemplate()">
                    <i class="ti-check" ng-class="{'color-blue': wiZoneTemplateManager.zoneTemplateEditted, 'color-lightgray':!wiZoneTemplateManager.zoneTemplateEditted}"></i>
                </label>
                <label title="Delete zones" class='btn' ng-click="wiZoneTemplateManager.showDeleteContextMenu($event, $index)" ng-disabled="wiZoneTemplateManager.zoneTemplates.length==0">
                    <i class="ti-close" ng-class="{'color-blue': wiZoneTemplateManager.zoneTemplates.length!==0, 'color-lightgray': wiZoneTemplateManager.zoneTemplates.length==0}"></i>
                </label>
                <label title="Create new zone" class='btn' ng-click="wiZoneTemplateManager.createZoneTemplate()" ng-disabled="!wiZoneTemplateManager.selectedTemplate">
                    <i class="ti-plus" ng-class="{'color-blue': wiZoneTemplateManager.selectedTemplate, 'color-lightgray': !wiZoneTemplateManager.selectedTemplate}"></i>
                </label>
                <label title="Refresh zones list" class='btn' ng-click="wiZoneTemplateManager.refreshZoneTemplateList()" ng-disabled="!wiZoneTemplateManager.selectedTemplate">
                    <i class="ti-reload" ng-class="{'color-blue': wiZoneTemplateManager.selectedTemplate, 'color-lightgray': !wiZoneTemplateManager.selectedTemplate}"></i>
                </label>
            </div>
        </div>
        <div class="content-area" id="zoneTemplateScroll">
            <div class="zone-area">
                <table class="text-on-table table table-bordered" ng-show="wiZoneTemplateManager.zoneTemplates.length!==0">
                    <thead>
                        <tr>
                            <th style="width: 5%"></th>
                            <th width="20%" style="text-align: center;">ZoneTemplate name</th>
                            <th width="25%" style="text-align: center;">Background</th>
                            <th width="25%" style="text-align: center;">Foreground</th>
                            <th width="25%" style="text-align: center;">Pattern</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="zone in wiZoneTemplateManager.zoneTemplates | orderBy: wiZoneTemplateManager.zoneTemplateOrder" ng-init="zone.flag = false"
                            ng-class="{'selected': zone.flag}">
                            <td style="width: 10%;" class="border-right-gray" ng-click="wiZoneTemplateManager.selectZoneTemplateToggle(zone)">
                                <i class='glyphicon glyphicon-ok' ng-class="{'color-black': zone.flag, 'color-lightgray': !zone.flag}"></i>
                            </td>
                            <td width="20%">
                                <input type="text" ng-model="zone.name" class="form-control" ng-change="wiZoneTemplateManager.onZoneTemplateChanged(zone);"
                                    style="height: auto;">
                            </td>

                            <td width="25%">
                                <button ng-click="wiZoneTemplateManager.backgroundZoneTemplate(zone);" ng-style="{'background-color':zone.background}" class="form-control wi-form-control thick-border"
                                    style="width: 103px; height: 28px; margin: auto;">
                            </td>
                            <td width="25%">
                                <button ng-click="wiZoneTemplateManager.foregroundZoneTemplate(zone);" ng-style="{'background-color':zone.foreground}" class="form-control wi-form-control thick-border"
                                    style="width: 103px; height: 28px; margin: auto;">
                                </button>
                            </td>
                            <td width="25%">
                                <button ng-click="wiZoneTemplateManager.choosePattern(zone)" class="btn btn-default padding-0 thick-border">
                                    <wi-canvas-rect name="row_{{$index}}" pattern="{{zone.pattern}}" width="100" height="26" foreground="{{zone.foreground}}"
                                        background='{{zone.background}}'>
                                    </wi-canvas-rect>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>