<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked();" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Zone Management</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row dialog-style">
                        <form class='form-horizontal form-condensed zoneForm'>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="col-sm-3 padding-left-3em">Well</label>
                                        <div class="col-sm-9">
                                            <select class="form-control wi-form-control"
                                                    ng-model="wiModal.SelectedWell"
                                                    ng-change="wiModal.onChangeWell()"
                                                    ng-options="well as well.properties.name for well in wiModal.wellArr track by well.id">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input type="radio" name="type">
                                        <label>Parameter</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input type="radio" name="type">
                                        <label>User Defined</label>
                                    </div>
                                </div>
                            </div>
                            <h5>User Defined</h5>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 padding-left-4em">Zone Set</label>
                                    <div class="col-sm-6">
                                        <select class="form-control wi-form-control"
                                                ng-model="wiModal.SelectedZoneSet"
                                                ng-options="zoneset as zoneset.properties.name for zoneset in wiModal.zonesetsArr"
                                                ng-change="wiModal.onChangeZoneSet()">
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-default normal-text">Edit</button>
                                    </div>
                                </div>
                            </div>
                            <h5>Zones</h5>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 padding-left-4em padding-right-0">Reference Depth</label>
                                    <div class="col-sm-3">
                                        <select class="form-control wi-form-control">
                                            <option value="MD">MD</option>
                                            <option value="TVD" disabled>TVD</option>
                                            <option value="TVDSS" disabled>TVDSS</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row" style="height:40%">
                                <div class='col-sm-9 col-xs-12' style='overflow-x:hidden; overflow-y:auto;'>
                                    <table class="table table-bordered zonesTable width-100-percent">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%">No</th>
                                                <th style="width: 15%">Name</th>
                                                <th style="width: 15%">Top Depth</th>
                                                <th style="width: 15%">Bottom Depth</th>
                                                <th style="width: 12%">Foreground</th>
                                                <th style="width: 12%">Background</th>
                                                <th>Pattern</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="zone in wiModal.zoneArr"
                                                ng-class="{selected:$index == selectedRow}"
                                                ng-click="wiModal.setClickedRow($index)">
                                                <td>{{$index+1}}</td>
                                                <td>
                                                    <input type="text" 
                                                            ng-model="zone.properties.name"
                                                            class="form-control wi-form-control">
                                                </td>
                                                <td>
                                                    <input type="number" step="0.01"
                                                            ng-model="zone.properties.startDepth"
                                                            class="form-control wi-form-control">
                                                </td>
                                                <td>
                                                    <input type="number" step="0.01" 
                                                            ng-model="zone.properties.endDepth"
                                                            class="form-control wi-form-control">
                                                </td>
                                                <td>
                                                    <button ng-click="wiModal.foregroundZone($index);"
                                                            ng-style="{'background-color':zone.properties.foreground}"
                                                            class="form-control wi-form-control width-80px height-20px thick-border">
                                                    </button>
                                                </td>
                                                <td>
                                                    <button ng-click="wiModal.backgroundZone($index);"
                                                            ng-style="{'background-color':zone.properties.background}"
                                                            class="form-control wi-form-control width-80px height-20px thick-border">
                                                    </button>
                                                </td>
                                                <td>
                                                    <ui-select theme="bootstrap" 
                                                                ng-model="zone.properties.fill.pattern.name">
                                                        <ui-select-match>
                                                            <wi-canvas-rect name="row_{{$index}}" 
                                                                            pattern="{{zone.properties.fill.pattern.name}}" 
                                                                            width="40" height="20" 
                                                                            foreground="{{zone.properties.foreground}}" 
                                                                            background='{{zone.properties.background}}'>
                                                            </wi-canvas-rect>
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="selectedPattern in wiModal.selectPatterns">
                                                            <wi-canvas-rect name="{{selectedPattern}}" pattern="{{selectedPattern}}" 
                                                                            width="40" height="20" 
                                                                            foreground="{{zone.properties.foreground}}" 
                                                                            background="{{zone.properties.background}}">
                                                            </wi-canvas-rect>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class='col-sm-3 col-xs-12' style='position:relative;'>
                                    <div>
                                        <button class="btn btn-default display-block width-100-percent text-ellipsis" style="margin-bottom:5px;">Browse</button>
                                        <button class="btn btn-default display-block width-100-percent text-ellipsis" style="margin-bottom:5px;">Paste</button>
                                        <button class="btn btn-default display-block width-100-percent text-ellipsis" style="margin-bottom:5px;">Export</button>
                                    </div>
                                    <div style='margin-top:5em;'>
                                        <button class="btn btn-default display-block width-100-percent text-ellipsis" style="margin-bottom:5px;">
                                            <i class="plus-16x16"></i>
                                            <span>Add Row Above</span>
                                        </button>
                                        <button class="btn btn-default display-block width-100-percent text-ellipsis" style="margin-bottom:5px;">
                                            <i class="plus-16x16"></i>                                                    
                                            <span>Add Row Below</span>
                                        </button>
                                        <button class="btn btn-default display-block width-100-percent text-ellipsis" style="margin-bottom:5px;">
                                            <i class="delete-16x16"></i>                                                    
                                            <span>Delete Rows</span>
                                        </button>
                                        <button class="btn btn-default display-block width-100-percent text-ellipsis" style="margin-bottom:5px;">
                                            <i class="delete-16x16"></i>
                                            <span>Clear All</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="wiModal.onApplyButtonClicked();" class="btn btn-default" ng-disabled="wiModal.IsNotValid();">
                            <span class="apply-16x16"></span>&nbsp;Apply
                        </button>
                <button type="button" ng-click="wiModal.onOKButtonClicked();" class="btn btn-default" ng-disabled="wiModal.IsNotValid();">
                            <span class="ok-16x16"></span>&nbsp;Ok
                        </button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked();" class="btn btn-default">
                            <span class="close-16x16"></span>&nbsp;Close
                        </button>
            </div>
        </div>
    </div>
</div>