<div class='modal fade' id="inventory-modal" data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog modal-lg'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">&times;</button>
                <h4>Data conflict</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        //TODO: item name existed!
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class='btn btn-default' ng-click='wiModal.onOkButtonClicked()'><span class="ok-16x16"></span>&nbsp;Ok
                </button>
                <button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()'><span
                    class="close-16x16"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>
