<style>
    .inventory-side {
        display:flex;
        flex-direction: column;
        padding:0;
        flex-basis: calc(32% - 30px);
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        margin: 10px;
        //padding: 10px;
        box-shadow: inset 1px 1px 1px #e1e1e1;
        background-color: #ffffff;
    }
    .inventory-side .panel-heading {
        padding-top:0;
        padding-bottom:0;
    }
    .inventory-center {
        flex: 1;
        position:relative;
    }
    .height24px span.btn.btn-default {
        line-height: 20px;
        height: 24px;
    }
</style>
<div class="inventory-main" style="display:flex;flex-direction:row;">
    <div class="panel panel-default inventory-side">
        <div style='display:flex;' class='panel-heading'>
            <h5 style='margin-right:10px;'>Project</h5>
            <wi-item-dropdown style='flex:1;margin:5px 0;' class='height24px' icon="'project-open-16x16'" on-wi-dropdown-init='wiInventory.getProjectList' on-item-changed="wiInventory.projectChanged">
            </wi-item-dropdown>
        </div>
        <wi-scroll id-scroll="'projectTreeScroll'" style='flex:1;display:flex;flex-direction:column;' up-trigger='wiInventory.upTriggerPrj', down-trigger='wiInventory.downTriggerPrj'>
            <wi-base-treeview name="projectTreeview" 
                config="wiInventory.projectConfig" 
                container="wiInventory" 
                on-click-function="wiInventory.prjClickFunction"
                on-select-function="wiInventory.selectProjectNode">
            </wi-base-treeview>
        </wi-scroll>
    </div>
    <div class="inventory-center">
        <button class="btn btn-default" style="padding:6px 6px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);"
            title="import" ng-click='wiInventory.onLoadButtonClicked()'>
            <span class="arrow-left-16x16"></span>
        </button>
    </div>
    <div class='panel panel-default inventory-side'>
        <div class='panel-heading'>
            <h5>Import Queue</h5>
        </div>
        <wi-base-treeview name="PendingQueueTreeview" 
            style="overflow-x:hidden;overflow-y:auto;"
            config="wiInventory.importItems" 
            container="wiInventory" 
            on-click-function="wiInventory.pendingQueueClickFunction"
            on-select-function="wiInventory.selectPendingQueueNode">
        </wi-base-treeview>
    </div>
    <div class="inventory-center">
        <button class="btn btn-default" style="padding:6px 6px;position:absolute;top:40%;left:50%;transform:translate(-50%, -50%);"
            title="import" ng-click='wiInventory.importButtonClicked()' >
            <span class="arrow-left-16x16"></span>
        </button>
        <button class="btn btn-default" style="padding:6px 6px;position:absolute;top:60%;left:50%;transform:translate(-50%, -50%);"
            title="revert" ng-click='wiInventory.revertButtonClicked()'>
            <span class="arrow-right-16x16"></span>
        </button>
    </div>
    <div class="panel panel-default inventory-side">
        <div style='display:flex;' class='panel-heading'>
            <h5 style='flex:1;'>Inventory</h5>
            <button style='margin:5px 0;padding:0 10px;' title="Toggle Well name/File name"
                ng-click="wiInventory.switchLabelTooltip(wiInventory.inventoryConfig[0].children)">
                <i class="fa fa-exchange"></i>
            </button>
        </div>
        <wi-scroll style='flex:1;display:flex;flex-direction:column;' 
            id-scroll="'inventoryTreeScroll'"
            up-trigger="wiInventory.upTrigger" down-trigger="wiInventory.downTrigger">
            <wi-base-treeview name="inventoryTreeview" 
                config="wiInventory.inventoryConfig" 
                container="wiInventory" 
                on-click-function="wiInventory.invClickFunction"
                on-select-function="wiInventory.selectInventoryNode">
            </wi-base-treeview>
        </wi-scroll>
    </div>
</div>
