wi-inventory {
    .inventory-main {
        background: #f4f4f4;
        height: calc(~"100% - 41px");
        #left-inventory {
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            height: 100%;
        }

        #center-inventory {
            text-align: center;
            height: 100%;
            .btn {
                padding: 5px;
                border: 0;
                height: 100%;
            }
        }

        #right-inventory {
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            height:100%;
        }
    }
}
